<div class="toolbar">
  <div class="breadcrumb">
    <li>
      <button title="Cancel Selected Flows" class="btn btn-default" name="cancel_flow"
              ng-disabled="!selectedFlowId"
              ng-click="controller.cancelButtonClicked()">
        <img src="/static/images/editdelete.png" class="toolbar_icon">
      </button>

      <button class="btn btn-default" name="copy_flow"
              title="Copy Flow"
              ng-disabled="!selectedFlowId"
              ng-click="controller.copyFlow()">
        <img src="/static/images/copy.png" class="toolbar-icon" />
      </button>

      <button title="Create Hunt From Flow" class="btn btn-default" name="create_hunt"
              ng-disabled="!selectedFlowId"
              ng-click="controller.createHuntFromFlow()">
        <i class="fa fa-crosshairs"></i>
      </button>
    </li>
  </div>
</div>

<div class="fill-parent-with-toolbar">
  <grr-flows-list flows-url="controller.flowsUrl"
                  selected-flow-id="selectedFlowId"
                  trigger-update="controller.triggerUpdate">
  </grr-flows-list>
</div>
