grr-start-flow-view {

  grr-flow-descriptors-tree {
    position: absolute;
    left: 0;
    width: $flow-descriptors-tree-width;
    top: 0;
    bottom: 0;
    border-right: $color-modal-border 1px solid;
  }

  div.flow-details {
    position: absolute;
    left: $flow-descriptors-tree-width;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}
