name: "GRR"
factory: "Daemon"
config: {
  [type.googleapis.com/fleetspeak.daemonservice.Config]: {
    argv: "/grr/persist/venv/bin/python"
    argv: "-m"
    argv: "grr_response_client.client"
    argv: "--config"
    argv: "/grr/src/devenv/config/grr-client.yaml"
  }
}
