grr-user-dashboard {
  td.reason,
  td.host {
    word-break: break-word;
  }

  div.new-ui-info {
    margin: 0 0 20px;
    height: auto;

    .btn {
      float: right;
      margin-top: -23px;
    }
  }
}
