<div name="NotificationDialog">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h3>Notifications</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-condensed table-bordered full-width">
      <tbody>
      <tr grr-paged-filtered-table
          page-size="50"
          grr-api-items-provider
          method="POST"
          url="::controller.notificationUrl">
        <td>
          <grr-user-notification-item notification="item" close="close()" />
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
  </div>
</div>
