<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">Settings</h3>
</div>
<div class="modal-body">
  <grr-form-value value="controller.userSettings"></grr-form-value>

  <div class="aler alert-success padded" role="alert"
       ng-if="controller.done && !controller.error">
    Settings were successfully updated. Reloading...
  </div>

  <div class="aler alert-danger padded" role="alert"
       ng-if="controller.done && controller.error">
    {$ controller.error $}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss()" name="Close">
    Close
  </button>
  <button class="btn btn-primary" ng-if="!controller.requestSent"
          ng-click="controller.saveSettings()" name="Proceed">
    Apply
  </button>
</div>
