@use '~material-theme' as c;
@import '~@angular/material/theming';

.container {
  background-color: c.mat-color(c.$background, app-bar);

  border: 1px solid c.mat-color(c.$foreground, divider-light);
  border-radius: 8px;
  @include mat-elevation(2);

  font-family: c.$google-sans-family;
  color: c.mat-color(c.$foreground, text-light);

  padding: 1em;
}

// Mostly copied from file_results_table styles
.copy-button {
  font-size: 16px;

  line-height: 18px !important;
  height: 18px !important;
  width: 18px !important;

  mat-icon {
    font-size: 16px;
  }
}

.hashHolder {
  margin-top: 1em;
  white-space: nowrap;
}

.hashName {
  font-weight: 500;
}
