<div class="padded">

  <div ng-if="!response">
    <uib-progressbar class="progress-striped active" max="100" value="50">
      Creating hunt...
    </uib-progressbar>
  </div>

  <div ng-if="response && response.error" class="alert alert-error">
    <p><em>Can't create hunt:</em></p>
    <p class="preserve-linebreaks">{$ response.data $}</p>
  </div>

  <div ng-if="response && !response.error" class="panel panel-default">
    <div class="panel-body">
      <p>
        Created Hunt:
        <grr-semantic-value value="response.data.value.hunt_id"></grr-semantic-value>
      </p>
      <p>
        Hunt arguments:<br/>
        <grr-semantic-value value="response.data.value.hunt_args"></grr-semantic-value>
      </p>
      <p>
        Runner arguments:<br/>
        <grr-semantic-value value="response.data.value.hunt_runner_args"></grr-semantic-value>
      </p>
    </div>
  </div>

</div>
