<ng-container *ngIf="approval$ | async as approval">
  <div class="wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title name="approvalTitle">
          Approval request for fleet collection:
          {{ getHuntTitle(approval.subject) }}
        </mat-card-title>
        <mat-card-title
          ><app-copy-button class="mat-small monospace id">{{
            approval.huntId
          }}</app-copy-button></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <td>Description:</td>
            <td>{{ approval.subject.description }}</td>
          </tr>
          <tr>
            <td>Requested by:</td>
            <td>
              <user-image [username]="approval.requestor" size="16px"></user-image>
              {{ approval.requestor }}
            </td>
          </tr>
          <tr>
            <td>Creation Time:</td>
            <app-timestamp [date]="approval.subject.created"> </app-timestamp>
          </tr>
          <tr>
            <td>Sent to:</td>
            <td>
              <span *ngFor="let approver of approval.requestedApprovers; last as isLast">
                <user-image [username]="approver" size="16px"></user-image>
                {{ approver }}{{ isLast ? "" : "," }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Reason:</td>
            <td>
              <app-text-with-links [text]="approval.reason"></app-text-with-links>
            </td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{ approval.status.type }}</td>
          </tr>
          <tr *ngIf="approval.approvers.length > 0">
            <td>Granted by:</td>
            <td>
              <span *ngFor="let approver of approval.approvers; last as isLast">
                <user-image [username]="approver" size="16px"></user-image>
                {{ approver }}{{ isLast ? "" : "," }}
              </span>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          [disabled]="disabled$ | async"
          (click)="grantApproval()"
          class="grant-button progress-spinner-button"
        >
          <div class="progress-spinner-button-label-container">
            <mat-spinner diameter="20" *ngIf="requestInProgress$ | async"></mat-spinner>
            <span matTooltip="You cannot approve this fleet collection.
                Either you are the requestor or the approval has already been granted"
              [matTooltipDisabled]="!(disabled$ | async)">
              Approve this fleet collection
            </span>
          </div>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="centered-content">
    <h4>
      Configuration details for fleet collection: {{ approval.subject.name }}
      <mat-chip-set *ngIf="!approval.subject.flowReference && !approval.subject.huntReference" role="list">
        <mat-chip
          class="yellow-chip"
          role="listitem"
          matTooltip="This hunt is new. It wasn't copied from another hunt and wasn't created from a flow. Make sure it is safe to run!"
          [disableRipple]="true"
          ><mat-icon>warning</mat-icon>New Configuration</mat-chip
        >
      </mat-chip-set>
    </h4>
  </div>

  <div *ngIf="approval.subject as hunt" class="centered-content">
    <hunt-original-reference class="extra-margin"
        [huntRef]="hunt.huntReference"
        [flowRef]="hunt.flowReference">
      </hunt-original-reference>
    <hunt-flow-arguments [hunt]=hunt></hunt-flow-arguments>
    <hunt-arguments [hunt]=hunt></hunt-arguments>
  </div>
</ng-container>
