@use '../../../main' as main;
@use '@angular/material' as mat;
@use '../../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: c.$page-spacing;
}

.wrapper {
  padding: 2em 0;
  background-color: mat.get-color-from-palette(c.$background, dark-background);

  mat-card {
    mat-card-header {
      font-size: 18px;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }

    table {
      margin-left: 1em;

      td {
        padding-right: 0.7em;
        padding-bottom: 0.7em;
      }
    }

    mat-card-actions {
      margin-left: 1em;
      margin-bottom: 1em;
    }

    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
  }
}

hunt-original-reference {
  display: block;
}

.mat-chip-list {
  margin-left: 0.5em;

  .yellow-chip {
    font-weight: bold;
  }
}
