<div class="padded" grr-force-refresh refresh-trigger="flowId">

  <div ng-if="!flowId">
    Please select a flow to see its details here.
  </div>

  <tabset ng-if="flowId">
    <tab heading="Flow Information"
         select="controller.activeTab = null">
      <grr-flow-overview flow-id="flowId" api-base-path="apiBasePath"
                         ng-if="!controller.activeTab" />
    </tab>

    <tab heading="Requests"
         select="controller.activeTab = 'requests'"
         active="controller['requests']">
      <grr-flow-requests flow-id="flowId" api-base-path="apiBasePath"
                         ng-if="controller.activeTab === 'requests'" />
    </tab>

    <tab heading="Results"
         select="controller.activeTab = 'results'"
         active="controller['results']">
      <grr-flow-results flow-id="flowId" api-base-path="apiBasePath"
                        ng-if="controller.activeTab === 'results'" />
    </tab>

    <tab heading="Log"
         select="controller.activeTab = 'log'"
         active="controller['log']">
      <grr-flow-log flow-id="flowId" api-base-path="apiBasePath"
                    ng-if="controller.activeTab === 'log'" />
    </tab>
  </tabset>

</div>
