<div ng-if="!controller.requestSent">

<div class="context-help">
  <a href="/help/user_manual.html#_flows" target="_blank">
    <i class="glyphicon glyphicon-question-sign"></i>
  </a>
</div>

<div class="padded" ng-if="!descriptor">
Please Select a flow to launch from the tree on the left.
</div>

<div class="padded" ng-if="descriptor">

  <grr-form-value value="controller.flowArguments"></grr-form-value>
  <hr>
  <grr-form-value value="controller.flowRunnerArguments"></grr-form-value>

  <!-- Output plugins only make sense for client flows (not for global flows). -->
  <div ng-if="clientId">
    <hr>
    <grr-form-proto-repeated-field
       descriptor="controller.outputPluginDescriptor"
       field="controller.outputPluginsField"
       value="controller.flowRunnerArguments.value.output_plugins">
    </grr-form-proto-repeated-field>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3 padded">
      <button class="btn btn-success Launch"
              ng-click="controller.onLaunchButtonClick()">
        Launch
      </button>
    </div>
  </div>

</div>

</div>

<div class="padded" ng-if="controller.requestSent">
  <div ng-if="!controller.responseData && !controller.responseError">
    <progressbar class="progress-striped active" max="100" value="50">
      Launching flow {$ descriptor['value']['name']['value'] $}...
    </progressbar>
  </div>

  <div class="panel panel-default" ng-if="controller.responseData">
    <div class="panel-body">
      <p>
        Launched Flow {$ descriptor['value']['name']['value'] $}:
      </p>
      <p>
        <grr-semantic-value value="controller.responseData"></grr-semantic-value>
      </p>
    </div>
  </div>

  <div class="alert alert-error" ng-if="controller.responseError">
    <p><em>Can't start flow {$ descriptor['name'] $}:</em></p>
    <p class="preserve-linebreaks">{$ controller.responseError $}</p>
  </div>
</div>
