Source: grr-server
Section: misc
Priority: extra
Maintainer: GRR developers <grr-dev@googlegroups.com>
Build-Depends: debhelper (>= 8), python, python-setuptools
Standards-Version: 3.8.3
Homepage: https://github.com/google/grr

Package: grr-server
Section: python
Architecture: any
Depends: apache2-utils, ipython, m2crypto, mongodb, python-dateutil, python-pandas, python-pymongo, sleuthkit-lib, pytsk3, python-protobuf, dpkg-dev, debhelper, python-mock, python-werkzeug
Description: GRR Rapid Response is an Incident Response Framework
 GRR Rapid Response is an Incident Response Framework.

