#!/usr/bin/make -f
# debian/rules that uses debhelper >= 8.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@

dh_python2:


override_dh_pysupport:

override_dh_auto_clean:

override_dh_auto_test:

override_dh_installinit:
	dh_installinit
	# Add path for symbolic link
	mkdir -p debian/grr-server/usr/sbin
	# Set up default configuration
	mkdir -p debian/grr-server/etc/grr
	install -p -m644 config/grr-server.yaml debian/grr-server/etc/grr
	# Set up upstart scripts
	mkdir -p debian/grr-server/etc/default
	mkdir -p debian/grr-server/etc/init
	install -p -m644 config/debian/default/grr-* debian/grr-server/etc/default
	install -p -m644 config/debian/upstart/grr-* debian/grr-server/etc/init
	# Do not copy the client script across for the server package.
	rm debian/grr-server/etc/init/grr-client.conf
	# Set up grr-server shared directories and files
	mkdir -p debian/grr-server/usr/share/grr/scripts
	mkdir -p debian/grr-server/usr/share/grr/binaries
	mkdir -p debian/grr-server/usr/share/grr/executables/linux/installers/
	mkdir -p debian/grr-server/usr/share/grr/executables/darwin/installers/
	mkdir -p debian/grr-server/usr/share/grr/executables/windows/installers/
	mkdir -p debian/grr-server/usr/share/grr/executables/linux/config/
	mkdir -p debian/grr-server/usr/share/grr/executables/darwin/config/
	mkdir -p debian/grr-server/usr/share/grr/executables/windows/config/
	mkdir -p debian/grr-server/usr/share/grr/executables/windows/templates/unzipsfx/

	# Generate all the template directories.
	mkdir -p $(shell ls -d executables/*/templates/ |sed 's/executables/debian\/grr-server\/usr\/share\/grr\/executables/g')

	install -p -m755 scripts/* debian/grr-server/usr/share/grr/scripts
	# Make a copy of the default config so users can refer to it.
	install -p -m644 -T config/grr-server.yaml debian/grr-server/usr/share/grr/grr-server.yaml.default

	# Copy all the templates.
	for template in executables/*/templates/grr-client*; do install -p -m755 $${template} debian/grr-server/usr/share/grr/$${template}; done

	install -p -m755 executables/windows/templates/unzipsfx/*.* debian/grr-server/usr/share/grr/executables/windows/templates/unzipsfx/

	install -p -m755 binaries/*.* debian/grr-server/usr/share/grr/binaries/
	# Set up log directory
	mkdir -p debian/grr-server/var/log/grr
	# Add post installation actions
	cat debian/grr-server.postinst.in >> debian/grr-server.postinst.debhelper

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_link:

override_dh_gconf:

override_dh_icons:

override_dh_perl:
