<div class="export-buttons pull-right">
  <div class="well well-sm export-well">
    <span class="control-label">Download As:</span>
    <select class="form-control pull-left"
            ng-options="plugin as displayName for
                        (plugin, displayName) in controller.pluginToDisplayName"
            ng-model="controller.selectedPlugin"
            id="plugin-select">
    </select>
    <button ng-click="controller.downloadAs(controller.selectedPlugin)" type="button"
            name="download-as" class="btn btn-default">
      Download
    </button>
  </div>
</div>
<div class="clearfix"></div>
