*[grr-splitter] {
  .gutter {
    background-color: $color-modal-border;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter-vertical {
    cursor: ns-resize;
    background-image: url('/static/images/horizontal-grip.png');
  }

  .gutter-horizontal {
    cursor: ew-resize;
    background-image: url('/static/images/vertical-grip.png');
    float: left;
    height: 100%;
  }
}
