grr-wizard-form {
  span.page-indicator {
    position: absolute;
    left: 15px;
    top: 5em;
    font-size: 50%;
    font-style: italic;
  }

  .WizardBar.modal-header i.glyphicon {
    font-size: 80%;
  }
}
