@use "@angular/material" as mat;
@use "../../../../material-theme" as c;

$container-padding: 30px;
$row-padding: 1.5em;

[hidden] {
  display: none;
}

:host.closed .content {
  display: none;
}

.h1 {
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  border-radius: 8px;
  border: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  background: white;
  margin-top: c.$card-margin;
  padding: 10px 0;
  color: mat.get-color-from-palette(mat.$grey-palette, 800);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $container-padding;
    padding-right: 5px;
  }

  .advance-params-button {
    color: mat.get-color-from-palette(mat.$blue-palette, 600);
    margin-left: $container-padding;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .form-content {
    display: flex;
    flex-direction: column;
  }

  .param-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5em;
  }

  .param-name {
    color: mat.get-color-from-palette(mat.$grey-palette, 900);
    margin-bottom: 1.25em;
  }

  mat-button-toggle-group {
    margin-bottom: 1.25em;
    margin-right: 2em;
  }

  mat-form-field {
    width: 15em;
    margin-right: 8px;
  }

  .info-icon {
    margin-right: 100px;
  }

  .rollout-speed {
    margin-left: 0.5em;
  }

  .run-on {
    margin-left: 3.4em;
  }

  .params-title {
    padding-top: $row-padding;
  }

  .params-row {
    margin-top: $row-padding;
  }

  .input-suffix {
    font-style: italic;
    color: mat.get-color-from-palette(mat.$grey-palette, 600);
  }

  .advanced-params {
    border-top: 1px solid
      mat.get-color-from-palette(c.$foreground, divider-light);
    padding-left: $container-padding;
  }

  .basic-params {
    padding-left: $container-padding;
  }
}
