<div class="wrapper">
  <h1 class="header" (click)="showForm($event)">
    Rollout parameters
    <button
      mat-icon-button
      id="param-form-toggle"
      class="corner-button"
      (click)="toggleForm($event)"
      aria-label="View/hide choose param form"
    >
      <mat-icon>{{ hideContent ? "expand_less" : "expand_more" }}</mat-icon>
    </button>
  </h1>

  <div class="content">
    <form>
      <div class="basic-params">
        <app-rollout-form #rolloutForm></app-rollout-form>
        <div class="params-row">
          <mat-form-field name="expiryTimeFormField" appearance="outline" class="mb-2 mt-1">
            <mat-label>Active for</mat-label>
            <input
              matInput
              durationInput
              [formControl]="controls.expiryTime"
              name="activeFor"
              autocomplete="off"
            />
            <mat-hint name="expiryTimeHint" align="start">
              <ng-container
                  *ngIf="controls.expiryTime.showError()
                        else showExpiryTime">
              {{controls.expiryTime.errors?.['input_error'] ?
                controls.expiryTime.errors?.['input_error'] : "Invalid input"}}
              </ng-container>
              <ng-template #showExpiryTime>
                Will expire in {{ controls.expiryTime.printableStringLong$ | async }}
              </ng-template>
            </mat-hint>
          </mat-form-field>
          <mat-icon
            matTooltip="week (w), day (d), hour (h), minute (m), second (s)"
            class="info-icon"
          >
            info_outline
          </mat-icon>
        </div>
      </div>

      <ng-container [ngTemplateOutlet]="toggleAdvanceParamsButton"
          [ngTemplateOutletContext]="{name:'toggle-advance-params-top', class:'ml-container'}">
      </ng-container>

      <div class="advanced-params" [hidden]="hideAdvancedParams">
        <h1 class="params-title">Cancel fleet collection if…</h1>
        <div class="params-row">
          <div class="mr-2">
            <mat-form-field appearance="outline">
              <mat-label>Crash limit</mat-label>
              <input
                matInput
                [formControl]="controls.crashLimit"
                name="crashLimit"
                type="number"
                autocomplete="off"
              />
              <span matSuffix class="input-suffix">clients</span>
            </mat-form-field>
            <mat-icon
              matTooltip="Stop the fleet collection when this threshold is reached"
              class="info-icon"
            >
              info_outline
            </mat-icon>
          </div>

          <div class="mr-2">
            <mat-form-field appearance="outline" class="mb-2">
              <mat-label>Average results per client</mat-label>
              <input
                matInput
                [formControl]="controls.avgResultsPerClientLimit"
                name="aveResults"
                type="number"
                autocomplete="off"
              />
              <span matSuffix class="input-suffix">results collected</span>
              <mat-hint align="start">Applicable after 1000 clients</mat-hint>
            </mat-form-field>
            <mat-icon
              matTooltip="After the fleet collection excecuted on 1000 clients
                                we get an average number of results / client. If this average value
                                exceeds the defined threshold, the collection stops. This is not a
                                hard limit applied to every client."
              class="info-icon"
            >
              info_outline
            </mat-icon>
          </div>

        </div>
        <div class="params-row">
          <div class="mr-2">
            <mat-form-field
                name="aveCPUFormField"
                appearance="outline"
                class="mb-2">
              <mat-label>Average CPU (per client)</mat-label>
              <input
                matInput
                durationInput
                [formControl]="controls.avgCpuSecondsPerClientLimit"
                name="aveCPU"
                autocomplete="off"
              />
              <mat-hint name="aveCPUHint" align="start">
                <ng-container
                    *ngIf="controls.avgCpuSecondsPerClientLimit.showError()
                          else defaultHint">
                  {{controls.avgCpuSecondsPerClientLimit.errors?.['input_error'] ?
                    controls.avgCpuSecondsPerClientLimit.errors?.['input_error'] : "Invalid input"}}
                </ng-container>
                <ng-template #defaultHint>
                  Applicable after 1000 clients
                </ng-template>
              </mat-hint>
            </mat-form-field>
            <mat-icon
              matTooltip="After the fleet collection excecuted on 1000 clients we get an average
                                  CPU / client. If this average value exceeds the defined threshold,
                                  the collection stops. This is not a hard limit applied to every client.
                                  X CPU seconds means the flow consumed the equivalent of Xseconds of
                                  one core processing time in the client."
              class="info-icon"
            >
              info_outline
            </mat-icon>
          </div>

          <div class="mr-2">
            <mat-form-field
                appearance="outline"
                class="mb-2"
                name="aveNetworkFormField"
              >
              <mat-label>Average Network usage (per client)</mat-label>
              <input
                matInput
                byteInput
                [formControl]="controls.avgNetworkBytesPerClientLimit"
                name="aveNetwork"
                autocomplete="off"
              />
              <mat-hint align="start">
                <ng-container *ngIf="controls.avgNetworkBytesPerClientLimit.showError()
                      else defaultHint">
                  {{controls.avgNetworkBytesPerClientLimit.errors?.['input_error'] ?
                   controls.avgNetworkBytesPerClientLimit.errors?.['input_error'] :
                   "Invalid input"}}
                </ng-container>
                <ng-template #defaultHint>
                  Applicable after 1000 clients
                </ng-template>
              </mat-hint>
            </mat-form-field>
            <mat-icon
              matTooltip="After the fleet collection excecuted on 1000 clients we get an average
                                  number of bytes sent back / client. If this average value exceeds
                                  the defined threshold, the collection stops. This is not a hard
                                  limit applied to every client."
              class="info-icon"
            >
              info_outline
            </mat-icon>
          </div>

        </div>
        <h1 class="params-title">Cancel individual client collection (flow) if…</h1>
        <div class="params-row">
          <div class="mr-2 half">
            <div class="param-name">CPU time limit per client</div>
            <div class="toggle-custom-form-row">
              <mat-button-toggle-group appearance="standard"
                  class="toggle"
                  [formControl]="controls.perClientCpuLimitToggle">
                <mat-button-toggle
                  class="client-cpu-limit-option"
                  [value]="InputToggle.UNLIMITED"
                  >Unlimited</mat-button-toggle
                >
                <mat-button-toggle
                    class="client-cpu-limit-option"
                    [value]="InputToggle.CUSTOM"
                    matTooltip="Set a custom limit.
                                Use: week (w), day (d), hour (h), minute (m), second (s)"
                  >Custom</mat-button-toggle
                >
              </mat-button-toggle-group>
              <mat-form-field
                  name="perClientCPULimitFormField"
                  appearance="outline"
                  class="ml-2 mt-1"
                  *ngIf="controls.perClientCpuLimitToggle.value === InputToggle.CUSTOM">
                <mat-label>Custom CPU time limit per client</mat-label>
                <input
                  matInput
                  durationInput
                  [formControl]="controls.perClientCpuLimit"
                  name="perClientCpuLimit"
                  autocomplete="off"
                />
                <mat-hint
                    *ngIf="controls.perClientCpuLimit.showError()">
                  {{controls.perClientCpuLimit.errors?.['input_error'] ?
                  controls.perClientCpuLimit.errors?.['input_error'] : "Invalid input"}}
              </mat-hint>
            </mat-form-field>
              <mat-icon
                matTooltip="Stop file collection on client if this threshold is exceeded.
                                If this threshold is met, the client collection stops,
                                but the fleet collection continues."
                class="info-icon"
              >
                info_outline
              </mat-icon>
            </div>
          </div>
          <div class="mr-2 half">
            <div class="param-name">Network limit per client</div>
            <div class="toggle-custom-form-row">
              <mat-button-toggle-group appearance="standard"
                  class="toggle"
                  [formControl]="controls.perClientNetworkBytesLimitToggle">
                <mat-button-toggle
                  class="client-network-limit-option"
                  [value]="InputToggle.UNLIMITED"
                  >Unlimited</mat-button-toggle
                >
                <mat-button-toggle
                  class="client-network-limit-option"
                  [value]="InputToggle.CUSTOM"
                  >Custom</mat-button-toggle
                >
              </mat-button-toggle-group>
              <mat-form-field
                  appearance="outline"
                  class="ml-2 mt-1"
                  name="perClientNetworkBytesLimitFormField"
                  *ngIf="controls.perClientNetworkBytesLimitToggle.value === InputToggle.CUSTOM">
                <mat-label>Custom network limit per client</mat-label>
                <input
                  matInput
                  byteInput
                  [formControl]="controls.perClientNetworkBytesLimit"
                  name="perClientNetworkBytesLimit"
                  autocomplete="off"
                />
                <mat-hint
                    *ngIf="controls.perClientNetworkBytesLimit.showError()">
                  {{controls.perClientNetworkBytesLimit.errors?.['input_error'] ?
                  controls.perClientNetworkBytesLimit.errors?.['input_error'] : "Invalid input"}}
                </mat-hint>
              </mat-form-field>
              <mat-icon
              matTooltip="Stop file collection on client if this threshold is exceeded.
              If this threshold is met, the client collection stops, but the fleet collection continues."
                class="info-icon"
              >
                info_outline
              </mat-icon>
            </div>
          </div>
        </div>

        <ng-container [ngTemplateOutlet]="toggleAdvanceParamsButton"
          [ngTemplateOutletContext]="{name:'toggle-advance-params-bottom'}"></ng-container>
      </div>
    </form>
  </div>
</div>

<ng-template #toggleAdvanceParamsButton let-name="name" let-class="class">
  <button
    mat-button
    type="button"
    color="primary"
    [name]="name"
    [class]="'advance-params-button ' + class"
    (click)="toggleAdvancedParams()"
    aria-label="View/hide advanced params"
  >
    <mat-icon>{{ hideAdvancedParams ? "expand_more" : "expand_less" }}</mat-icon>
    {{ hideAdvancedParams ? "Show safety limits" : "Hide safety limits" }}
  </button>
</ng-template>