@use '@angular/material' as mat;
@use '../../../../material-theme' as c;

$container-padding: 30px;
$row-padding: 1.5em;

[hidden] {
  display: none;
}

:host.closed .content {
  display: none;
}

.h1 {
  font-size: 18px;
  line-height: 24px;
}

.ml-2 {
  margin-left: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-4 {
  margin-bottom: 4em;
}

.wrapper {
  border-radius: 8px;
  border: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  background: white;
  margin-top: c.$card-margin;
  padding: 10px 0;
  color: mat.get-color-from-palette(mat.$grey-palette, 800);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $container-padding;
    padding-right: 5px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    width: 15em;
    height: 4em;
  }

  .info-icon {
    margin-left: 0.5em;
    position: relative;
    top: 10px;
  }

  .params-title {
    padding-top: $row-padding;
  }

  .params-row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    > div {
      flex-grow: 1;
    }

    mat-form-field {
      margin-top: 1.5em;
    }
  }

  .input-suffix {
    font-style: italic;
    color: mat.get-color-from-palette(mat.$grey-palette, 600);
    padding-right: 10px;
    line-height: 20px;
  }

  .advanced-params {
    border-top: 1px solid
      mat.get-color-from-palette(c.$foreground, divider-light);
    padding-left: $container-padding;
  }

  .advance-params-button {
    margin: 10px 0;
  }

  .basic-params {
    padding-left: $container-padding;
  }

  .ml-container {
    margin-left: $container-padding;
  }
}
