@use '../../main' as main;
@use '@angular/material' as mat;
@use '../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: c.$page-spacing;
}

.wrapper {
  padding: 2em 0;
  background-color: mat.get-color-from-palette(c.$background, dark-background);

  mat-card {
    mat-card-header {
      font-size: 18px;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }

    table {
      margin-left: 1em;

      td {
        padding-right: 0.7em;
        padding-bottom: 0.7em;
      }
    }

    mat-card-actions {
      margin-left: 1em;
      margin-bottom: 1em;
    }

    .explanation {
      display: inline-block;
      width: 53%;
      vertical-align: middle;
      font-size: 14px;
      padding-left: 2em;
    }
  }
}

client-overview,
scheduled-flow-list,
.wrapper mat-card {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
