grr-file-details {

  ul.breadcrumb {
    margin: 0;
    padding: 0;
    background: $color-default-background;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  grr-version-dropdown {
    float: right;
    margin-top: 5px;

    select.form-control {
      margin-left: 10px;
      display: inline-block;
      width: auto;
    }
  }
}
