grr-file-timeline {

  tr.timeline-refresh-indicator {
    td {
      text-align: center;
      padding: 50px;
      background: $color-default-background;
      border: 0;
    }

    div {
      margin-top: 10px;
    }
  }

}
