<div>

  <div ng-if="!controller.fileContext.selectedFilePath" class="padded">
    Please select a file or a folder to see its details here.
  </div>

  <div ng-if="controller.fileContext.selectedFilePath" class="padded">

    <grr-breadcrumbs path="controller.fileContext.selectedFilePath"
                     strip-ending-slash="true">
    </grr-breadcrumbs>

    <grr-version-dropdown url="controller.fileVersionUrl"
                          version="controller.fileContext.selectedFileVersion">
    </grr-version-dropdown>

    <h1>{$ controller.selectedFileName $}</h1>

    <uib-tabset active="controller.currentTab">

      <uib-tab heading="Stats" index="'stats'">
        <div ng-if="controller.currentTab === 'stats'">
          <grr-file-stats-view></grr-file-stats-view>
        </div>
      </uib-tab>

      <uib-tab heading="Download" index="'download'"
               disable="controller.fileIsDirectory">
        <div ng-if="controller.currentTab === 'download'">
          <div grr-force-refresh refresh-trigger="controller.downloadQueryParams.age">
            <grr-file-download-view></grr-file-download-view>
          </div>
        </div>

      </uib-tab>

      <uib-tab heading="TextView" index="'textview'"
               disable="controller.fileIsDirectory">
        <div ng-if="controller.currentTab === 'textview'">
          <grr-file-text-view></grr-file-text-view>
        </div>
      </uib-tab>

      <uib-tab heading="HexView" index="'hexview'"
               disable="controller.fileIsDirectory">
        <div ng-if="controller.currentTab === 'hexview'">
          <grr-file-hex-view></grr-file-hex-view>
        </div>
      </uib-tab>

    </uib-tabset>

  </div>

</div>
