<div>

  <!-- Show pagination and content if there is file content. -->
  <div ng-if="controller.fileContent">

    <div>
      <uib-pagination total-items="controller.pageCount" items-per-page="1"
                  max-size="1" rotate="false" boundary-links="true"
                  ng-model="controller.page" ng-if="controller.pageCount > 1">
      </uib-pagination>

      <grr-encodings-dropdown encoding="controller.encoding">
      </grr-encodings-dropdown>

      <div style="clear:both"></div>
    </div>

    <div class="monospace">
      <pre>{$ controller.fileContent $}</pre>
    </div>

    <div>
      <uib-pagination total-items="controller.pageCount" items-per-page="1"
                  max-size="1" rotate="false" boundary-links="true"
                  ng-model="controller.page" ng-if="controller.pageCount > 1">
      </uib-pagination>
    </div>

  </div>

  <!-- Show a hint if no content exists. -->
  <div ng-if="!controller.fileContent" class="no-content">
    No file content to show.
  </div>

</div>