grr-file-text-view {

  grr-encodings-dropdown {
    margin: 5px 0;
    float: right;
  }

  .uib-pagination {
    margin: 5px 0;
  }

  .no-content {
    text-align: center;
    margin-top: 50px;
    font-size: 2.0em;
    color: $color-no-content-color;
  }
}
