<div>

  <div ng-if="!controller.fileContext.selectedFilePath" class="padded">
    Please select a file or a folder to see its details here.
  </div>

  <div ng-if="controller.fileContext.selectedFilePath" class="padded">

    <grr-breadcrumbs path="controller.fileContext.selectedFilePath"
                     strip-ending-slash="true">
    </grr-breadcrumbs>

    <grr-version-dropdown url="controller.fileVersionUrl"
                          version="controller.fileContext.selectedFileVersion">
    </grr-version-dropdown>

    <h1>{$ controller.selectedFileName $}</h1>

    <tabset active="controller.currentTab">

      <tab heading="Stats"
           ng-click="controller.selectTab('stats')"
           active="controller.tabsStates['stats']"
           index="stats">
        <div ng-if="currentTab == 'stats'">
          <grr-file-stats-view></grr-file-stats-view>
        </div>
      </tab>

      <tab heading="Download"
           ng-click="controller.selectTab('download')"
           active="controller.tabsStates['download']"
           disabled="controller.fileIsDirectory">
        <div ng-if="currentTab == 'download'">
          <div grr-force-refresh refresh-trigger="controller.downloadQueryParams.age">
            <grr-file-download-view></grr-file-download-view>
          </div>
        </div>

      </tab>

      <tab heading="TextView"
           ng-click="controller.selectTab('textview')"
           active="controller.tabsStates['textview']"
           disabled="controller.fileIsDirectory">
        <div ng-if="currentTab == 'textview'">
          <grr-file-text-view></grr-file-text-view>
        </div>
      </tab>

      <tab heading="HexView"
           ng-click="controller.selectTab('hexview')"
           active="controller.tabsStates['hexview']"
           disabled="controller.fileIsDirectory">
        <div ng-if="currentTab == 'hexview'">
          <grr-file-hex-view></grr-file-hex-view>
        </div>
      </tab>

    </tabset>

  </div>

</div>
