<table class="key-value-table" *ngFor="let user of users">
  <tr *ngIf="user.username">
    <td class="description">Username</td>
    <td class="value"><app-copy-button>{{user.username}}</app-copy-button></td>
  </tr>
  <tr *ngIf="user.fullName">
    <td class="description">Full name</td>
    <td class="value"><app-copy-button>{{user.fullName}}</app-copy-button></td>
  </tr>
  <tr *ngIf="user.lastLogon">
    <td class="description">Last logon</td>
    <td class="value">
      <app-timestamp [date]="user.lastLogon"></app-timestamp>
    </td>
  </tr>
  <tr *ngIf="user.homedir">
    <td class="description">Home directory</td>
    <td class="value"><app-copy-button>{{user.homedir}}</app-copy-button></td>
  </tr>
  <tr *ngIf="user.uid">
    <td class="description">UID</td>
    <td class="value"><app-copy-button>{{user.uid}}</app-copy-button></td>
  </tr>
  <tr *ngIf="user.gid">
    <td class="description">GID</td>
    <td class="value"><app-copy-button>{{user.gid}}</app-copy-button></td>
  </tr>
  <tr *ngIf="user.shell">
    <td class="description">Shell</td>
    <td class="value"><app-copy-button>{{user.shell}}</app-copy-button></td>
  </tr>
</table>
<div *ngIf="users.length === 0">None.</div>
