<div
  class="details-container"
  *ngIf="clientVersions$ | async as clientVersions"
>
  <div class="timeline">
    <div class="heading-since">
      <h1 class="heading">Client history</h1>
      <div class="since">
        Since {{clientVersions[clientVersions.length - 1].client.age |
        date:'dd-MM-yyyy'}}
      </div>
    </div>
    <mat-selection-list #timeline [multiple]="false" disableRipple>
      <mat-list-option
        *ngFor="let version of clientVersions; index as i"
        [value]="version.client"
        [selected]="(selectedIndex$ | async) === i"
        class="entry"
      >
        <div class="bullet-row">
          <mat-icon inline class="bullet-icon">circle</mat-icon>
          <app-timestamp
            [date]="version.client.age"
            relativeTimestamp="hidden"
            class="timestamp"
          ></app-timestamp>
        </div>
        <div class="change-list mat-body-2">
          <div *ngFor="let change of version.changes">{{change}}</div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div *ngIf="selectedClient as client" class="info">
    <h3 class="section-title client-title">
      <mat-icon class="computer-icon">computer</mat-icon>
      Client: {{ client.osInfo.fqdn || client.clientId }}
    </h3>
    <table class="section">
      <tr *ngIf="client.sourceFlowId">
        <td class="description">Source flow</td>
        <td class="value">
          <!-- Navigate to flow and close drawer. -->
          <a
            [routerLink]="['', {outlets: {
            'primary': ['clients', client.clientId, 'flows', client.sourceFlowId],
            'drawer': null}}]"
            class="text-link"
          >
            {{client.sourceFlowId}}
          </a>
        </td>
      </tr>
      <tr *ngIf="client.age">
        <td class="description">Collected at</td>
        <td class="value">
          <app-timestamp [date]="client.age"></app-timestamp>
        </td>
      </tr>
      <tr>
        <td class="description"></td>
        <td class="value">
          <button
            mat-stroked-button
            type="button"
            color="primary"
            class="progress-spinner-button"
            name="interrogate-button"
            (click)="triggerInterrogate()"
            [routerLink]="['', {outlets: {
              'primary': ['clients', client.clientId],
              'drawer': null}}]"
          >
            <mat-icon>refresh</mat-icon>
            Recollect metadata
          </button>
        </td>
      </tr>
    </table>

    <h3 class="section-title">Operating System</h3>
    <table class="section">
      <tr *ngIf="client.osInfo.system">
        <td class="description">System</td>
        <td class="value">
          <app-copy-button>{{client.osInfo.system}}</app-copy-button>
          <entry-history-button path="osInfo.system"></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.osInfo.release">
        <td class="description">Release</td>
        <td class="value">
          <app-copy-button>{{client.osInfo.release}}</app-copy-button>
          <entry-history-button path="osInfo.release"></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.osInfo.version">
        <td class="description">Version</td>
        <td class="value">
          <app-copy-button>{{client.osInfo.version}}</app-copy-button>
          <entry-history-button path="osInfo.version"></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.osInfo.kernel">
        <td class="description">Kernel</td>
        <td class="value">
          <app-copy-button>{{client.osInfo.kernel}}</app-copy-button>
          <entry-history-button path="osInfo.kernel"></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.knowledgeBase.osMajorVersion">
        <td class="description">OS major version</td>
        <td class="value">
          <app-copy-button
            >{{client.knowledgeBase.osMajorVersion}}</app-copy-button
          >
          <entry-history-button
            path="knowledgeBase.osMajorVersion"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.knowledgeBase.osMinorVersion">
        <td class="description">OS minor version</td>
        <td class="value">
          <app-copy-button
            >{{client.knowledgeBase.osMinorVersion}}</app-copy-button
          >
          <entry-history-button
            path="knowledgeBase.osMinorVersion"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.osInfo.installDate">
        <td class="description">Install date</td>
        <td class="value">
          <app-timestamp [date]="client.osInfo.installDate"></app-timestamp>
          <entry-history-button
            path="osInfo.installDate"
            type="timestamp"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.osInfo.fqdn">
        <td class="description">FQDN</td>
        <td class="value">
          <app-copy-button>{{ client.osInfo.fqdn }}</app-copy-button>
          <entry-history-button
            path="osInfo.fqdn"
            type="timestamp"
          ></entry-history-button>
        </td>
      </tr>
    </table>

    <h3 class="section-title">
      Users
      <entry-history-button
        path="users"
        type="user-list"
      ></entry-history-button>
    </h3>
    <users-details
      [users]="client.users.slice(0, currentNumUsersShown)"
    ></users-details>
    <button
      *ngIf="getAccordionButtonState(client.users.length, currentNumUsersShown, INITIAL_NUM_USERS_SHOWN) === 'show-more'"
      mat-button
      color="primary"
      (click)="currentNumUsersShown = client.users.length"
      name="toggle-users-details"
    >
      Show {{client.users.length - currentNumUsersShown}} more user<ng-template
        [ngIf]="client.users.length - currentNumUsersShown > 1"
        >s</ng-template
      >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button
      *ngIf="getAccordionButtonState(client.users.length, currentNumUsersShown, INITIAL_NUM_USERS_SHOWN) === 'show-less'"
      mat-button
      color="primary"
      (click)="currentNumUsersShown = INITIAL_NUM_USERS_SHOWN"
      name="toggle-users-details"
    >
      Show less <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <ng-container *ngIf="client.cloudInstance as cloudInstance">
      <h3 class="section-title">Cloud Instance</h3>
      <table class="section">
        <tr *ngIf="client.agentInfo.clientName">
          <td class="description">Type</td>
          <td class="value">
            <mat-chip-list [disabled]="true"
              ><mat-chip>{{cloudInstance.cloudType}}</mat-chip></mat-chip-list
            >
            <entry-history-button
              path="agentInfo.clientName"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.google?.uniqueId">
          <td class="description">Unique ID</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.google?.uniqueId}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.uniqueId"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.google?.zone">
          <td class="description">Zone</td>
          <td class="value">
            <app-copy-button>{{cloudInstance.google?.zone}}</app-copy-button>
            <entry-history-button
              path="cloudInstance.google.zone"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.google?.projectId">
          <td class="description">Project</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.google?.projectId}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.projectId"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.google?.instanceId">
          <td class="description">Instance</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.google?.instanceId}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.instanceId"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.google?.hostname">
          <td class="description">Hostname</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.google?.hostname}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.hostname"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.google?.machineType">
          <td class="description">Machine Type</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.google?.machineType}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.machineType"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.amazon?.instanceId">
          <td class="description">Instance</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.amazon?.instanceId}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.instanceId"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.amazon?.hostname">
          <td class="description">Hostname</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.amazon?.hostname}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.hostname"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.amazon?.publicHostname">
          <td class="description">Public Hostname</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.amazon?.publicHostname}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.publicHostname"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.amazon?.amiId">
          <td class="description">AMI</td>
          <td class="value">
            <app-copy-button>{{cloudInstance.amazon?.amiId}}</app-copy-button>
            <entry-history-button
              path="cloudInstance.google.amiId"
            ></entry-history-button>
          </td>
        </tr>
        <tr *ngIf="cloudInstance.amazon?.instanceType">
          <td class="description">Instance Type</td>
          <td class="value">
            <app-copy-button
              >{{cloudInstance.amazon?.instanceType}}</app-copy-button
            >
            <entry-history-button
              path="cloudInstance.google.instanceType"
            ></entry-history-button>
          </td>
        </tr>
      </table>
    </ng-container>

    <h3 class="section-title">Agent</h3>
    <table class="section">
      <tr *ngIf="client.agentInfo.clientName">
        <td class="description">Client ID</td>
        <td class="value">
          <app-copy-button>{{client.clientId}}</app-copy-button>
          <entry-history-button
            path="agentInfo.clientName"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.agentInfo.clientName">
        <td class="description">Name</td>
        <td class="value">
          <app-copy-button>{{client.agentInfo.clientName}}</app-copy-button>
          <entry-history-button
            path="agentInfo.clientName"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.agentInfo.clientVersion">
        <td class="description">Version</td>
        <td class="value">
          <app-copy-button>{{client.agentInfo.clientVersion}}</app-copy-button>
          <entry-history-button
            path="agentInfo.clientVersion"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.agentInfo.buildTime">
        <td class="description">Build time</td>
        <td class="value">
          <app-timestamp [date]="client.agentInfo.buildTime"></app-timestamp>
          <entry-history-button
            path="agentInfo.buildTime"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.agentInfo.clientBinaryName">
        <td class="description">Binary name</td>
        <td class="value">
          <app-copy-button
            >{{client.agentInfo.clientBinaryName}}</app-copy-button
          >
          <entry-history-button
            path="agentInfo.clientBinaryName"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.agentInfo.clientDescription">
        <td class="description">Description</td>
        <td class="value">
          <app-copy-button
            >{{client.agentInfo.clientDescription}}</app-copy-button
          >
          <entry-history-button
            path="agentInfo.clientDescription"
          ></entry-history-button>
        </td>
      </tr>
      <tr>
        <td class="description">Communication</td>
        <td class="value">
          <mat-chip-list [disabled]="true">
            <mat-chip
              class="{{ client.fleetspeakEnabled ? 'green-chip' : 'red-chip' }}"
            >
              {{ client.fleetspeakEnabled ? 'Fleetspeak' : 'Legacy' }}
            </mat-chip>
          </mat-chip-list>
          <entry-history-button path="fleetspeakEnabled"></entry-history-button>
        </td>
      </tr>
      <tr>
        <td class="description">Capabilities</td>
        <td class="value">
          <mat-chip-list [disabled]="true">
            <mat-chip
              class="{{ client.agentInfo.sandboxSupport ? 'green-chip' : 'red-chip' }}"
            >
              <mat-icon
                >{{ client.agentInfo.sandboxSupport ? 'check' : 'close'
                }}</mat-icon
              >
              Sandboxing
            </mat-chip>
          </mat-chip-list>
          <entry-history-button
            path="agentInfo.sandboxSupport"
          ></entry-history-button>
        </td>
      </tr>
      <tr>
        <td class="description"></td>
        <td class="value">
          <mat-chip-list [disabled]="true">
            <mat-chip
              class="{{ client.agentInfo.timelineBtimeSupport ? 'green-chip' : 'red-chip' }}"
            >
              <mat-icon
                >{{ client.agentInfo.timelineBtimeSupport ? 'check' : 'close'
                }}</mat-icon
              >
              Btime field in Timeline flow
            </mat-chip>
          </mat-chip-list>
          <entry-history-button
            path="agentInfo.timelineBtimeSupport"
          ></entry-history-button>
        </td>
      </tr>
    </table>

    <h3 class="section-title">Hardware</h3>
    <table class="section">
      <tr *ngIf="client.osInfo.machine">
        <td class="description">CPU architecture</td>
        <td class="value">
          <app-copy-button>{{client.osInfo.machine}}</app-copy-button>
          <entry-history-button path="osInfo.machine"></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.memorySize">
        <td class="description">Memory size</td>
        <td class="value">
          <app-copy-button
            ><human-readable-size
              [size]="client.memorySize"
            ></human-readable-size
          ></app-copy-button>
          <entry-history-button
            path="memorySize"
            type="size"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.systemManufacturer">
        <td class="description">Manufacturer</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.systemManufacturer}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.systemManufacturer"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.systemFamily">
        <td class="description">Family</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.systemFamily}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.systemFamily"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.systemProductName">
        <td class="description">Product name</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.systemProductName}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.systemProductName"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.serialNumber">
        <td class="description">Serial number</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.serialNumber}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.serialNumber"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.systemUuid">
        <td class="description">UUID</td>
        <td class="value">
          <app-copy-button>{{client.hardwareInfo?.systemUuid}}</app-copy-button>
          <entry-history-button
            path="hardwareInfo.systemUuid"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.systemSkuNumber">
        <td class="description">SKU number</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.systemSkuNumber}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.systemSkuNumber"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.systemAssettag">
        <td class="description">Asset tag</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.systemAssettag}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.systemAssettag"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.biosVendor">
        <td class="description">BIOS vendor</td>
        <td class="value">
          <app-copy-button>{{client.hardwareInfo?.biosVendor}}</app-copy-button>
          <entry-history-button
            path="hardwareInfo.biosVendor"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.biosVersion">
        <td class="description">BIOS version</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.biosVersion}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.biosVersion"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.biosReleaseDate">
        <td class="description">BIOS release date</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.biosReleaseDate}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.biosReleaseDate"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.biosRomSize">
        <td class="description">BIOS ROM size</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.biosRomSize}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.biosRomSize"
          ></entry-history-button>
        </td>
      </tr>
      <tr *ngIf="client.hardwareInfo?.biosRevision">
        <td class="description">BIOS revision</td>
        <td class="value">
          <app-copy-button
            >{{client.hardwareInfo?.biosRevision}}</app-copy-button
          >
          <entry-history-button
            path="hardwareInfo.biosRevision"
          ></entry-history-button>
        </td>
      </tr>
    </table>

    <h3 class="section-title">
      Storage Volumes
      <entry-history-button
        path="volumes"
        type="volume-list"
      ></entry-history-button>
    </h3>
    <volumes-details
      [volumes]="client.volumes.slice(0, currentNumVolumesShown)"
    ></volumes-details>
    <button
      *ngIf="getAccordionButtonState(client.volumes.length, currentNumVolumesShown, INITIAL_NUM_VOLUMES_SHOWN) === 'show-more'"
      mat-button
      color="primary"
      (click)="currentNumVolumesShown = client.volumes.length"
    >
      Show {{client.volumes.length - currentNumVolumesShown}} more storage
      volume<ng-template
        [ngIf]="client.volumes.length - currentNumVolumesShown > 1"
        >s</ng-template
      ><mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button
      *ngIf="getAccordionButtonState(client.volumes.length, currentNumVolumesShown, INITIAL_NUM_VOLUMES_SHOWN) === 'show-less'"
      mat-button
      color="primary"
      (click)="currentNumVolumesShown = INITIAL_NUM_VOLUMES_SHOWN"
    >
      Show less <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <h3 class="section-title">
      Network Interfaces
      <entry-history-button
        path="networkInterfaces"
        type="interface-list"
      ></entry-history-button>
    </h3>
    <interfaces-details
      [interfaces]="client.networkInterfaces.slice(0, currentNumInterfacesShown)"
    ></interfaces-details>
    <button
      *ngIf="getAccordionButtonState(client.networkInterfaces.length, currentNumInterfacesShown, INITIAL_NUM_INTERFACES_SHOWN) === 'show-more'"
      mat-button
      color="primary"
      (click)="currentNumInterfacesShown = client.networkInterfaces.length"
    >
      Show {{client.networkInterfaces.length - currentNumInterfacesShown}} more
      network interface<ng-template
        [ngIf]="client.networkInterfaces.length - currentNumInterfacesShown > 1"
        >s</ng-template
      ><mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button
      *ngIf="getAccordionButtonState(client.networkInterfaces.length, currentNumInterfacesShown, INITIAL_NUM_INTERFACES_SHOWN) === 'show-less'"
      mat-button
      color="primary"
      (click)="currentNumInterfacesShown = INITIAL_NUM_INTERFACES_SHOWN"
    >
      Show less <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
</div>
