<div *ngIf="client$ | async as client">
  <div class="header mat-body-1">
    <mat-icon>computer</mat-icon>
    <div class="mat-h1">{{client.knowledgeBase.fqdn}}
      <div class="client-id mat-h3">{{client.clientId}}</div>
    </div>
  </div>
  <div class='info mat-body-1'>
    <table class="section">
      <div class="section-title">Agent info</div>
      <tr>
        <td>Client name</td>
        <td>{{client.agentInfo.clientName}}</td>
      </tr>
      <tr>
        <td>Client version</td>
        <td>{{client.agentInfo.clientVersion}}</td>
      </tr>
      <tr>
        <td>Build time</td>
        <td>{{client.agentInfo.buildTime}}</td>
      </tr>
      <tr>
        <td>Client binary name</td>
        <td>{{client.agentInfo.clientBinaryName}}</td>
      </tr>
      <tr>
        <td>Client description</td>
        <td>{{client.agentInfo.clientDescription}}</td>
      </tr>
      <tr>
        <td>Labels</td>
        <td>{{client.agentInfo.labels}}</td>
      </tr>
    </table>

    <br>
    <table class="section">
      <div class="section-title"></div>

    </table>

  </div>
</div>
