@use '~material-theme' as c;

.info {
  width: 60%;
  margin: auto;
  text-align: center;

  .header {
    margin-top: 1em;
    display: inline-block;

    mat-icon {
      transform: scale(2);
    }

    .client-id {
      color: c.mat-color(c.$foreground, text-light);
      text-align: left;
    }
  }

  .section-title {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid c.mat-color(c.$foreground, divider);
  }

  .section {
    font-family: c.$google-sans-family;
    text-align: left;

    .description {
      min-width: 10em;
      vertical-align: top;
    }

    .value {
      .chip {
        font-size: 14px;
        border: 1px solid c.mat-color(c.$foreground, divider);
        background-color: c.mat-color(c.$background, app-bar);
      }
    }

    .empty-section {
      font-weight: 300;
    }
  }
}
