@use "@angular/material" as mat;
@use "../../material-theme" as c;
@use "../../main" as main;

.details-container {
  display: flex;
  height: 100%;

  .timeline {
    border-right: 1px solid
      mat.get-color-from-palette(c.$foreground, divider-light);
    padding-right: 1em;
    overflow: auto;

    .heading-since {
      padding-top: 32px;
      padding-left: 32px;

      .heading {
        // Default material h1 style adds unwanted bottom margin
        margin-bottom: 0px;
      }

      .since {
        font-size: 10px;
        color: mat.get-color-from-palette(c.$foreground, text-light);
      }
    }

    .entry {
      box-sizing: border-box;
      margin-top: 1em;
      margin-right: 10px;
      padding-left: 10px;
      background: transparent;
      height: auto;
      border-radius: 0 14px 14px 0;

      .bullet-row {
        display: flex;
        font-size: 11px;
      }

      .timestamp {
        margin-left: 20px;
        font-weight: 500;

        pointer-events: none;
        white-space: nowrap;
      }

      .change-list {
        margin-left: 5px;
        border-left: 1px solid
          mat.get-color-from-palette(c.$foreground, divider);
        padding-left: 27px;
      }
    }

    .entry[aria-selected='true'] {
      color: mat.get-color-from-palette(c.$primary);
      background: #e8f0fe;
    }
  }

  .info {
    box-sizing: border-box;
    padding: 20px clamp(10px, 5vw, 150px);
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: c.$container-padding;

    & > * {
      // padding-right of the parent .info is somehow not respected by texts in
      // table cells.
      margin-right: clamp(10px, 5vw, 150px);
    }

    .section-title {
      display: flex;
      font-weight: bold;
      border-bottom: 1px solid
        mat.get-color-from-palette(c.$foreground, divider);
      margin-bottom: 0;

      &.client-title {
        position: relative;

        mat-icon {
          position: absolute;
          left: -8px;
          transform: translateX(-100%);
        }
      }

      entry-history-button {
        height: 16px;
        flex-grow: 1;
        text-align: right;
      }
    }

    interfaces-details,
    users-details,
    volumes-details {
      display: contents;
    }

    .section {
      .description {
        min-width: 10em;
        vertical-align: top;
      }

      .value {
        font-weight: 500;
        width: 100%;

        mat-chip-list {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
