@use '~material-theme' as c;
@use '~main' as main;

.details-container {
  display: flex;
  height: calc(100vh - #{main.$toolbar-height});
  width: 1200px;

  .timeline {
    border-right: 1px solid c.mat-color(c.$foreground, divider-light);
    padding-right: 1em;
    overflow: auto;

    .heading-since {
      padding-top: 32px;
      padding-left: 32px;

      .heading {
        // Default material h1 style adds unwanted bottom margin
        margin-bottom: 0px;
      }

      .since {
        font-size: 10px;
        color: c.mat-color(c.$foreground, text-light);
      }
    }

    .entry {
      box-sizing: border-box;
      margin-top: 1em;
      margin-right: 10px;
      padding-left: 10px;
      background: transparent;
      height: auto;
      border-radius: 0 14px 14px 0;

      .timestamp {
        margin-left: 20px;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
      }

      .change-list {
        margin-left: 7px;
        border-left: 1px solid c.mat-color(c.$foreground, divider);
        padding-left: 27px;
      }
    }

    .entry[aria-selected='true'] {
      color: c.mat-color(c.$primary);
      background: #e8f0fe;
    }
  }

  .info {
    padding: 20px 150px;
    text-align: center;
    overflow: auto;
    flex-grow: 1;

    .section-title {
      display: flex;
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid c.mat-color(c.$foreground, divider);

      entry-history-button {
        height: 16px;
        flex-grow: 1;
        text-align: right;
      }
    }

    .section {
      font-family: c.$google-sans-family;
      text-align: left;

      .description {
        min-width: 10em;
        vertical-align: top;
      }

      .value {
        font-weight: 500;
      }
    }

    .empty-section {
      font-family: c.$google-sans-family;
      text-align: left;
      font-weight: 300;
    }
  }
}
