.table-row {
  display: table-row;
}

/**
 * In angular directives templates grr-collection-td and not td should be used.
 * AngularJS templates are valid DOM trees and browser's behavior is undefined
 * when it encounters 'td' tag outside of 'tbody' or 'table'.
 */
grr-collection-td {
  display: table-cell;
}

#main {
    width: 100%;
    height: 100%;
}

#content {
  position: absolute;
  left: 0;
  top: 41px;
  bottom: 40px;
  right: 0;
  min-width: 1024px;
  min-height: 400px;
}

#navigator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: 0;
  padding-top: 10px;
  background-color: #f5f5f5;
}

#global-notification .alert {
  margin-bottom: 0;
}

#notifications_and_settings {
  margin-left: 10px;
}

.client-checkbox {
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

.nested-icon, .advanced-icon {
  margin-top: 6px;
}

.advanced-controls {
  border-left: 5px solid #cecece;
}

.toolbar-search-box {
  position: absolute;
  top: 10px;
  right: 0;
}

/* Bootstrap tweaks */

a {
    cursor:pointer;
}

.form-horizontal .control-group {
    margin-bottom: 8px;
}

.icon-question-mark {
    background-image: url("/static/images/stock_dialog_question.png");
    background-position: center center;
}

.breadcrumb {
    margin: 0;
    line-height: 25px;
}

.breadcrumb .btn {
    margin-right: 6px;
}

.breadcrumb .btn-group>.btn:first-child {
    margin-right: 0;
}

.wide-modal {
    width: 60%;
    left: 20%;
    margin-left: 0;
}

.wide-modal.high-modal {
    left: 20%;
    right: 20%;
    top: 5em;
    bottom: 5em;
}

@media (max-width: 1440px) {

.wide-modal {
    width: 90%;
    left: 5%;
    margin-left: 0;
}

.wide-modal.high-modal {
    left: 5%;
    right: 5%;
    top: 5em;
    bottom: 5em;
}

}

.wide-modal.high-modal .modal-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 49px;
    bottom: 57px;
    max-height: none;
    padding: 0 0 20px 0;
}

.wide-modal.high-modal .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    right :0;
}

.wide-modal.high-modal .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right :0;
}

dd.histogram {
    margin-top: 1em;
}

dd.histogram > div {
    width: 800px;
    height: 300px;
}

/* Commonly used styles */
.toolbar_icon {
    height: 20px;
}

.no-margin {
    margin: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.padded {
  padding: 1em;
}

.full-width {
    width: 100%;
}

.full-width-height {
    width: 100%;
    height: 100%;
}

.fill-parent {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: 1em;
}

.fill-parent.no-top-margin {
    top: 0;
}

.fill-parent.toolbar-margin {
    top: 47px !important;
}

.fill-parent.no-margins {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.no-overflow {
    overflow: hidden !important;
}

.monospace {
  font-family:     "Courier New"
                    Courier
                    monospace;
  font-size: 13px;
  color: black;
  padding: 0;
  margin: 0;
}

.panel {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
}

.details-right-panel {
    position: absolute;
    top: 45px;
    right: 0px;
    left: 150px;
}

/* Tables styling */
table.fixed-columns {
    table-layout: fixed;
}

table.fixed-columns th {
    word-wrap: break-word;
    vertical-align: middle;
}

table th {
    vertical-align: middle !important;
}

table td {
    vertical-align: middle !important;
}

table tr.row_selected td {
    background-color: #d9edf7 !important;
}

/* Config display */
table tr.config_modified {
  color: #471ecb;
}

/* GRR-specific splitter css */
.leftPane {
  float: left;
  width: 15%;
  height : 100%;
  background : white;
  overflow : auto;
  position: relative;
}

.rightPane {
  float: right;
  width: 85%;
  height: 100%;
  background: white;
  overflow: auto;
  position: absolute;
  right: 0;
}

.rightSplitterContainer {
  width: 100%;
  height: 100%;
  background : #FFFFFF;
  overflow: hidden;
}

.rightTopPane {
  width : 100%;
  height : 50%;
  overflow : hidden;
  background: white;
  overflow: auto;
  position: relative;
}

.rightBottomPane {
  width : 100%;
  background: white;
  overflow: auto;
  position: relative;
}

/* GRR-specific jstree css */
.jstree-default .jstree-leaf > a ins {
  background-position: 0px 0px;
}

div.jstree-default.jstree-focused {
  background : white;
}

.jstree-loading-failed  {
    background: url("/static/javascript/jstree/themes/default/throbber.gif") center center no-repeat !important;
}

.ajax_spinner {
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
}

.grr-icon {
    width: 18px;
    vertical-align: text-top;
}

.grr-icon-small {
    width: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vertical_aligned {
    vertical-align: middle;
}

.centered {
    text-align: center;
}

.headline {
    font-size: 14px;
    color: #DD4B39;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 3px;
}

.infoline {
    color: #888;
}

span.tree_branch {
    background-image: url("/static/javascript/jstree/themes/default/d.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 72px 0;
    display: block;
    float: left;
    padding: 9px;
}



tr td span.tree_leaf {
    background-image: url("/static/javascript/jstree/themes/default/d.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 18px 0;
    display: block;
    float: left;
    padding: 9px;
}

td span.tree_opened {
    background-position: -72px 0;
}

td span.tree_closed {
    background-position: 0px 0;
}

tr.tree_hidden {
    display: none;
}

#version-dialog {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

td.leased {
   background-color: rgba(200, 0, 0, 0.1) !important;
}

td.lease_available {
   background-color: rgba(0, 250, 0, 0.1) !important;
}

/* Proto tables styling */
.proto_header, .proto_key, .proto_value  {
    padding-left: 0px;
    padding-right: 2ex;
    background: #F0F0F0;
    word-wrap: break-word;
}

.proto_header {
    font-weight:bold;
}

.proto_key {
    width: 20ex;
}

.proto_table {
    width: 100%;
    border: 1px;
    border-color: #C9C9C9;;
    border-style: solid;
}

.proto_table td {
    padding: 0px 0px;
}

.proto_table tr:odd {
    background-color: #9FAFD1;
}

.proto_separator {
    height: 0ex;
}

.proto_error {
    color: red;
}


.notification_pane {
  background-color: #F0F0F0;
  text-align: center;
}

.historical_view {
   display: none;
}

.non-breaking {
  white-space: nowrap;
}

.grr_aff4_type_header {
  text-align: center;
  font-size: +2ex;
}

.grr_graph {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 1em;
  top: 8em;
  overflow: hidden;
}

table .offset {
 font-weight: bold;
 color: #0096FF;
 padding-right: 1ex;
}

td.data_area {
 padding-left: 2ex;
}

td.slider_area {
 padding-left: 2ex;
 padding-right: 2ex;
}

div.hexview {
  position: relative;
  height: 100%;
}

table.hextable {
  margin-left: 30px;
}

div.asc, div.desc {
    padding: 10px;
    font-size: 2ex;
}

div.sort-dialog div.filter {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

pre.inline {
    display: inline;
    font-family: "Courier New", Courier, monospace;
}

select.artifact_list {
    height: 300px;
}

table.artifact_table {
  vertical-align: top;
  border-spacing: 5px;
  border-collapse: separate;
}

td.artifact_table {
  vertical-align: top !important;
}


input.pickerIcon {
  width: 0px;
  visibility: hidden;
}

input.unset, select.unset {
    background-color:  #FEFFE0;
}

abbr[title] {
    cursor: pointer;
}

.accordion {
    margin-left: 20px;
    margin-right: 20px;
}

.ui-autocomplete {
  max-height: 100px;
  max-width: 400px;
  overflow-y: auto;

  /* prevent horizontal scrollbar */
  overflow-x: hidden;

  /* ensure autocomplete is always shown above other UI elements */
  z-index: 1100 !important;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
