.dockerignore
.git/
.github/
gha-creds-*.json
*.changes
**/*.deb
**/*.dsc
**/*.egg-info/
**/*.pyc
**/*_pb2.*
**/*.o
**/*.so
**/*.whl
**/__pycache__/
**/build/
**/dist/
**/server.local.yaml
ACKNOWLEDGEMENTS
AUTHORS
executables/
!executables/windows/templates/unzipsfx/*.exe
grr/config/grr_response_templates/
grr/gui/static/bower_components/
grr/gui/static/node_modules/
grr/gui/static/tmp/
grr/var/
grr_server*.tar.gz
LICENSE
README.md
travis/
vagrant/
