*.deb
*.dsc
*.log
*.orig
*.rej
*.pyc
*_pb2.*
*.swp
*.o
*.so
*.pb.cc
*.pb.h
*.whl
*~

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

__pycache__/
.idea/
build/
dist/
artifacts/*.yaml
gcs_upload_dir/
get-pip.py
grr/core/grr_response_core/artifacts/*.yaml
*.egg-info/
.eggs/
node_modules/
tmp/
grr/server/grr_response_server/gui/static/fonts/
installers/
GRRlog.txt
grr/server/grr_response_server/gui/static/third-party/
grr/server/grr_response_server/gui/ui/.angular/
