*.pyc
*_pb2.py
*.swp
*.o
*.so
*.pb.cc
*.pb.h
*~
.idea/
build/
dist/
artifacts/*.yaml
grr.egg-info/
get-pip.py
grr/core/grr_response_core/artifacts/*.yaml
*.egg-info/
.eggs/
node_modules/
tmp/
grr/server/grr_response_server/gui/static/fonts/
installers/
GRRlog.txt
*.log
