Django==1.7.1
Flask-Sockets==0.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.9.6
acora==1.8
argparse==1.3.0
codegen==1.0
distorm3==3.3.0
gevent-websocket==0.9.3
gevent==1.0.1
gnureadline==6.3.3
greenlet==0.4.5
ipaddr==2.1.11
ipython==2.3.1
itsdangerous==0.24
matplotlib==1.3.1
mock==1.0.1
mox==0.5.3
numpy==1.9.1
pandas==0.13.1
psutil==2.1.3
pyaml==14.12.10
pycrypto==2.6.1
pyelftools==0.23
python-dateutil==2.3
pytz==2014.10
rekall==1.2.0
selenium==2.44.0
six==1.8.0
urllib3==1.10
wsgiref==0.1.2
