
$font-json: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-monospace: "Courier New", Courier, monospace;

$color-default-background: #fff;
$color-default-font: #000;
$color-default-font-inverted: #fff;
$color-pristine: #feffe0;
$color-table-row-selected: #d9edf7;
$color-table-row-modified: #471ecb;
$color-table-row-offset: #0096ff;
$color-table-row-highlighted: #e3fbde;

$color-sidebar-background: #f5f5f5;
$color-proto-background: #f0f0f0;
$color-proto-border: #ddd;
$color-proto-table-border: #c9c9c9;
$color-proto-table-row-odd: #9fafd1;
$color-proto-error: #f00;
$color-doc-json: #f5f5f5;
$color-nav-link-default-shadow: rgba(255, 255, 255, .5);
$color-nav-link-active-shadow: rgba(0, 0, 0, .2);
$color-nav-link-active-background: #08c;
$color-nav-link-hover-color: #fff;
$color-advanced-controls-border: #cecece;
$color-nav-header-color: #999;
$color-panel-background: #fff;
$color-panel-box-shadow: rgba(0, 0, 0, .3);
$color-panel-border: rgba(0, 0, 0, .3);
$color-table-row-leased: rgba(200, 0, 0, .1);
$color-table-row-lease-available: rgba(0, 250, 0, .1);
$color-sort-dialog-filter-box-shadow: rgba(0, 0, 0, .2);
$color-sort-dialog-filter-border: rgba(0, 0, 0, .2);
$color-monospace-color: #000;
$color-notifications-reference: #000;
$color-headline-color: #dd4b39;
$color-infoline-color: #888;
$color-no-link-color: #bbb;
$color-notification-highlight-color: #eee;
$color-no-content-color: #e0e0e0;
$color-grr-blue: #2aabd2;
$color-hint-border-color: #f0c36d;
$color-hint-background-color: #f9edbe;
$color-infoline-success: rgb(60, 118, 61);
$color-section-separator: #efefef;
$color-section-box-shadow: rgba(0, 0, 0, .3);
$color-dim-grey: #696969;
$color-green: #008000;
$color-warning-color: #a94442;
$color-diff-changed: #fcf8e3;
$color-diff-added: #dff0d8;
$color-diff-removed: #f2dede;
$color-troggle-highlight-color: #cdcdcd;
