@use '../../../main' as main;
@use '@angular/material' as mat;
@use '../../../material-theme' as c;

.section-title,
h4 {
  color: mat.get-color-from-palette(c.$foreground, text);
  font-family: c.$google-sans-display-family;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  margin-top: 0.7em;
  margin-bottom: 0em;
}

.match-mode {
  padding-left: 0.4em;
}

.key-value-table {
  td {
    font-size: 14px;
  }
}
