<ng-container *ngIf="hunt">
  <table class="key-value-table">
    <tr>
      <td class="section-title">
        <h4>Selected clients</h4>
        <h4 class="match-mode" *ngIf="hunt.clientRuleSet?.matchMode">
          {{
            hunt.clientRuleSet?.matchMode === ClientRuleSetMatchMode.MATCH_ALL
              ? " – match all (and)"
              : " – match any (or):"
          }}
        </h4>
      </td>
    </tr>
    <tr *ngFor="let rule of hunt.clientRuleSet?.rules" [ngSwitch]="rule.ruleType">
      <ng-container *ngSwitchCase="ClientRuleType.OS">
        <td>Operating System:</td>
        <td>
          <ng-container *ngIf="rule.os?.osWindows"> Windows </ng-container>

          <ng-container *ngIf="rule.os?.osLinux"> Linux </ng-container>

          <ng-container *ngIf="rule.os?.osDarwin"> Darwin </ng-container>
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="ClientRuleType.LABEL">
        <td>Label:</td>
        <td>
          <ng-container [ngSwitch]="rule.label?.matchMode">
            <ng-container *ngSwitchCase="LabelClientRuleMatchMode.MATCH_ALL"
              >match all:</ng-container
            >
            <ng-container *ngSwitchCase="LabelClientRuleMatchMode.MATCH_ANY"
              >match any:</ng-container
            >
            <ng-container *ngSwitchCase="LabelClientRuleMatchMode.DOES_NOT_MATCH_ALL">
              doesn't match all:</ng-container
            >
            <ng-container *ngSwitchCase="LabelClientRuleMatchMode.DOES_NOT_MATCH_ANY">
              doesn't match any:</ng-container
            >
          </ng-container>
          <ng-container *ngFor="let name of rule.label?.labelNames; last as isLast"
            >{{ name }}{{ isLast ? "" : ", " }}</ng-container
          >
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="ClientRuleType.REGEX">
        <td>{{ regexConditionsNames.get(rule.regex?.field) }}:</td>
        <td>{{ rule.regex?.attributeRegex ?? "No attribute specified" }}</td>
      </ng-container>

      <ng-container *ngSwitchCase="ClientRuleType.INTEGER">
        <td>
          <ng-container *ngIf="rule.integer?.field">
            {{ integerConditionsNames.get(rule.integer?.field) }}:
          </ng-container>
        </td>
        <td>
          <ng-container [ngSwitch]="rule.integer?.operator">
            <ng-container *ngSwitchCase="IntegerClientRuleOperator.EQUAL">Equal:</ng-container>
            <ng-container *ngSwitchCase="IntegerClientRuleOperator.LESS_THAN"
              >Less Than:</ng-container
            >
            <ng-container *ngSwitchCase="IntegerClientRuleOperator.GREATER_THAN"
              >Greater Than:</ng-container
            >
          </ng-container>
          <ng-container *ngIf="rule.integer?.value">{{ rule.integer?.value }}</ng-container>
        </td>
      </ng-container>
    </tr>

    <tr>
      <td class="section-title"><h4>Defined Parameters</h4></td>
    </tr>
    <tr>
      <td>Rollout speed:</td>
      <td>
        <app-copy-button
          ><span>
            {{ hunt.safetyLimits.clientRate }} clients/min ({{
              clientRateBucket(hunt.safetyLimits.clientRate)
            }})</span
          >
        </app-copy-button>
      </td>
    </tr>
    <tr>
      <td>Run On:</td>
      <td>
        <app-copy-button
          ><span>
            {{ hunt.safetyLimits.clientLimit === BigInt(0) ? "All matching" : hunt.safetyLimits.clientLimit }} clients
          </span>
        </app-copy-button>
      </td>
    </tr>
    <tr>
      <td>Active for:</td>
      <td>
        <app-copy-button
          ><span> {{ convertToUnitTime(hunt.safetyLimits.expiryTime) }}</span>
        </app-copy-button>
      </td>
    </tr>

    <tr>
      <td class="section-title"><h4>Stop fleet collection if...</h4></td>
    </tr>
    <tr>
      <td>Crash Limit:</td>
      <td>
        <app-copy-button
          ><span> {{ hunt.safetyLimits.crashLimit }} clients</span>
        </app-copy-button>
      </td>
    </tr>
    <tr>
      <td>Average results per client:</td>
      <td>
        <app-copy-button
          ><span> {{ hunt.safetyLimits.avgResultsPerClientLimit }}</span>
        </app-copy-button>
      </td>
    </tr>
    <tr>
      <td>Average CPU (per client):</td>
      <td>
        <app-copy-button
          ><span> {{ convertToUnitTime(hunt.safetyLimits.avgCpuSecondsPerClientLimit) }}</span>
        </app-copy-button>
      </td>
    </tr>
    <tr>
      <td>Average network usage (per client):</td>
      <td>
        <app-copy-button
          ><human-readable-size [size]="hunt.safetyLimits.avgNetworkBytesPerClientLimit">
          </human-readable-size>
        </app-copy-button>
      </td>
    </tr>

    <tr>
      <td class="section-title"><h4>Stop flow collection if...</h4></td>
    </tr>
    <tr>
      <td>CPU limit per client:</td>
      <td>
        <app-copy-button
          ><span> {{ hunt.safetyLimits.perClientCpuLimit === BigInt(0) ? 'Unlimited' : convertToUnitTime(hunt.safetyLimits.perClientCpuLimit) }}</span>
        </app-copy-button>
      </td>
    </tr>
    <tr>
      <td>Network Limit per client:</td>
      <td>
        <app-copy-button>
          <ng-container *ngIf="hunt.safetyLimits.perClientNetworkBytesLimit !== BigInt(0); else unlimited">
            <human-readable-size [size]="hunt.safetyLimits.perClientNetworkBytesLimit">
            </human-readable-size>
          </ng-container>
          <ng-template #unlimited>Unlimited</ng-template>
        </app-copy-button>
      </td>
    </tr>
  </table>
</ng-container>