<div class="form-group">
  <button class="btn btn-default add" name="Add"
          ng-click="controller.addPair()">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</div>

<div ng-repeat="pair in controller.keyValueList">
  <button type="button" class="close" name="Remove"
          ng-click="controller.removePair($index)">&times;</button>
  <div class="form-group pair">
      <input class="form-control key" type="text" ng-model="pair.key"></input>
      <span>=</span>
      <grr-form-value class="value" value="pair.value"></grr-form-value>
  </div>
</div>
