<div class="container">
  <div class="header">
    <!-- Basic flow information. -->
    <div class="col-left">
      <a
        class="flow-title text-link-hover"
        [routerLink]="['/clients', flow?.clientId, 'flows', flow?.flowId]"
      >
        {{flowDescriptor?.friendlyName || flow?.name}}
      </a>
      <app-copy-button class="mat-small monospace flow-id">
        {{flow?.flowId}}
      </app-copy-button>
    </div>
    <div class="flow-info">
      <span class="user-name">
        <user-image [username]="flow?.creator" size="16px"></user-image>
        {{flow?.creator}}
      </span>
      –
      <app-timestamp
        [date]="flow?.startedAt"
        class="start-time"
      ></app-timestamp>
    </div>

    <span
      class="result-description"
      *ngIf="resultDescription"
      [class.error]="flow?.state === flowState.ERROR"
    >
      {{ resultDescription }}
    </span>

    <div
      class="button-group"
      *ngIf="hasResults && exportMenuItems?.length as length"
    >
      <a
        *ngIf="exportMenuItems?.[0] as item"
        mat-stroked-button
        color="primary"
        [download]="item.downloadName"
        [href]="item.url"
        class="export-button"
      >
        {{ item.title }}
      </a>
      <button
        mat-stroked-button
        color="primary"
        *ngIf="length > 1"
        [matMenuTriggerFor]="exportMenu"
        class="dropdown-button"
      >
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <mat-menu #exportMenu="matMenu">
      <a
        *ngFor="let item of exportMenuItems | slice:1; trackBy: trackExportMenuItem"
        mat-menu-item
        [href]="item.url"
        [download]="item.downloadName"
      >
        {{ item.title }}
      </a>
    </mat-menu>

    <div class="flow-status">
      <span class="flow-status-span" *ngIf="flow?.state === flowState.RUNNING">
        <mat-spinner class="in-progress" diameter="20">watch_later</mat-spinner>
        <label class="in-progress">Collection in progress</label>
      </span>
      <span class="flow-status-span" *ngIf="flow?.state === flowState.ERROR">
        <mat-icon class="error">error_outline</mat-icon>
        <label class="error">Collection failed</label>
      </span>
      <span class="flow-status-span" *ngIf="flow?.state === flowState.FINISHED">
        <mat-icon class="success">check_circle</mat-icon>
        <label class="success">Collection successful</label>
      </span>
    </div>

    <!-- Flow context menu. -->
    <button
      *ngIf="showContextMenu"
      class="menu-button"
      [matMenuTriggerFor]="menu"
      mat-icon-button
      aria-label="Flow menu"
    >
      <mat-icon class="menu-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngIf="flow?.state === flowState.RUNNING"
        (click)="triggerMenuEvent(flowMenuAction.CANCEL)"
      >
        <span>Cancel flow</span>
      </button>
      {{ '' // TODO: Update once restricted FlowDescriptors are
      returned. }}
      <button
        *ngIf="flowDescriptor"
        mat-menu-item
        (click)="triggerMenuEvent(flowMenuAction.DUPLICATE)"
      >
        <span>Duplicate flow</span>
      </button>
      <button
        *ngIf="canaryMode$ | async"
        mat-menu-item
        (click)="triggerMenuEvent(flowMenuAction.CREATE_HUNT)"
      >
        <span>Create a hunt (canary feature)</span>
      </button>
    </mat-menu>
  </div>

  <result-accordion
    *ngIf="flow?.errorDescription"
    [colorScheme]="colorScheme.ERROR"
    [preview]="flow?.errorDescription"
  >
    <div class="error-description-container">
      <span>{{flow?.errorDescription}}</span>
    </div>
  </result-accordion>

  <result-accordion
    *ngIf="flowArgsViewData$ | async"
    [colorScheme]="colorScheme.FLOW_ARGS"
    title="Flow arguments"
  >
    <div class="flow-args">
      <app-flow-args-view
        [flowArgsViewData]="flowArgsViewData$ | async"
      ></app-flow-args-view>
    </div>
  </result-accordion>

  <div class="content-wrapper">
    <template #detailsContainer></template>
  </div>
</div>
