<div class="container mat-body-1">
  <div class="header-wrapper">
    <div class="header">
      <!-- Basic flow information. -->
      <div class="flow-header">
        <div>
          <a class="flow-title" routerLink="." [fragment]="flow.flowId" [name]="flow.flowId"
            title="Direct link to flow {{flow.flowId}}">
            {{flowDescriptor?.friendlyName || flow.name}}
            <mat-icon>link</mat-icon>
          </a>
          <button mat-button class="mat-small monospace flow-id" title="Copy flow ID to clipboard"
            [cdkCopyToClipboard]="flow.flowId">
            {{flow.flowId}}
            <mat-icon size="8px">content_copy</mat-icon>
          </button>
        </div>
        <div class="flow-info">
          <span class="user-name">
            <user-image [username]="flow.creator" size="16px"></user-image>
            {{flow.creator}}
          </span>
          –
          <span class="start-time">{{flow.startedAt | date}}</span>
        </div>
        <div class="flow-status">
          <span *ngIf="flow.state === flowState.RUNNING">
            <mat-icon class="in-progress">watch_later</mat-icon>
          </span>
          <span *ngIf="flow.state === flowState.ERROR">
            <mat-icon class="error">error</mat-icon>
          </span>
          <span *ngIf="flow.state === flowState.FINISHED">
            <mat-icon class="success">check_circle</mat-icon>
          </span>
        </div>
      </div>


      <!-- Flow context menu. -->
      <button class="menu-button" [matMenuTriggerFor]="menu" mat-icon-button aria-label="Flow menu">
        <mat-icon class="menu-icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="triggerMenuEvent(flowMenuAction.CANCEL)">
          <span>Cancel flow</span>
        </button>
        <button mat-menu-item (click)="triggerMenuEvent(flowMenuAction.DUPLICATE)">
          <span>Duplicate flow</span>
        </button>
        <button mat-menu-item (click)="triggerMenuEvent(flowMenuAction.VIEW_ARGS)">
          <span>View arguments</span>
        </button>
        <button mat-menu-item (click)="triggerMenuEvent(flowMenuAction.CREATE_HUNT)">
          <span>Create a hunt</span>
        </button>
        <button mat-menu-item (click)="triggerMenuEvent(flowMenuAction.START_VIA_API)">
          <span>Start via API</span>
        </button>
        <button mat-menu-item (click)="triggerMenuEvent(flowMenuAction.DEBUG)">
          <span>Debug mode</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="content-wrapper">
    <template #detailsContainer></template>
  </div>

</div>
