@use '../../../material-theme' as c;
@use '../../../main' as main;

$column-gap: c.$container-padding;
$left-right-padding: c.$card-margin;

:host {
  @extend .centered-content;
  padding: c.$page-spacing 0;
}

mat-form-field {
  width: 250px;
}

.args {
  display: block;
  margin: 0 $left-right-padding c.$container-padding $left-right-padding;
}

.filters {
  display: flex;
  column-gap: $column-gap;
  flex-grow: 2;
}

.top {
  display: flex;
  align-items: center;
}

.header-all {
  display: flex;
  padding: c.$container-padding $left-right-padding;
  column-gap: $column-gap;

  .mat-mdc-card-title {
    margin-bottom: 0;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-mdc-progress-bar {
    width: 160px;
    border-radius: 8px;
  }

  .top-row {
    display: flex;
    align-items: center;
    column-gap: $column-gap;
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
    }
  }

  .left-of-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 0.5em;
  }

  .menu-button {
    .menu-icon {
      opacity: 0.2;
    }
  }
}
