<mat-form-field appearance="outline">
  <mat-select [formControl]="huntFiltersForm" name="hunt-filter">
    <mat-option
      *ngFor="let huntFilter of HuntFilter | keyvalue"
      [value]="huntFilter.value"
    >
      {{ huntFilter.value }}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-infinite-list
  class="content-list"
  [hasMore]="huntOverviewPageLocalStore.hasMore$ | async"
  [isLoading]="huntOverviewPageLocalStore.isLoading$ | async"
  (loadMore)="huntOverviewPageLocalStore.loadMore(undefined)"
>
  <h2>{{huntFiltersForm.value}}</h2>

  <div
    *ngFor="let hunt of hunts$ | async; trackBy: trackHuntById"
    class="split-card"
  >
    <div class="header-all" [routerLink]="['/hunts', hunt.huntId]">
      <div class="header mat-card-title">{{ hunt.description }} </div>
      <div>
        <user-image [username]="hunt.creator" size="16px"></user-image>
        {{hunt.creator}}
      </div>
      <div>
        <app-timestamp [date]="hunt.created"></app-timestamp>
      </div>
      <div>{{ hunt.completedClientsCount }} of {{ hunt.allClientsCount }}</div>
      <mat-progress-bar
        [mode]="isRunning(hunt) ? 'buffer' : 'determinate'"
        [value]="getHuntProgress(hunt)"
        [bufferValue]="getHuntBufferProgress(hunt)"
        [matTooltip]="getHuntProgressTooltip(hunt)"
        color="success"
      ></mat-progress-bar>
    </div>
    <div class="mat-small args">{{ hunt.flowName ?? hunt.name }}</div>

    <result-accordion [colorScheme]="ColorScheme.FLOW_ARGS" title="Fleet collection arguments">
      <hunt-flow-arguments class="args" [hunt]="hunt"></hunt-flow-arguments>
      <hunt-arguments class="args" [hunt]="hunt"></hunt-arguments>
    </result-accordion>
  </div>
</app-infinite-list>
