<div class="filters">
  <mat-form-field appearance="outline">
    <mat-select [formControl]="huntCreatorFilterForm" name="hunt-creator-filter">
      <mat-option
        *ngFor="let huntCreatorFilter of HuntCreatorFilter | keyvalue"
        [value]="huntCreatorFilter.value"
      >
        {{ huntCreatorFilter.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select [formControl]="huntStateFilterForm" name="hunt-state-filter">
      <mat-option
        *ngFor="let huntStateFilter of HuntStateFilter | keyvalue"
        [value]="huntStateFilter.value"
      >
        {{ huntStateFilter.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-infinite-list
  class="content-list"
  [hasMore]="huntOverviewPageLocalStore.hasMore$ | async"
  [isLoading]="huntOverviewPageLocalStore.isLoading$ | async"
  (loadMore)="huntOverviewPageLocalStore.loadMore(undefined)"
>
  <h2>{{huntCreatorFilterForm.value}} with state {{huntStateFilterForm.value ? huntStateFilterForm.value : "Any state"}}</h2>

  <div
    *ngFor="let hunt of hunts$ | async; trackBy: trackHuntById"
    class="split-card"
  >
    <div class="header-all">
      <div class="top-row">
        <a class="header mat-card-title" name="cardTitle" [routerLink]="['/hunts', hunt.huntId]">{{ getHuntTitle(hunt) }} </a>
        <div>
          <user-image [username]="hunt.creator" size="16px"></user-image>
          {{hunt.creator}}
        </div>
        <div>
          <app-timestamp [date]="hunt.created"></app-timestamp>
        </div>
        <div>{{ hunt.completedClientsCount }} of {{ hunt.allClientsCount }}</div>
        <mat-chip-list [selectable]="false" [tabIndex]="-1">
          <app-hunt-status-chip [hunt]="hunt"></app-hunt-status-chip>
        </mat-chip-list>
      </div>
      <div class="bottom-row">
        <div class="left">
          <app-copy-button class="mat-small monospace subtitle">
            {{ hunt.huntId }}
          </app-copy-button>
          <app-copy-button class="mat-small subtitle">
            {{ hunt.flowName }}
          </app-copy-button>
        </div>
        <mat-progress-bar
            *ngIf="huntStarted(hunt)"
            [mode]="isRunning(hunt) ? 'buffer' : 'determinate'"
            [value]="getHuntProgress(hunt)"
            [bufferValue]="getHuntBufferProgress(hunt)"
            [matTooltip]="getHuntProgressTooltip(hunt)"
            color="success"
            class = "right"
          ></mat-progress-bar>
      </div>
    </div>

    <result-accordion [colorScheme]="ColorScheme.FLOW_ARGS" title="Fleet collection arguments">
      <hunt-flow-arguments class="args" [hunt]="hunt"></hunt-flow-arguments>
      <hunt-arguments class="args" [hunt]="hunt"></hunt-arguments>
    </result-accordion>
  </div>
</app-infinite-list>
