@use '@angular/material' as mat;
@use '../../../material-theme' as c;

.condition {
  border-bottom: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  border-top: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;

  .header {
    font-family: c.$google-sans-display-family;
    color: mat.get-color-from-palette(c.$foreground, text-light);

    display: flex;
    flex-direction: row;

    .title {
      flex-grow: 1;
    }
  }
}
