@use '../../../material-theme' as c;

.mat-mdc-button {
  padding: 40px 0;
}

.mat-h3 {
  margin: 0;
}

.flags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
  align-self: center;
  /* We don't need all the flags to be displayed in one line: */
  max-width: 900px;

  .flag-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
