<condition-panel
  title="Extended flags"
  [formGroup]="formGroup"
  (conditionRemoved)="conditionRemoved.emit()"
>
  <ng-container *ngIf="showLinux$ | async">
    <h3>Linux file flags</h3>
    <div class="flags" name="linuxFileFlags">
      <div *ngFor="let flag of linuxFlags" [matTooltip]="tooltip(flag)">
        <button
          mat-button
          type="button"
          (click)="toggleFlag(flag)"
          [attr.aria-label]="tooltip(flag)"
        >
          <div class="flag-content">
            <span class="identifier monospace">{{flag.identifier}}</span>
            <mat-icon>{{ ICONS[flag.condition] }}</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showOsx$ | async">
    <h3>macOS file flags</h3>
    <div class="flags" name="osxFileFlags">
      <div *ngFor="let flag of osxFlags" [matTooltip]="tooltip(flag)">
        <button
          mat-button
          type="button"
          (click)="toggleFlag(flag)"
          [attr.aria-label]="tooltip(flag)"
        >
          <div class="flag-content">
            <span class="identifier monospace">{{flag.identifier}}</span>
            <mat-icon>{{ ICONS[flag.condition] }}</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </ng-container>
</condition-panel>
