<condition-panel title="Size" (conditionRemoved)="conditionRemoved.emit()">
  <mat-form-field appearance="outline" class="w33">
    <mat-label>Minimum file size</mat-label>
    <input
      matInput
      byteInput
      placeholder=""
      [formControl]="formGroup.controls.minFileSize"
      name="minFileSize"
      class="monospace"
      autocomplete="off"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="w33">
    <mat-label>Maximum file size</mat-label>
    <input
      matInput
      byteInput
      placeholder=""
      [formControl]="formGroup.controls.maxFileSize"
      name="maxFileSize"
      class="monospace"
      autocomplete="off"
    />

    <mat-hint
      *ngIf="!formGroup.hasError('atLeastOneMustBeSet') && (hintFormatting$ | async) as hf"
    >
      <ng-container
        *ngIf="hf.formattedBytesAtUnit.min && !hf.formattedBytesAtUnit.max"
      >
        Will collect files of size at least {{ hf.formattedBytesAtUnit.min }}
        <a
          href="https://en.wikipedia.org/wiki/{{ hf.units.min }}"
          target="_blank"
          >{{ hf.units.min }}</a
        >
        <span *ngIf="hf.formattedRawBytes.min">
          = {{ hf.formattedRawBytes.min }} bytes, inclusive
        </span>
      </ng-container>
      <ng-container
        *ngIf="!hf.formattedBytesAtUnit.min && hf.formattedBytesAtUnit.max"
      >
        Will collect files of size at most {{ hf.formattedBytesAtUnit.max }}
        <a
          href="https://en.wikipedia.org/wiki/{{ hf.units.max }}"
          target="_blank"
          >{{ hf.units.max }}</a
        >
        <span *ngIf="hf.formattedRawBytes.max">
          = {{ hf.formattedRawBytes.max }} bytes, inclusive
        </span>
      </ng-container>
      <ng-container
        *ngIf="hf.formattedBytesAtUnit.min && hf.formattedBytesAtUnit.max"
      >
        Will collect files of size at least {{ hf.formattedBytesAtUnit.min }}
        <a
          href="https://en.wikipedia.org/wiki/{{ hf.units.min }}"
          target="_blank"
          >{{ hf.units.min }}</a
        >
        <span *ngIf="hf.formattedRawBytes.min">
          = {{ hf.formattedRawBytes.min }} bytes</span
        >
        and at most {{ hf.formattedBytesAtUnit.max }}
        <a
          href="https://en.wikipedia.org/wiki/{{ hf.units.max }}"
          target="_blank"
          >{{ hf.units.max }}</a
        >
        <span *ngIf="hf.formattedRawBytes.max">
          = {{ hf.formattedRawBytes.max }} bytes, inclusive
        </span>
      </ng-container>
    </mat-hint>
  </mat-form-field>
  <mat-error *ngIf="formGroup.hasError('atLeastOneMustBeSet')"
    >Either one or both values must be set.</mat-error
  >
</condition-panel>
