<condition-panel
  title="{{ title | titlecase }} time"
  (conditionRemoved)="conditionRemoved.emit()"
>
  <mat-form-field appearance="outline">
    <mat-label>Min last {{ title }} time</mat-label>
    <date-time-input
      #minTime
      [formControl]="formGroup.controls.minTime"
      name="minTime"
    ></date-time-input>
    <date-time-input-toggle [for]="minTime" matSuffix></date-time-input-toggle>
    <mat-error *ngIf="formGroup.controls.minTime.hasError('invalidDateTime')">
      {{ formGroup.controls.minTime.getError('invalidDateTime') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Max last {{ title }} time</mat-label>
    <date-time-input
      #maxTime
      [formControl]="formGroup.controls.maxTime"
      name="maxTime"
    ></date-time-input>
    <date-time-input-toggle [for]="maxTime" matSuffix></date-time-input-toggle>
    <mat-error *ngIf="formGroup.controls.maxTime.hasError('invalidDateTime')">
      {{ formGroup.controls.maxTime.getError('invalidDateTime') }}
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="formGroup.hasError('atLeastOneMustBeSet')"
    >Either one or both times have to be set.</mat-error
  >
  <mat-error *ngIf="formGroup.hasError('timesNotInOrder')"
    >Min timestamp has to be strictly before the max timestamp.</mat-error
  >
</condition-panel>
