@use '@angular/material' as mat;
@use '../../../material-theme' as c;

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 500;
  text-align: left;
  color: mat.get-color-from-palette(c.$foreground, text-light);
}

td {
  text-align: left;
  border-top: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  border-bottom: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  padding: 0.3em 1.5em 0.3em 0;
  vertical-align: top;
}
