<h1 mat-dialog-title>Entry history</h1>
<div mat-dialog-content class="mat-body-1">
  <table>
    <tr>
      <th>Time</th>
      <th>Version</th>
    </tr>

    <tr *ngFor="let element of tableRows">
      <td><app-timestamp [date]="element.time" relativeTimestamp="hidden"></app-timestamp></td>
      <td [ngSwitch]="entryType">
        <users-details *ngSwitchCase="'user-list'" [users]="element.version"></users-details>
        <volumes-details *ngSwitchCase="'volume-list'" [volumes]="element.version"></volumes-details>
        <interfaces-details *ngSwitchCase="'interface-list'" [interfaces]="element.version"></interfaces-details>
        <human-readable-size *ngSwitchCase="'size'" [size]="element.version"></human-readable-size>
        <app-timestamp *ngSwitchCase="'timestamp'" [date]="element.version" relativeTimestamp="hidden"></app-timestamp>
        <ng-container *ngSwitchDefault>{{element.version}}</ng-container>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>
