<div class="padded">

  <div ng-if="!response">
    <uib-progressbar class="progress-striped active" max="100" value="50">
      Creating cron job...
    </uib-progressbar>
  </div>

  <div ng-if="response && response.error" class="alert alert-error">
    <p><em>Can't create cron job:</em></p>
    <p class="preserve-linebreaks">{$ response.data $}</p>
  </div>

  <div ng-if="response && !response.error" class="panel panel-default">
    <div class="panel-body">
      <p>
        Created Cron Job:
        <grr-semantic-value value="response.data"></grr-semantic-value>
      </p>
    </div>
  </div>

</div>
