<div class="padded">
  <grr-form-value value="clientRuleSet"></grr-form-value>

  <h3 class="text-center" ng-if="!clientRuleSet.value.rules ||
                              clientRuleSet.value.rules.length == 0">
    No rules specified!
    <span ng-if="!clientRuleSet.value.match_mode.value ||
                 clientRuleSet.value.match_mode.value == 'MATCH_ALL'">
      The hunt will run on all clients.
    </span>
    <span ng-if="clientRuleSet.value.match_mode.value &&
                 clientRuleSet.value.match_mode.value == 'MATCH_ANY'">
      The hunt won't run on any client.
    </span>
  </h3>
</div>
