<div class="controls-top" [hidden]="hideControls">
  <mat-form-field appearance="outline" class="filter-input">
    <mat-label>Filter</mat-label>
    <mat-icon matPrefix>filter_list</mat-icon>
    <input
      matInput
      [formControl]="searchStringControl"
      placeholder="Ex. /some/file/path, bash, 127.0.0.1"
      autocomplete="off"
    />
  </mat-form-field>
  <mat-paginator
    class="top-paginator"
    #topPaginator
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    aria-label="Select page."
  >
  </mat-paginator>
</div>

<ng-content>
  <!--  This is where the content should be rendered. -->
</ng-content>

<mat-paginator
  class="bottom-paginator controls-bottom"
  #paginatorBottom
  [pageSize]="topPaginator.pageSize"
  (page)="handlePageBottom($event)"
  [pageIndex]="topPaginator.pageIndex"
  [length]="topPaginator.length"
  [pageSizeOptions]="topPaginator.pageSizeOptions"
  showFirstLastButtons
  aria-label="Select page."
  [hidden]="hideControls"
>
</mat-paginator>
