@use '@angular/material' as mat;
@use '../../material-theme' as c;

.title {
  text-align: center;
  font-family: c.$google-sans-family;
  margin-bottom: 20px;
}

.content {
  .label-field {
    width: 100%;
  }
}

.actions {
  padding: 0 15px 15px;
}
