<form (submit)="onAddClick($event)" [appSubmitOnMetaEnter]="true">
  <div mat-dialog-title class="title">Adding a label</div>
  <div mat-dialog-content class="content">
    <p>You can add a new label or select from existing labels.</p>
    <mat-form-field class="label-field" appearance="outline">
      <mat-label>Start typing label name</mat-label>
      <input
        matInput
        cdkFocusInitial
        [formControl]="labelInputControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let label of suggestedLabels$ | async"
          [value]="label"
        >
          <small>{{label}}</small>
        </mat-option>
        <!-- If the input label already exists, announce to the user! -->
        <mat-option
          *ngIf="labelInputControl.hasError('alreadyPresentLabel')"
          [value]="labelInputControl.value"
        >
          <small
            >Label "{{labelInputControl.value.trim()}}" already present!</small
          >
        </mat-option>
        <!-- Suggest creating a new label, if so (default option) -->
        <mat-option
          *ngIf="isNewLabel$ | async"
          [value]="labelInputControl.value.trim()"
        >
          <small>Add new label "{{labelInputControl.value.trim()}}"</small>
        </mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="labelInputControl.hasError('alreadyPresentLabel')"
        >This label is already present!</mat-error
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="actions">
    <button id="cancel" mat-button color="primary" (click)="onCancelClick()" type="button">
      Cancel
    </button>
    <button
      id="add"
      mat-button
      color="primary"
      (click)="onAddClick()"
      [disabled]="labelInputControl.invalid"
      [matTooltip]="'CTRL/⌘ + ENTER'"
      type="submit"
    >
      Add label
    </button>
  </div>
</form>
