grr-file-hex-view {

  .uib-pagination {
    margin: 5px 0;
  }

  table {

    .offset {
      font-weight: bold;
      color: $color-table-row-offset;
      padding-right: 1ex;
    }

    td {
      vertical-align: top !important;
    }

    .data {
      padding-left: 2ex;
      white-space: nowrap;
    }

  }

  .no-content {
    text-align: center;
    margin-top: 50px;
    font-size: 2.0em;
    color: $color-no-content-color;
  }

}
