grr-file-table {
  .fa-download {
    color: $color-dim-grey;
    opacity: .9;
  }

  .navbar button.dropdown-toggle {
    height: 32px;
  }

  div.outer {
    display: flex;
    flex-direction: column;
  }

  // Make the toolbar flexible, so that it auto adjusts its height if it's
  // too narrow.
  .navbar.toolbar {
    min-height: 48px;
    height: auto !important;
  }

  div.content {
    position: relative;
    flex-grow: 1;
    overflow: auto;
  }
}
