<div class="btn-group large">
  <button class="btn btn-default" data-toggle="dropdown">
    <i class="fa fa-file-o"></i>
    <i class="fa fa-arrow-circle-down annotation"></i>
  </button>
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-class="{'disabled': controller.downloadCurrentFolderDisabled}">
      <a name="downloadCurrentFolder"
         ng-click="controller.downloadCurrentFolder($event)"
         href="#">
        Download files collected in <strong>this folder and below</strong>
      </a>
    </li>
    <li ng-class="{'disabled': controller.downloadEverythingDisabled}">
      <a name="downloadEverything"
         ng-click="controller.downloadEverything($event)"
         href="#">
        Download <strong>all</strong> files collected from this client
      </a>
    </li>
  </ul>
</div>
