<h5 class="preserve-linebreaks">{$ ::value.value.artifact.value.doc.value $}</h5>
<table class="table table-bordered table-condensed">
  <tr ng-if="::value.value.error_message.value">
    <td class="col-md-3 proto_error">Error</td>
    <td class="col-md-9 proto_error">
      <grr-semantic-value value="::value.value.error_message.value" />
    </td>
  </tr>
  <tr>
    <td class="col-md-3">Labels</td>
    <td class="col-md-9">
      <grr-semantic-value value="::value.value.artifact.value.labels" />
    </td>
  </tr>

  <tr>
    <td class="col-md-3">Platforms</td>
    <td class="col-md-9">
      <grr-semantic-value value="::value.value.artifact.value.supported_os" />
    </td>
  </tr>

  <tr>
    <td class="col-md-3">Conditions</td>
    <td class="col-md-9">
      <grr-semantic-value value="::value.value.artifact.value.conditions" />
    </td>
  </tr>

  <tr>
    <td class="col-md-3">Path Dependencies</td>
    <td class="col-md-9">
      <grr-semantic-value value="::value.value.path_dependencies" />
    </td>
  </tr>

  <tr>
    <td class="col-md-3">Links</td>
    <td class="col-md-9">
      <div ng-repeat="link in ::value.value.artifact.value.urls">
        <a ng-href="{{::link.value}}" target="_blank">{$ ::link.value $}</a>
      </div>
    </td>
  </tr>

  <tr>
    <td class="col-md-3">Output Type</td>
    <td class="col-md-9">
      <grr-semantic-value value="::value.value.output_types" />
    </td>
  </tr>
</table>

<div ng-if="::value.value.artifact.value.sources.length > 0">
  <h5>Artifact Sources</h5>
  <grr-semantic-value value="::value.value.artifact.value.sources" />
</div>

<div ng-if="::value.value.processors.length > 0">
  <h5>Artifact Processors</h5>
  <grr-semantic-value value="::value.value.processors" />
</div>
