@use '@angular/material' as mat;
@use '../../../../material-theme' as c;

.mat-cell {
  border-color: mat.get-color-from-palette(c.$foreground, divider-light);
  color: mat.get-color-from-palette(c.$foreground, text-light);
}

.header {
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 0 30px;
}

.subtitle {
  margin: 0 20px;
  font-size: 14px;
}

.icon-align {
  mat-spinner,
  mat-icon {
    vertical-align: inherit;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button-row {
  margin: 20px 20px 0;
  display: flex;
  column-gap: c.$container-padding;
}

.error-tab-icon {
  color: mat.get-color-from-palette(c.$foreground, danger-light);
}

.dark {
  &.mat-stroked-button,
  &button {
    background-color: mat.get-color-from-palette(c.$primary);
    color: white;
  }
}
