<h3 class="mat-h3">File details</h3>

<table class="details mat-body-1">
  <tr>
    <td>Path:</td>
    <td class="monospace">{{(details$ | async)?.stat?.pathspec?.path}}</td>
  </tr>
  <tr>
    <td>Collected:</td>
    <td><timestamp [date]="(details$ | async)?.lastCollected?.timestamp"></timestamp></td>
  </tr>
  <tr>
    <td>Size:</td>
    <td><human-readable-size [size]="(details$ | async)?.lastCollected?.size"></human-readable-size></td>
  </tr>
</table>

<pre
  class="monospace"
><span *ngFor="let line of textContent$ | async; last as isLast">{{
  line}}{{ isLast ? '' : '\n'}}</span
  ><div class="more-indicator" matTooltip="Click on 'Show more' to show truncated content." *ngIf="hasMore$ | async"
  >…</div></pre>

<button
  class="load-more"
  mat-button
  (click)="loadMore()"
  *ngIf="hasMore$ | async"
>
  Show more
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
