:host {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  min-width: 30vw;
  padding: 1em 0;
}

.mat-h3 {
  padding: 0 1em;
  margin: 0;
}

pre {
  background: rgba(0, 0, 0, 0.04);
  counter-reset: line;
  max-width: 100ch;
  overflow-x: auto;
  padding: 1em;
  margin: 0;
}

pre span {
  display: inline;
  line-height: 1.5rem;
}

pre span:before {
  border-right: 1px solid #ddd;
  color: #888;
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  margin-right: 0.5em;
  min-width: 4ch;
  padding: 0 0.5em 0 0;
  text-align: end;
  user-select: none;
}

.load-more {
  width: 100%;
}

.recollect {
  align-self: start;
  margin-left: 1em;

  mat-spinner {
    display: inline-block;
  }
}

.more-indicator {
  display: inline;
  background: rgba(0, 0, 0, 0.04);
  padding: 0 1ch;
  border-radius: 4px;
  user-select: none;
  cursor: default;
}

.details {
  padding: 0 1em;
}
