@use '../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  min-width: 30vw;
}

.header-row {
  padding: c.$container-padding c.$container-padding 0;
  display: flex;
  column-gap: c.$container-padding;

  h3 {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
}

.load-more {
  width: 100%;
}

.recollect {
  align-self: start;
  margin-left: c.$container-padding;
}

.buttons {
  display: flex;
  flex-direction: row;
  column-gap: c.$container-padding;
}

.scroll-container {
  overflow: auto;
  flex-grow: 1;
}
