<b>Table:</b>

<table class="proto_table" ng-if="::value.header">
  <thead>
    <tr>
      <td class="proto_value" ng-repeat="column in ::value.header">
        <b>{$ column.name $}</b>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in ::value.rows">
      <td class="proto_value" ng-repeat="column in ::value.header">
        <grr-rekall-value value="row[column.cname||column.name]"></grr-rekall-value>
      </td>
    </tr>
  </tbody>
</table>

<!-- Still render the data even if it's incomplete -->
<table class="proto_table" ng-if="::!value.header">
  <tbody>
    <tr ng-repeat="row in ::value.rows">
      <td class="proto_value" ng-repeat="(k, v) in ::row track by $index">
        <i>{$ ::k $}</i>:
        <grr-rekall-value value="::v"></grr-rekall-value>
      </td>
    </tr>
  </tbody>
</table>
