@use 'flow_args_form_styles';

.artifact-option {
  line-height: inherit;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.unavailable {
  background-color: #e8eaed;
}

.sources-tree {
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-tree-node {
    min-height: 0;
    line-height: 1.1;
    white-space: nowrap;
    overflow: hidden;
  }

  .mat-mdc-icon-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #868484;
  }
}


.links {
  margin-top: 1em;
}
