<div>
  <mat-form-field appearance="outline" class="w100">
    <mat-label>Absolute file path</mat-label>
    <textarea matInput
              placeholder="/path/to/some/file"
              [formControl]="controls.path"
              class="monospace"
              name="path"
              autocomplete="off">
    </textarea>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w100">
    <mat-label>Signed URL</mat-label>
    <textarea matInput
              placeholder="http://signed/bucket/url"
              [formControl]="controls.signedUrl"
              class="monospace"
              name="signed_url"
              autocomplete="off">
    </textarea>
  </mat-form-field>
  <div class="validation"
       [hidden]="!controls.path.errors?.['required'] && !controls.signedUrl.errors?.['required']">
    <mat-error *ngIf="controls.path.errors?.['required'] || controls.signedUrl.errors?.['required']">
      File path and signed URL expected.
    </mat-error>
  </div>
  <div class='title'>Path type</div>
  <mat-radio-group aria-label="Path type" [formControl]="controls.pathType">
    <mat-radio-button *ngFor="let pt of pathTypes" [value]="pt" class="radio-option w100">
      {{pt}}
    </mat-radio-button>
  </mat-radio-group>
</div>