<div>
  <mat-form-field appearance="outline" class="w100">
    <mat-label>Absolute path</mat-label>
    <input
      matInput
      placeholder=""
      [formControl]="controls.path"
      class="monospace"
      name="path"
      autocomplete="off"
    />
    <mat-hint>
      <app-literal-path-glob-expression-warning
        [path]="form.value['path']"
      ></app-literal-path-glob-expression-warning>
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w33">
    <mat-label>Maximum file size</mat-label>
    <input
      matInput
      byteInput
      placeholder=""
      [formControl]="controls.maxSizeBytes"
      class="monospace"
      autocomplete="off"
    />

    <mat-hint>
      Will collect at most {{ formattedBytesAtUnit$ | async }}
      <a
        href="https://en.wikipedia.org/wiki/{{ unit$ | async }}"
        target="_blank"
        >{{ unit$ | async }}</a
      >
      <span *ngIf="formattedRawBytes$ | async as formattedRawBytes">
        = {{ formattedRawBytes }} bytes
      </span>
    </mat-hint>
    <mat-error *ngIf="controls.maxSizeBytes.hasError('required')">
      Valid byte size is required, e.g. 512 MiB, 10 GB
    </mat-error>
  </mat-form-field>
</div>
