<div [formGroup]="form">
  <mat-checkbox [formControl]="controls.collectChromiumBasedBrowsers"
    name="collectChromiumBasedBrowsers" color="primary">
    Chromium Based Browsers
  </mat-checkbox>
  <mat-checkbox [formControl]="controls.collectFirefox" name="collectFirefox" color="primary">
    Firefox
  </mat-checkbox>
  <mat-checkbox
    [formControl]="controls.collectInternetExplorer"
    name="collectInternetExplorer"
    color="primary"
  >
    Internet Explorer</mat-checkbox
  >
  <mat-checkbox [formControl]="controls.collectOpera" name="collectOpera" color="primary">
    Opera
  </mat-checkbox>
  <mat-checkbox [formControl]="controls.collectSafari" name="collectSafari" color="primary">
    Safari
  </mat-checkbox>
</div>
