<div [formGroup]="form">
  <div formArrayName="pathExpressions">
  <mat-form-field
    *ngFor="let pe of pathExpressions.controls; index as i"
    appearance="outline" style="width: 100%; margin-bottom: 1em;">
    <mat-label>Path expression</mat-label>
    <input matInput placeholder="" [formControlName]="i" class="monospace">
    <button mat-icon-button matSuffix type="button" (click)="removePathExpression(i)"
    aria-label="Remove">
      <mat-icon>remove</mat-icon>
    </button>
    <mat-hint>
      Resolves to:
      <glob-expression-explanation
      [clientId]="clientId$ | async"
      [globExpression]="form.value.pathExpressions[i]"></glob-expression-explanation>
    </mat-hint>
  </mat-form-field>

  <button mat-stroked-button type="button" (click)="addPathExpression()" id="button-add-path-expression">
    Add path expression
  </button>
</div>
</div>
