@use '@angular/material' as mat;
@use '../../material-theme' as c;
@use 'flow_args_form_styles';

.conditions {
  .buttons {
    display: flex;
    column-gap: 1em;
  }
}

.mat-mdc-form-field-error {
  font-size: 85%;
}

.path-row {
  display: flex;
}

