<mat-form-field appearance="outline" class="w100">
  <mat-label>Python Hack path</mat-label>
  <input
    #input
    name="hackName"
    matInput
    [formControl]="controls.hackName"
    [matAutocomplete]="auto"
    placeholder=""
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectHack($event.option.value)"
    [autoActiveFirstOption]="true"
  >
    <mat-option
      *ngFor="let entry of filteredHacks$ | async; trackBy: trackHack"
      [value]="entry.path"
      class="artifact-option"
    >
      {{ entry.path }}
    </mat-option>
  </mat-autocomplete>
  <mat-progress-spinner
    *ngIf="(hacks$ | async) === null"
    matSuffix
    mode="indeterminate"
    diameter="20"
    strokeWidth="1"
    matTooltip="Loading Python Hack suggestions…"
  ></mat-progress-spinner>
</mat-form-field>

<div class="key-value-groups">
  <div
    class="key-value-group"
    *ngFor="let formGroup of controls.pyArgs.controls; let i = index"
    [formGroup]="formGroup"
  >
    <mat-form-field appearance="outline" class="key-input">
      <mat-label>Key</mat-label>
      <input matInput [formControl]="formGroup.controls.key" placeholder="" />
    </mat-form-field>
    =
    <mat-form-field appearance="outline" class="value-input">
      <mat-label>Value</mat-label>
      <input
        matInput
        [formControl]="formGroup.controls.value"
        placeholder=""
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="removeKeyValueFormControl(i)"
        aria-label="Remove"
        [matTooltip]="'Remove argument'"
        class="remove-button"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<button
  mat-stroked-button
  color="primary"
  type="button"
  (click)="addKeyValueFormControl()"
>
  Add argument
</button>
