<!-- TODO: Stop using formControlName here. -->
<div [formGroup]="form">
  <mat-form-field appearance="outline" class="w100">
    <mat-label>Python Hack path</mat-label>
    <input
      #input
      name="hackName"
      matInput
      formControlName="hackName"
      [matAutocomplete]="auto"
      placeholder=""
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectHack($event.option.value)"
    >
      <mat-option
        *ngFor="let entry of filteredHacks$ | async; trackBy: trackHack"
        [value]="entry.path"
        class="artifact-option"
      >
        {{ entry.path }}
      </mat-option>
    </mat-autocomplete>
    <mat-progress-spinner
      *ngIf="(hacks$ | async) === null"
      matSuffix
      mode="indeterminate"
      diameter="20"
      strokeWidth="1"
      matTooltip="Loading Python Hack suggestions…"
    ></mat-progress-spinner>
  </mat-form-field>
</div>
