// Style definitions for all flow args forsm.

.w100 {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-bottom: 1rem;
}

// Flow configuration options.

.option-title {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: #202124; // Grey/900
}

.option-description {
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: #5f6368; // Grey/700
}

mat-error {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

mat-checkbox {
  display: block;
}

mat-radio-button {
  padding: 4px 12px;
}
