<ng-container [formGroup]="form">
  <div class="form-group">
    <mat-label>Collection Method</mat-label>
    <mat-radio-group
      aria-label="Collection method"
      [formControl]="controls.collectionMethod"
      class="collection-method-input"
    >
      <mat-radio-button *ngFor="let cm of collectionMethods" [value]="cm">
        {{ cm }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field appearance="outline" class="row">
    <mat-label>Path</mat-label>
    <input
      matInput
      type="text"
      placeholder="E.g.: /usr/me"
      [formControl]="controls.path"
      class="monospace path-input"
      autocomplete="off"
    />
    <mat-hint>
      <app-literal-path-glob-expression-warning
        [path]="controls.path.value"
      ></app-literal-path-glob-expression-warning>
    </mat-hint>
  </mat-form-field>
</ng-container>
