<div class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>Executable path regex</mat-label>
    <input
      matInput
      type="text"
      placeholder="^/usr/(local/)?bin/foo.+$"
      [formControl]="controls.filenameRegex"
      name="filenameRegex"
      class="monospace"
    />
    <mat-hint>
      If set, only list processes whose executable path matches a
      <a
        href="https://docs.python.org/3/library/re.html"
        target="_blank"
        rel="noreferrer"
        >regex</a
      >.
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>PIDs</mat-label>
    <input
      matInput
      commaSeparatedNumberInput
      placeholder="0, 42, 123"
      [formControl]="controls.pids"
      name="pids"
      autocomplete="off"
    />
    <mat-hint>
      If set, only list processes that match a comma-separated list of process
      IDs
    </mat-hint>
    <mat-error *ngIf="controls.pids.errors?.['invalidIntegerEntry'] as error">
      PIDs must be non-negative integers. Invalid: {{error.value}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Connection state</mat-label>
    <mat-chip-list #chipList aria-label="Connection state">
      <mat-chip
        *ngFor="let state of controls.connectionStates.value"
        (removed)="removeConnectionState(state)"
      >
        {{state}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #connectionStateInputEl
        placeholder="LISTEN, ESTABLISHED, ..."
        [formControl]="connectionStateAutocompleteControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
        (matChipInputTokenEnd)="tryAddAutocompleteConnectionState($event.value)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="addConnectionState($event.option.value)"
    >
      <mat-option
        *ngFor="let state of autocompleteStates$ | async"
        [value]="state"
      >
        {{state}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>
      If set, only list processes that have network connections matching any of
      the states
    </mat-hint>
  </mat-form-field>

  <mat-checkbox [formControl]="controls.fetchBinaries">
    Collect process executables
  </mat-checkbox>
</div>
