<ng-container [formGroup]="form">
  <div class="column">
    <div class="option-title">Collection Method</div>
    <div class="row">
      <mat-radio-group
        aria-label="Collection method"
        [formControl]="controls.collectionMethod"
        class="collection-method-input"
      >
        <mat-radio-button *ngFor="let cm of collectionMethods" [value]="cm">
          {{ cm }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline" class="w100">
      <mat-label>Path</mat-label>
      <input
        matInput
        type="text"
        placeholder="E.g.: /usr/me"
        [formControl]="controls.path"
        class="monospace path-input"
        autocomplete="off"
      />
      <mat-hint>
        <app-literal-knowledgebase-expression-warning
          [path]="controls.path.value"
        ></app-literal-knowledgebase-expression-warning>
      </mat-hint>
    </mat-form-field>
  </div>
</ng-container>
