<div [formGroup]="form">
  <mat-form-field appearance="outline" class='query-holder'>
    <mat-label>Query</mat-label>
    <textarea matInput placeholder="" formControlName="query" cdkTextareaAutosize></textarea>
  </mat-form-field>

  <mat-form-field class='timeout-holder'>
    <mat-label>Timeout</mat-label>
    <input matInput placeholder="" formControlName="timeoutMillis">
    <span matSuffix>ms</span>
  </mat-form-field>

  <div class='ignore-checkbox-holder'>
    <mat-checkbox formControlName="ignoreStderrErrors">Ignore stderr errors</mat-checkbox>
  </div>
</div>
