
<div class="main-container">
  <div class="query-section">
    <mat-form-field appearance="outline" class="editor-form-field">
      <mat-label>SQL query</mat-label>
      <app-code-editor
        [formControl]="controls.query"
        [highlight]="HighlightMode.OSQUERY"
      ></app-code-editor>

      <button
        type="button"
        (click)="browseTablesClicked()"
        mat-stroked-button
        color="primary"
        class="browse-tables-button"
      >
        Browse available tables and template queries
      </button>
    </mat-form-field>
  </div>

  <span>
    <button
      type="button"
      *ngIf="!fileCollectionSettingsShown"
      (click)="openCollection()"
      mat-button
      color="primary"
    >
      <span>Show file collection settings</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </span>
  <div
    [class]="fileCollectionSettingsShown ? 'collection-container' : 'hide-content'"
  >
    <mat-form-field>
      <mat-chip-list
        #chipList
        aria-label="Columns for file collection"
        [formControl]="controls.fileCollectionColumns"
      >
        <mat-chip
          *ngFor="let columnName of controls.fileCollectionColumns.value"
          [selectable]="false"
          [removable]="true"
          (removed)="removeFileCollectionColumn(columnName)"
        >
          {{ columnName }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Specify table columns to collect files from"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addFileCollectionColumn($event)"
        />
      </mat-chip-list>
    </mat-form-field>
  </div>

  <span>
    <button
      type="button"
      *ngIf="!lowLevelSettingsShown"
      (click)="openSettings()"
      mat-button
      color="primary"
    >
      <span>Show low-level settings</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </span>
  <div [class]="lowLevelSettingsShown ? 'settings-container' : 'hide-content'">
    <mat-form-field class="timeout-form-field">
      <mat-label>Timeout</mat-label>
      <input
        type="number"
        matInput
        placeholder=""
        [formControl]="controls.timeoutMillis"
        autocomplete="off"
      />
      <span matSuffix>ms</span>
    </mat-form-field>

    <mat-checkbox [formControl]="controls.ignoreStderrErrors"
      >Ignore stderr errors</mat-checkbox
    >
  </div>
</div>
