<div [formGroup]="form" class="container">
  <div class="query">
    <div class="mat-small autocomplete-hint">Press Ctrl+Space for autocompletion</div>
    <textarea #editorTarget formControlName="query"></textarea>
  </div>

  <mat-form-field class="timeout">
    <mat-label>Timeout</mat-label>
    <input type="number" matInput placeholder="" formControlName="timeoutMillis">
    <span matSuffix>ms</span>
  </mat-form-field>

  <mat-checkbox formControlName="ignoreStderrErrors">Ignore stderr errors</mat-checkbox>
</div>
