<div>
  <mat-form-field appearance="outline" class="w100">
    <mat-label>Absolute path</mat-label>
    <input matInput placeholder="/some/path" [formControl]="controls.path" name="path" class="monospace" autocomplete="off" />
    <mat-error *ngIf="controls.path.hasError('required')" name="reqPath">
      A path must be provided.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w100">
    <mat-label>Length</mat-label>
    <input
      matInput
      byteInput
      placeholder="123 B"
      [formControl]="controls.length"
      name="length"
      class="monospace"
      autocomplete="off"
    />

    <mat-hint>
      Will collect {{ lengthFormattedBytesAtUnit$ | async }}
      <a href="https://en.wikipedia.org/wiki/{{ lengthUnit$ | async }}" target="_blank">{{
        lengthUnit$ | async
      }}</a>
      <span *ngIf="lengthFormattedRawBytes$ | async as formattedRawBytes">
        = {{ formattedRawBytes }} bytes
      </span>
    </mat-hint>
    <mat-error *ngIf="controls.length.hasError('required')" name="reqLength">
      Valid byte size is required, e.g. 512 MiB, 10 GB
    </mat-error>
    <mat-error *ngIf="controls.length.hasError('min')" name="minLength">
      Byte size must be greater than zero
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w100">
    <mat-label>Offset</mat-label>
    <input
      matInput
      byteInput
      placeholder="123 B"
      [formControl]="controls.offset"
      name="offset"
      class="monospace"
      autocomplete="off"
    />

    <mat-hint>
      Will start collecting at {{ offsetFormattedBytesAtUnit$ | async }}
      <a href="https://en.wikipedia.org/wiki/{{ offsetUnit$ | async }}" target="_blank">{{
        offsetUnit$ | async
      }}</a>
      <span *ngIf="offsetFormattedRawBytes$ | async as formattedRawBytes">
        = {{ formattedRawBytes }} bytes
      </span>
    </mat-hint>
  </mat-form-field>
</div>
