mysql_data_source_name: "fleetspeak-user:fleetspeak-password@tcp(mysql-host:3306)/fleetspeak"
https_config: <
  listen_address: "fleetspeak-frontend:4443"

  certificates: "%FLEETSPEAK_CERT%"
  key: "%FLEETSPEAK_KEY%"
>
notification_listen_address: "fleetspeak-frontend:10000"
notification_public_address: "fleetspeak-frontend:10000"
