mysql_data_source_name: "fleetspeak-user:fleetspeak-password@tcp(mysql-host:3306)/fleetspeak"
https_config: <
  listen_address: "fleetspeak-frontend:4443"
  certificates: "-----BEGIN CERTIFICATE-----\nMIIBzjCCAXSgAwIBAgIRAJDHUJue7M1sw5dSJH9lrz4wCgYIKoZIzj0EAwIwIzEh\nMB8GA1UEAxMYRmxlZXRzcGVhayBGbGVldHNwZWFrIENBMB4XDTI0MDExMjE0NTE1\nNFoXDTI1MDExMTE0NTE1NFowJzElMCMGA1UEAxMcRmxlZXRzcGVhayBGbGVldHNw\nZWFrIFNlcnZlcjBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABLLeYLg2srhBEAlf\nCJbddIf0ops80/sATmwCsXk3Ly/skJCmz/Dk9T05IjolyNZbbG6clYgKTXSbA+OK\nHHOXqvSjgYQwgYEwDgYDVR0PAQH/BAQDAgKEMA8GA1UdEwEB/wQFMAMBAf8wHQYD\nVR0OBBYEFFzvvyzN5JaKm8/oXmdtNioscn46MB8GA1UdIwQYMBaAFFpd5HhAtTOc\nJnjf/rFE6q7TlYKSMB4GA1UdEQQXMBWCE2ZsZWV0c3BlYWstZnJvbnRlbmQwCgYI\nKoZIzj0EAwIDSAAwRQIgc2g8s657NA/8hQqKcPlMZRiFk3BsWvc9v5ztZoOG6PAC\nIQDW/geEXuIjaHN/Z6CEG3xAnBLW2ZOBd8ml50yMmHaVuA==\n-----END CERTIFICATE-----\n"
  key: "-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEIJzmo0Nfbncsx7ql/oQmlBUuLF6/AcLe+P/a80cq/uIpoAoGCCqGSM49\nAwEHoUQDQgAEst5guDayuEEQCV8Ilt10h/SimzzT+wBObAKxeTcvL+yQkKbP8OT1\nPTkiOiXI1ltsbpyViApNdJsD44occ5eq9A==\n-----END EC PRIVATE KEY-----\n"
>
notification_listen_address: "fleetspeak-frontend:10000"
notification_public_address: "fleetspeak-frontend:10000"