grr-hunt-graph {
  width: 100%;
  padding: 0;
  position: relative;
  display: block;

  .client-completion-graph {
    min-height: 300px;
  }

  table {
    width: 100%;

    .title {
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
    }

    .axis-x,
    .axis-y {
      font-weight: bold;
      text-align: center;
    }

    .axis-y {
      transform: rotate(-90deg);
      width: 40px;
    }

    .graph-wrapper {
      position: relative;
    }

    td.legendColorBox {
      padding-right: 3px;
    }
  }
}
