name: "GRR"
factory: "Daemon"
config: {
  [type.googleapis.com/fleetspeak.daemonservice.Config]: {
    argv: "python"
    argv: "-m"
    argv: "grr_response_client.client"
    argv: "--config"
    argv: "/configs/grr.client.yaml"
  }
}