name: "GRR"
factory: "Daemon"
config: {
  [type.googleapis.com/fleetspeak.daemonservice.Config]: {
    argv: "grrd"
    argv: "--config"
    argv: "/configs/client/grr.client.yaml"
  }
}
