<h1>Collection</h1>

<app-flow-picker></app-flow-picker>

<form autocomplete="off" spellcheck="false" #form [appSubmitOnMetaEnter]="true">
  <flow-args-form
    [flowDescriptor]="selectedFD$ | async"
    [autofocus]="true"
  ></flow-args-form>

  <mat-error *ngIf="error$ | async as error">{{error}}</mat-error>

  <div *ngIf="selectedFD$ | async">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="disabled$ | async"
      class="progress-spinner-button"
      [matTooltip]="'CTRL/⌘ + ENTER'"
    >
      <div class="progress-spinner-button-label-container">
        <mat-spinner diameter="20" *ngIf="requestInProgress$ | async"></mat-spinner>
        <span>{{ (hasAccess$ | async) ? "Start" : "Schedule" }}</span>
      </div>
    </button>
    <span *ngIf="(hasAccess$ | async) !== true" class="mat-small">
      Scheduled flows will be started automatically when approval is granted.
    </span>
  </div>
</form>
