@use '~material-theme' as c;

.timestamp {
  position: relative;
  display: inline-block;
}

.tooltip {
  margin-bottom: 3px !important;
}

.inline_relative {
  display: inline-block;
  color: c.mat-color(c.$foreground, text-light);
}
