<div *ngIf="date !== undefined; else dateUndefined"
  class="ts_component_timestamp"
  [matTooltip]="date | relativeTimestamp"
  matTooltipPosition="below"
  matTooltipClass="ts_component_tooltip"
  [matTooltipDisabled]="completeFormat || !tooltipEnabled"
  [style.border-bottom]="(completeFormat || !tooltipEnabled || forceDisableUnderlining) ? 'none' : '1px dotted rgb(126, 126, 126)'">
  {{date | date:'yyyy-MM-dd HH:mm:ss':timezone}} {{timezone}}

  <div class="ts_component_inline_relative" *ngIf="completeFormat">
    {{date | relativeTimestamp}}
    <button mat-icon-button class="ts_component_copy_button"
      [cdkCopyToClipboard]="(date | date:'yyyy-MM-dd HH:mm:ss':timezone) + ' ' + timezone"
      aria-label="Copy">
      <mat-icon aria-label="Copy">content_copy</mat-icon>
    </button>
  </div>
</div>
<ng-template #dateUndefined><span>Unknown</span></ng-template>
