$icon-size: 20px;
$button-size: 24px;

:host {
  align-items: center;
  display: flex;
  overflow: hidden;

  mat-icon {
    margin-bottom: 16px;
  }

  .wrapper {
    border: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
  }

  button {
    margin-left: 4px;
    height: $button-size;
    line-height: $button-size;
    width: $button-size;
    margin-bottom: 16px;
    visibility: hidden;

    mat-icon {
      font-size: $icon-size;
      height: $icon-size;
      line-height: $icon-size;
      width: $icon-size;
    }
  }

  &:hover button {
    visibility: visible;
  }
}
