<as-split unit="percent" direction="horizontal" class="columns">
  <as-split-area [size]="30">
    <mat-tree
      [dataSource]="treeDataSource"
      [treeControl]="treeControl"
      class="directory-tree"
    >
      <mat-nested-tree-node *matTreeNodeDef="let node">
        <div
          class="mat-tree-node"
          [class.selected]="node.path === selectedTreePath"
        >
          <button
            *ngIf="canExpand(-1, node); else placeholder"
            mat-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            class="expansion-button"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ node.loading ? 'cached' : treeControl.isExpanded(node) ?
              'arrow_drop_down' : 'arrow_right' }}
            </mat-icon>
          </button>
          <ng-template #placeholder>
            <div class="expansion-button placeholder">
              <mat-icon *ngIf="node.loading" class="mat-icon-rtl-mirror"
                >cached</mat-icon
              >
            </div>
          </ng-template>

          <a
            mat-button
            [routerLink]="['../', node.path]"
            class="directory-link"
          >
            <mat-icon>folder</mat-icon>
            {{node.name}}
          </a>
        </div>
        <div class="vertical-bar" *ngIf="treeControl.isExpanded(node)"></div>
        <div [hidden]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </as-split-area>
  <as-split-area [size]="70">
    <as-split unit="percent" direction="vertical">
      <as-split-area>
        <mat-card class="directory-card mat-card-outlined mat-card-no-padding">
          <mat-card-title>
            {{ (selectedDirectory$ | async)?.name }}

            <div class="spacer"></div>

            <button
              mat-stroked-button
              type="button"
              (click)="triggerListDirectory($event)"
              [disabled]="isListingCurrentDirectory$ | async"
            >
              <mat-spinner
                *ngIf="isListingCurrentDirectory$ | async; else enabledIcon"
                diameter="24"
              ></mat-spinner>
              <ng-template #enabledIcon
                ><mat-icon>refresh</mat-icon></ng-template
              >
              List directory
            </button>

            <button
              mat-stroked-button
              type="button"
              (click)="triggerDeepListDirectory($event)"
              [disabled]="isListingCurrentDirectory$ | async"
            >
              <mat-spinner
                *ngIf="isListingCurrentDirectory$ | async; else enabledIcon"
                diameter="24"
              ></mat-spinner>
              <ng-template #enabledIcon
                ><mat-icon>refresh</mat-icon></ng-template
              >
              List directory &amp; subdirectories
            </button>
          </mat-card-title>

          <div class="card-container">
            <table
              mat-table
              [dataSource]="tableDataSource"
              [trackBy]="trackByPath"
              class="directory-table"
            >
              <ng-container matColumnDef="isDirectory">
                <th mat-header-cell *matHeaderCellDef class="icon"></th>
                <td mat-cell *matCellDef="let r" class="icon">
                  <mat-icon>
                    {{r.isDirectory ? "folder" : "description"}}
                  </mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let r" class="name">{{r.name}}</td>
              </ng-container>

              <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
                <td mat-cell *matCellDef="let r" class="number">
                  <human-readable-size [size]="r.size"></human-readable-size>
                </td>
              </ng-container>

              <ng-container matColumnDef="atime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  A-time
                </th>
                <td mat-cell *matCellDef="let r" class="timestamp">
                  <app-timestamp [date]="r.atime"></app-timestamp>
                </td>
              </ng-container>

              <ng-container matColumnDef="mtime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  M-time
                </th>
                <td mat-cell *matCellDef="let r" class="timestamp">
                  <app-timestamp [date]="r.mtime"></app-timestamp>
                </td>
              </ng-container>

              <ng-container matColumnDef="ctime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  C-time
                </th>
                <td mat-cell *matCellDef="let r" class="timestamp">
                  <app-timestamp [date]="r.ctime"></app-timestamp>
                </td>
              </ng-container>

              <ng-container matColumnDef="btime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  B-time
                </th>
                <td mat-cell *matCellDef="let r" class="timestamp">
                  <app-timestamp [date]="r.btime"></app-timestamp>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedTableColumns; sticky: true"
              ></tr>
              <!-- Adding a ripple effect to a table row is much harder than it should
          be. Good luck and have fun:
          https://github.com/angular/components/issues/11883 -->
              <tr
                mat-row
                *matRowDef="let row; columns: displayedTableColumns;"
                [routerLink]="['../', row.path]"
                class="clickable"
                [class.selected]="row.path === selectedTablePath"
              ></tr>
            </table>
          </div>
        </mat-card>
      </as-split-area>
      <as-split-area *ngIf="selectedFileId$ | async as file">
        <mat-card class="mat-card-outlined mat-card-no-padding">
          <app-file-details [file]="file"></app-file-details>
        </mat-card>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>
