@use "sass:math";
@use "@angular/material" as mat;
@use "../../material-theme" as c;

$icon-size: 24px;
$tree-row-height: 24px;

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin: 0 2rem;
}

.mat-typography h2 {
  margin: 0;
}

mat-spinner {
  display: inline-block;
}

.selected {
  background: mat.get-color-from-palette(c.$foreground, selected);
}

mat-tree {
  background: none;
  overflow: auto;
  flex: 1;

  .mat-icon {
    color: mat.get-color-from-palette(c.$foreground, icon-grey);
  }

  .mat-button {
    line-height: $tree-row-height;
    padding: 0;
    min-width: $tree-row-height;
  }

  .placeholder {
    min-width: $tree-row-height;
    line-height: $tree-row-height;
  }

  mat-nested-tree-node {
    display: block;

    mat-nested-tree-node {
      margin-left: math.div($icon-size, 2) - 0.5px;
      border-left: 1px solid
        mat.get-color-from-palette(c.$foreground, divider-light);
    }
  }

  & > mat-nested-tree-node {
    padding-left: 0;
  }

  .mat-tree-node {
    min-height: $tree-row-height;
  }

  .directory-link {
    flex: 1;
    text-align: left;
    line-height: $tree-row-height;
  }
}

.directory-table {
  td.icon,
  th.icon {
    width: calc($icon-size * 1.5);
    max-width: calc($icon-size * 1.5);
    min-width: $icon-size;

    mat-icon {
      display: flex; // Center icons vertically correctly.
    }
  }
}

.card-container {
  display: flex;
  overflow: auto;
  flex: 1 1 0;
  align-items: flex-start;

  table {
    flex: 1;
  }
}

.mat-card-no-padding {
  padding: 0;
}

.mat-card-title {
  padding: c.$container-padding c.$container-padding 0;
  display: flex;
  column-gap: c.$container-padding;

  .spacer {
    flex: 1;
  }
}

app-file-details {
  overflow: auto;
  flex: 1 1 0;
}

.as-vertical .as-split-area {
  display: flex;
  flex-direction: column;

  mat-card {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

// stylelint-disable declaration-no-important --
// I've only found ways to override the gutter style with !important.
::ng-deep as-split {
  & > .as-split-gutter {
    background: none !important;

    &:hover {
      background: rgba(0, 0, 0, 0.1) !important;
    }

    & > .as-split-gutter-icon {
      background: #1967d2 !important;
      border-radius: 5px;
    }
  }

  &.as-vertical > .as-split-gutter > .as-split-gutter-icon {
    width: 40px !important;
    height: 4px !important;
  }

  &.as-horizontal > .as-split-gutter > .as-split-gutter-icon {
    height: 40px !important;
    width: 4px !important;
  }
}
