<div class="wrapper">
  <div class="header" (click)="showContent($event)">
    <h1>
      <mat-icon>approval</mat-icon>
      Access approval

      <app-approval-chip
        *ngIf="latestApproval"
        [approval]="latestApproval"
      ></app-approval-chip>
    </h1>

    <button
      id="approval-card-toggle"
      mat-icon-button
      class="corner-button"
      (click)="toggleContent($event)"
      aria-label="View/hide approval information"
    >
      <mat-icon
        >{{hideContent ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon
      >
    </button>
  </div>

  <div class="content">
    <div *ngIf="latestApproval" [ngSwitch]="latestApproval.status.type" class="latest-approval">
      <table *ngSwitchCase="'pending'">
        <tr>
          <td><strong>Request sent to: </strong></td>
          <td>
            <span
              *ngFor="let approver of latestApproval.requestedApprovers; last as isLast"
            >
              <user-image [username]="approver" size="16px"></user-image>
              {{approver}}{{isLast ? "" : ","}}
            </span>
          </td>
        </tr>
        <tr>
          <td><strong>Request reason: </strong></td>
          <td>
            <app-text-with-links
                [text]="latestApproval.reason"
            >
            </app-text-with-links>
          </td>
        </tr>
      </table>

      <table *ngSwitchCase="'valid'">
        <tr>
          <td><strong>Request approved by: </strong></td>
          <td>
            <span
              *ngFor="let approver of latestApproval.approvers; last as isLast"
            >
              <user-image [username]="approver" size="16px"></user-image>
              {{approver}}{{isLast ? "" : ","}}
            </span>
          </td>
        </tr>
        <tr>
          <td><strong>Request reason: </strong></td>
          <td>
            <app-text-with-links
                [text]="latestApproval.reason"
            >
            </app-text-with-links>
          </td>
        </tr>
      </table>

      <div class="buttons-row">
        <button
          id="copy-approval-link"
          mat-stroked-button
          [cdkCopyToClipboard]="(url$ | async) ?? ''"
        >
          Copy link
        </button>

        <button
          *ngIf="!showForm && (latestApproval.status.type==='pending' || latestApproval.status.type==='valid')"
          (click)="showForm = true"
          mat-stroked-button
          color="primary"
        >
          Send new request
        </button>
      </div>
    </div>

    <form
      *ngIf="!latestApproval || showForm || (latestApproval.status.type!=='pending' && latestApproval.status.type!=='valid')"
      [appSubmitOnMetaEnter]="true"
      (submit)="submitRequest($event)"
      [formGroup]="form"
      [class.form-border]="!!latestApproval"
      autocomplete="off"
      spellcheck="false"
    >
      <mat-form-field appearance="outline">
        <mat-label>Reason for approval</mat-label>
        <input
          matInput
          [formControl]="controls.reason"
          autocomplete="off"
          name="reason"
        />
      </mat-form-field>

      <div class="approvers">
        <mat-form-field appearance="outline">
          <mat-chip-list #chipList aria-label="Select approvers">
            <mat-chip
              *ngFor="let username of formRequestedApprovers"
              [selectable]="true"
              [removable]="true"
              (removed)="removeRequestedApprover(username)"
            >
              <user-image [username]="username" size="16px"></user-image>
              {{username}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              #approversInput
              placeholder="Approvers..."
              [formControl]="approversInputControl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption
            (optionSelected)="addRequestedApprover($event.option.value)"
          >
            <mat-option
              *ngFor="let username of approverSuggestions$ | async"
              [value]="username"
            >
              <user-image [username]="username" size="16px"></user-image>
              {{username}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-checkbox
          *ngIf="ccEmail$ | async as ccEmail"
          color="primary"
          [formControl]="controls.ccEnabled"
        >
          CC: {{ccEmail}}
        </mat-checkbox>
      </div>

      <mat-error *ngIf="error$ | async as error">{{error}}</mat-error>

      <button
        *ngIf="showSubmitButton"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="submitDisabled$ | async"
        class="progress-spinner-button"
        [matTooltip]="'CTRL/⌘ + ENTER'"
      >
      <mat-spinner
        *ngIf="requestInProgress$ | async"
        diameter="24"
      ></mat-spinner>
        Request access
      </button>
    </form>
  </div>
</div>
