:host {
  display: block;
  padding-top: 20px;
}

:host.closed {
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

:host.closed .content {
  max-height: 0;
  padding-bottom: 0;
}

:host .content {
  transition: max-height ease 0.4s;
  overflow: hidden;
  padding-bottom: 1.75em;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

button {
  text-transform: uppercase;
}

.form-border {
  padding-top: 2em;
  border-top: 1px solid #d0d0d0;
  margin-top: 2em;
}

form {
  max-width: 500px;

  mat-form-field {
    display: block;
  }

  .approvers {
    mat-checkbox {
      position: relative;
      left: 3px;
    }
  }

  button {
    margin-top: 0.25em;
    height: 4.3em;
  }
}

h1 {
  & > mat-icon {
    display: inline;
    font-size: inherit;
    vertical-align: -2px;
    margin-right: 0.5em;
  }

  mat-chip {
    margin-left: 0.75em;
    min-height: 26px;
    font-size: 12px;
    pointer-events: none;
  }

  .corner-button {
    position: absolute;
    right: 20px;
    top: 12px;
  }
}
