@use "sass:math";
@use '@angular/material' as mat;
@use '../../material-theme' as c;

$container-padding-minus-header: c.$container-padding - math.div(40 - 24, 2);

:host.closed .wrapper {
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.wrapper {
  border-radius: 8px;
  border: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  background: white;
  font-family: c.$google-sans-family;
  padding: $container-padding-minus-header c.$container-padding
    c.$container-padding;
  color: mat.get-color-from-palette(mat.$grey-palette, 800);
}

:host.closed .wrapper {
  padding-bottom: $container-padding-minus-header;
}

:host.closed .content {
  display: none;
}

:host .content {
  display: block;
}

.latest-approval {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: c.$container-padding;
  padding-top: math.div(c.$container-padding, 2);
}

.buttons-row {
  display: flex;
  column-gap: math.div(c.$container-padding, 2);
}

.form-border {
  padding-top: 2em;
  border-top: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  margin-top: 2em;
}

form {
  mat-form-field {
    display: block;
  }

  .approvers {
    mat-checkbox {
      position: relative;
      left: 3px;
    }
  }

  button {
    height: 3em;
  }

  mat-error {
    margin-bottom: 1.6em;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-bottom: 0;

  & > mat-icon {
    display: inline;
    font-size: inherit;
    vertical-align: -2px;
    margin-right: 0.5em;
  }

  app-approval-chip {
    margin-left: 0.75em;
    pointer-events: none;
  }

  .corner-button {
    position: absolute;
    right: 20px;
    top: 12px;
  }
}
