@use "@angular/material" as mat;
@use "../../../material-theme" as c;

$outline-width: 4px;
$background: mat.get-color-from-palette(c.$background, hover);
$invisible: transparentize($background, 1);
$transition-time: 200ms;

:host {
  // Render background as solid even when text wraps across multiple lines.
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: $outline-width 0 0 $outline-width;
  background: $invisible;
  transition: background-color $transition-time ease,
    outline-color $transition-time ease;
  outline: $outline-width solid $invisible;

  .contents {
    // Show .contents over .icon-container to prevent .icon-container outline
    // from overlapping the right side of the contents.
    position: relative;
  }

  .icon-container {
    display: flex;
    align-items: center;

    padding-left: $outline-width;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 0 $outline-width $outline-width 0;
    outline: $outline-width solid $background;
    background: $background;

    transition: opacity $transition-time ease, transform $transition-time ease;
  }

  &:hover {
    z-index: 1;
    background-color: $background;
    outline-color: $background;

    .icon-container {
      // Move icon 100% of its own width to the right, so that it appears directly
      // to the right of the text label.
      transform: translateX(100%);
      opacity: 1;
    }
  }
}
