@use '@angular/material' as mat;
@use '../../../material-theme' as c;

.mat-cell,
.mat-header-cell {
  border-color: mat.get-color-from-palette(c.$foreground, divider-light);
  color: mat.get-color-from-palette(c.$foreground, text-light);
  padding: 0.5em 0.25em;

  &:last-of-type {
    padding-right: 24px;
  }

  &:first-of-type {
    padding-left: 24px;
  }
}

.table-controls {
  display: flex;
  padding-left: 24px;
}

.filter-input {
  flex: 1; // width fills out the space
}

.top-paginator {
  margin-left: auto; // aligns to the right
}

button.load-more {
  width: 100%;
  margin-bottom: 0.5em;
}
