@use '@angular/material' as mat;
@use '../../../material-theme' as c;

.results-query {
  margin: 2em;
  font-size: 14px;
  display: block;
  text-align: center;
}

.results-query-label {
  font-weight: 500;
}

.results-query-text {
  margin-left: 0.5em;
}

.table-container {
  overflow: scroll;
  max-height: 30em;

  border-top: 1px dashed mat.get-color-from-palette(c.$foreground, divider-light);
}

table {
  border-spacing: 0;
  color: mat.get-color-from-palette(c.$foreground, text-light);
  font-size: 14px;
  padding: 1em 0;
  width: 100%;

  th {
    border-bottom: none;
    font-weight: 500;
    text-align: left;
    padding-bottom: 1.5em;
  }

  th,
  td {
    border-bottom: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
    padding-right: 1.5em;
    vertical-align: top;
  }

  th:first-child,
  td:first-child {
    padding-left: 24px;
  }

  th:last-child,
  td:last-child {
    padding-right: 24px;
  }

  tbody {
    td {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  .path {
    word-break: break-word;
    min-width: 200px;
    width: 30%;

    .copy-button {
      font-size: 16px;
      visibility: hidden;

      line-height: 18px;
      height: 18px;
      width: 18px;

      mat-icon {
        font-size: 16px;
      }
    }

    &:hover .copy-button {
      visibility: visible;
    }
  }

  .number {
    white-space: nowrap;
  }

  .timestamp {
    width: 10%;
  }

  .number {
    width: 10%;
  }
}

.error {
  color: mat.get-color-from-palette(c.$foreground, text-light);

  padding: 0.5em 0 0.5em 24px;

  font-family: c.$google-sans-display-family;
  font-weight: 400;

  word-break: break-word;
}
