@use '@angular/material' as mat;
@use '../../../material-theme' as c;

.mat-cell {
  border-color: mat.get-color-from-palette(c.$foreground, divider-light);
  color: mat.get-color-from-palette(c.$foreground, text-light);
}

table {
  border-color: mat.get-color-from-palette(c.$foreground, divider-light);
  color: mat.get-color-from-palette(c.$foreground, text-light);
  font-size: 14px;
  width: 100%;

  th.mat-header-cell {
    border-bottom: none;
    font-weight: 500;
    font-size: inherit;
  }

  td.mat-cell {
    vertical-align: top;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  tr:last-child td.mat-cell {
    border-bottom: none;
  }

  .path {
    word-break: break-word;
    min-width: 200px;
    width: 30%;

    .copy-button {
      font-size: 16px;
      visibility: hidden;

      line-height: 18px !important;
      height: 18px !important;
      width: 18px !important;
    }

    &:hover .copy-button {
      visibility: visible;
    }
  }

  mat-icon {
    font-size: 16px;
  }

  .number {
    white-space: nowrap;
  }

  .timestamp {
    width: 10%;
  }

  .number {
    width: 10%;
  }
}

button.load-more {
  width: 100%;
  margin-bottom: 0.5em;
}
