@use "@angular/material" as mat;
@use "../../../material-theme" as c;

$files-counter-offset: 135px;

.row {
  &.default {
    background-color: mat.get-color-from-palette(c.$background, app-bar);

    .header.expandable:hover {
      background-color: mat.get-color-from-palette(c.$primary, 100, 0.15);
    }
  }

  &.flow-args-scheme {
    background-color: mat.get-color-from-palette(
      c.$background,
      panel-background
    );

    .header.expandable:hover {
      background-color: mat.get-color-from-palette(
        mat.$grey-palette,
        400,
        0.15
      );
    }
  }

  &.error-scheme {
    background-color: mat.get-color-from-palette(c.$background, danger-light);

    .header.expandable:hover {
      background-color: mat.get-color-from-palette(c.$danger, 200, 0.15);
    }
  }

  .header {
    position: relative;
    border-top: 1px solid
      mat.get-color-from-palette(c.$foreground, divider-light);
    padding: 0.5em 0 0.5em c.$card-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.expandable {
      cursor: pointer;
    }

    .left-aligned {
      display: inline-flex;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .title {
        font-family: c.$google-sans-display-family;
        font-weight: 400;

        flex-grow: 1;
        white-space: nowrap;
        padding-right: 12px;

        .arrow-icon {
          font-size: 36px;
        }
      }

      .preview {
        padding-right: 12px;
        flex-grow: 2;

        color: mat.get-color-from-palette(c.$foreground, text-light);
      }

      .preview.error-scheme {
        color: mat.get-color-from-palette(c.$foreground, danger-light);
      }
    }

    &.is-open .preview {
      visibility: hidden;
    }

    .right-aligned {
      display: inline-flex;
      align-items: center;

      .expansion-indicator {
        color: mat.get-color-from-palette(c.$foreground, text-light);
        font-size: 30px;
        text-align: center;
        width: 40px;
      }
    }

    .flow-details-summary-aligned {
      margin-right: 86px;
    }

    .description {
      right: $files-counter-offset;
      white-space: nowrap;
    }

    .title,
    .in-progress,
    .success,
    .warning,
    .error {
      display: flex;
      align-items: center;

      mat-icon {
        position: relative;
        top: -1px;
      }
    }

    .success {
      color: mat.get-color-from-palette(c.$foreground, text-light);
      font-size: 90%;

      mat-icon {
        color: mat.get-color-from-palette(c.$foreground, success);
        margin-left: 0.5em;
      }
    }

    .warning {
      color: mat.get-color-from-palette(c.$warn, darker);
      font-size: 90%;

      mat-icon {
        color: mat.get-color-from-palette(c.$warn);
        margin-left: 0.5em;
      }
    }

    .error {
      color: mat.get-color-from-palette(c.$danger);
      font-size: 90%;

      mat-icon {
        margin-left: 0.5em;
      }
    }
  }
}

.expand-results {
  width: 100%;
}
