<grr-line-chart ng-if="typedData.value.representation_type.value == 'LINE_CHART'"
                typed-data="typedData['value']['line_chart']">
</grr-line-chart>

<grr-comparison-chart ng-if="typedData.value.representation_type.value == 'PIE_CHART'"
                      typed-data="typedData['value']['pie_chart']">
</grr-comparison-chart>

<grr-comparison-chart ng-if="typedData.value.representation_type.value == 'STACK_CHART'"
                      typed-data="typedData['value']['stack_chart']">
</grr-comparison-chart>

<grr-audit-chart ng-if="typedData.value.representation_type.value == 'AUDIT_CHART'"
                 typed-data="typedData">
</grr-audit-chart>
