<div ng-if="controller.values.length === 0">
  No data to display.
</div>

<div ng-if="controller.values.length > 0">
  <table class="table table-striped table-condensed">
    <colgroup>
      <col style="width: 20%">
      <col style="width: 20%">
      <col style="width: 60%">
    </colgroup>
    <thead>
      <tr>
        <th>Label</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in controller.values">
        <td>
          {{ item.label }}
        </td>
        <td>
          {{ item.value }}
        </td>
        <td>
          <uib-progressbar value="item.percent"></uib-progressbar>
        </td>
      </tr>
    </tbody>
  </table>
</div>
