<div class="padded">
  <div class="well">

    <table class="table table-condensed no-bottom-margin">
      <thead>
        <th colspan="2">System Health</th>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-4">
            <grr-server-load-indicator
               status="controller.indicators['frontendLoad']">
            </grr-server-load-indicator>
            <span class="indicator-label">Frontends load</span>
          </td>

          <td class="col-md-4">
            <grr-server-load-indicator
               status="controller.indicators['workerLoad']">
            </grr-server-load-indicator>
            <span class="indicator-label">Workers load</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="pull-right horizontally-padded">
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="controller.duration" uib-btn-radio="1">1h</label>
    <label class="btn btn-primary" ng-model="controller.duration" uib-btn-radio="6">6h</label>
    <label class="btn btn-primary" ng-model="controller.duration" uib-btn-radio="12">12h</label>
    <label class="btn btn-primary" ng-model="controller.duration" uib-btn-radio="24">1d</label>
    <label class="btn btn-primary" ng-model="controller.duration" uib-btn-radio="72">3d</label>
  </div>
</div>

<div class="padded">

  <uib-tabset>
    <uib-tab heading="Frontend" select="frontendTabShown = true">
      <div ng-if="frontendTabShown">
        <p class="lead">Frontend
          <span ng-if="controller.frontendCount">
            ({$ controller.frontendCount $} instances)
          </span>
        </p>
        <h4>Frontend QPS</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="frontend"
                                       metric="frontend_request_latency"
                                       rate="10m"
                                       distribution-handling="DH_COUNT"
                                       label="Requests">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>

        <h4>Frontend request latency rate</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="frontend"
                                       metric="frontend_request_latency"
                                       rate="10m"
                                       distribution-handling="DH_SUM"
                                       label="Latency">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>


        <h4>Frontend active tasks count</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="frontend"
                                       metric="frontend_active_count"
                                       rate="10m"
                                       label="Active tasks">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>
      </div>
    </uib-tab>

    <uib-tab heading="Worker" select="workerTabShown = true">
      <div ng-if="workerTabShown">

        <p class="lead">Worker
          <span ng-if="controller.workerCount">
            ({$ controller.workerCount $} instances)
          </span>
        </p>

        <h4>Worker successful vs failed flows rate</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_flow_completed_count"
                                       rate="10m"
                                       label="Successes">
          </grr-server-load-graph-serie>
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_flow_errors"
                                       rate="10m"
                                       label="Failures">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>

        <h4>Worker threadpool latency vs queuing time rate</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_threadpool_working_time"
                                       rate="10m"
                                       distribution-handling="DH_SUM"
                                       label="Latency">
          </grr-server-load-graph-serie>
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_threadpool_queueing_time"
                                       rate="10m"
                                       distribution-handling="DH_SUM"
                                       label="Queueing time">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>

        <h4>Worker outstanding tasks vs number of threads</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_threadpool_outstanding_tasks"
                                       rate="10m"
                                       aggregation="AGG_MEAN"
                                       label="Outstanding tasks">
          </grr-server-load-graph-serie>
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_threadpool_threads"
                                       rate="10m"
                                       aggregation="AGG_MEAN"
                                       label="Threads">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>

        <h4>Client crashes rate</h4>
        <grr-timeseries-graph start-time="controller.startTime"
                              end-time="controller.endTime">
          <grr-server-load-graph-serie component="worker"
                                       metric="grr_client_crashes"
                                       rate="10m"
                                       label="Crashes">
          </grr-server-load-graph-serie>
        </grr-timeseries-graph>

      </div>
    </uib-tab>
  </uib-tabset>


</div>
