grr-stats-view {
  grr-report-listing {
    position: absolute;
    left: 0;
    width: $reports-tree-width;
    top: 0;
    bottom: 0;
    border-right: $color-modal-border 1px solid;
  }

  grr-report {
    position: absolute;
    left: $reports-tree-width;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}
