grr-client-summary {
  padding: 5px 10px;
  display: block;

  .client-name {
    color: $color-infoline-success;
    word-wrap: break-word;
  }

  grr-client-status-icons > div {
    text-align: left;
    display: inline;
  }

  .client-status,
  .client-ip-info {
    color: $color-infoline-color;
    word-break: break-all;
  }

  grr-client-warnings {
    display: block;
    padding-top: .5em;
  }

  .approval-reason {
    word-wrap: break-word;
  }
}
