@use "@angular/material" as mat;
@use "../../../../material-theme" as c;

:host {
  box-sizing: border-box;
  padding: 20px clamp(10px, 5vw, 150px);
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: c.$container-padding;
}

.section-title {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid mat.get-color-from-palette(c.$foreground, divider);
  margin-bottom: 0;

  &.client-title {
    position: relative;

    mat-icon {
      position: absolute;
      left: -8px;
      transform: translateX(-100%);
    }
  }
}

.section {
  .description {
    min-width: 10em;
    vertical-align: top;
  }

  .value {
    font-weight: 500;
    width: 100%;

    mat-chip-list {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .payload {
    background-color: mat.get-color-from-palette(
      c.$background,
      darker-background
    );
  }
}
