<table class="table table-striped table-condensed table-hover table-bordered full-width">
  <colgroup>
    <col style="width: 40px">
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 20%">
  </colgroup>
  <thead>
    <tr>
      <th>Status</th>
      <th>Run ID</th>
      <th>Started At</th>
      <th>Finished At</th>
      <th>Log Message</th>
      <th>Backtrace</th>
    </tr>
  </thead>
  <tbody>
    <tr grr-infinite-table page-size="100"
        grr-api-items-provider url="controller.runsUrl"
        ng-class="{'row-selected': controller.selectedRunId === item.value.run_id.value}"
        ng-click="controller.selectedRunId = item.value.run_id.value">
      <td>
        <div class="centered run-state-icon">
          <img ng-if="::item.value.status.value == 'FINISHED'"
               title="Run finished normally."
               class="grr-icon grr-run-icon" src="/static/images/stock_yes.png" />
          <img ng-if="::item.value.status.value == 'RUNNING'"
               title="Run is still running."
               class="grr-icon grr-run-icon" src="/static/images/clock.png" />
          <img ng-if="::item.value.status.value == 'ERROR'"
               title="Run terminated with an error."
               class="grr-icon grr-run-icon" src="/static/images/nuke.png" />
          <img ng-if="::item.value.status.value == 'LIFETIME_EXCEEDED'"
               title="The cron job run was cancelled because it ran for too long."
               class="grr-icon grr-run-icon" src="/static/images/skull-icon.png" />
        </div>
      </td>
      <td><grr-semantic-value value="::item.value.run_id"></grr-semantic-value></td>
      <td><grr-semantic-value value="::item.value.started_at"></grr-semantic-value></td>
      <td><grr-semantic-value value="::item.value.finished_at"></grr-semantic-value></td>
      <td name="log_message">{$ ::item.value.log_message.value $}</grr-semantic-value></td>
      <td name="backtrace"><span>{$ ::item.value.backtrace.value $}</span></td>
    </tr>
  </tbody>
 </table>
