<div ng-if="cronJobId && !controller.cronJob">
  Loading...
</div>

<div ng-if="controller.cronJob">

  <dl class="dl-horizontal dl-flow">
    <div class="dl-group">
      <dt>ID</dt>
      <dd>{$ controller.cronJobId $}</dd>

      <dt>Cron Job ID</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.cron_job_id">
        </grr-semantic-value>
      </dd>

      <dt>Description</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.description">
        </grr-semantic-value>
      </dd>

      <dt>Enabled</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.enabled">
        </grr-semantic-value>
      </dd>
    </div>


    <div class="dl-group">
      <dt>Frequency</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.frequency">
        </grr-semantic-value>
      </dd>

      <dt>Last Run Time</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.last_run_time">
        </grr-semantic-value>
      </dd>

      <dt>Max Iteration Lifetime</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.lifetime">
        </grr-semantic-value>
      </dd>

      <dt>Allow Overruns</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.allow_overruns">
        </grr-semantic-value>
      </dd>
    </div>

    <div class="dl-group">
      <dt>Cron Arguments</dt>
      <dd>
        <grr-semantic-value value="controller.cronJob.value.args">
        </grr-semantic-value>
      </dd>
    </div>

  </dl>

</div>
