<grr-flows-list flows-url="controller.flowsUrl"
                selected-flow-id="controller.selectedFlowId">
</grr-flows-list>

<div ng-if="controller.selectedFlowId"
     class="panel details-right-panel">
  <div class="padded">
    <button ng-click="controller.closeDetails()"
            class="close">
      &times;
    </button>
  </div>

  <div grr-force-refresh refresh-trigger="controller.selectedFlowId"
       class="padded">

    <grr-flow-overview flow-id="controller.selectedFlowId"
                       api-base-path="controller.flowsUrl">
    </grr-flow-overview>

  </div>
</div>
