<input (blur)="onTouched()" matInput [(ngModel)]="inputString" autocomplete="off">

<span [matMenuTriggerFor]="calendarMenu" #calendarMenuTrigger="matMenuTrigger"></span>
<mat-menu #calendarMenu class="calendar-menu">
  <mat-calendar #calendar (click)="$event.stopPropagation()" (selectedChange)="setDate($event)"></mat-calendar>
</mat-menu>

<span [matMenuTriggerFor]="clockMenu" #clockMenuTrigger="matMenuTrigger"></span>
<mat-menu #clockMenu class="clock-menu">
  <button *ngFor="let time of menuTimes" class="date-time-input-clock-button" mat-menu-item (click)="setClock(time)">{{ time }}</button>
</mat-menu>
