@use "@angular/material" as mat;
@use "../../../material-theme" as c;

h1 {
  margin: 4em 0 1em;
  display: flex;
  align-items: center;
}

h1::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 2px;
  background-color: mat.get-color-from-palette(c.$foreground, divider-light);
}

.recent-client-flows-list {
  display: grid;
  row-gap: 36px;
}
