@use '@angular/material' as mat;
@use '../../../material-theme' as c;

button {
  background: none;
  border: none;
  padding: 0 3px;
  color: mat.get-color-from-palette(mat.$blue-palette, 700);
  cursor: pointer;
  vertical-align: center;
}

button:hover {
  text-decoration: underline;
}
