grr-osquery-table {

  .outer-wrapper {
    margin: 5px;
  }

  .table-wrapper {
    max-width: 1250px;
    max-height: 250px;
    overflow: auto;

    table {
      width: fit-content !important;
      white-space: nowrap;
    }

    td {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
