<table class="proto_table">
  <tbody>
    <tr ng-repeat="item in ::controller.items">
      <td class="proto_key" >
        <abbr title="{$ ::item.desc $}" ng-if="::item.desc !== undefined">{$ ::item.key $}</abbr>
        <span ng-if="::item.desc === undefined">{$ ::item.key $}</span>
        <span class="proto_history">
          <button class="btn btn-default btn-xs"
                  ng-click="onFieldClick({'fieldPath': item.historyPath || item.structKey})">
            <span class="glyphicon glyphicon-time"></span>
          </button>
        </span>
      </td>

      <td class="proto_value" ng-if="::item.recursiveItem === true">
        <grr-semantic-versioned-proto ng-if="::item.value !== undefined"
                                      value="::item.value"
                                      on-field-click="onFieldClick({'fieldPath': fieldPath})"
                                      history-depth="::historyDepth - 1"
                                      history-path="::item.historyPath">
        </grr-semantic-versioned-proto>
      </td>
      <td class="proto_value" ng-if="::item.recursiveItem === false">
        <grr-semantic-value ng-if="::item.value !== undefined" value="::item.value" />
      </td>
    </tr>
  </tbody>
</table>
