grr-semantic-versioned-proto {
  td.proto_key,
  td.proto_history,
  td.proto_value {
    vertical-align: middle !important;
  }

  tr td > .proto_history {
    opacity: 0;
    width: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: .25em;
    padding-right: .25em;
    background: $color-proto-background;
  }

  tr:hover td > .proto_history {
    opacity: .15;
  }

  td:hover > .proto_history {
    opacity: 1.0 !important;
    transition-delay: .25s;
  }
}
