Source: grr-client
Section: unknown
Priority: extra
Maintainer: GRR <grr-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/grr/

Package: grr-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GRR Rapid Response Client
 The GRR Rapid Response Client
