grr-request-approval-dialog {
  div.controls > input[type='checkbox'] {
    display: inline-block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  select[name='acl_recent_reasons'] {
    width: 70%;
  }
}
