@use '../../../material-theme' as c;

.client-header {
  display: flex;
  margin-bottom: 20px;
  column-gap: 10px;

  a {
    display: flex;
    align-items: center;

    h3 {
      margin-bottom: 0;
      margin-left: 10px;
    }
  }
}

.flow-details-list {
  display: grid;
  row-gap: c.$page-spacing;
}
