<div *ngIf="client$ | async as client">
  <div class="client-header mat-body-1">
    <div class="fqdn-chips">
      <div class="fqdn">
        <h1 class="mat-h1">{{client.knowledgeBase.fqdn}}</h1>
      </div>
      <div class="chips">
        <mat-chip-list>
          <online-chip [lastSeen]="client.lastSeenAt"></online-chip>
          <mat-chip *ngFor="let label of client.labels">
            {{label.name}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="client-id">
      <span class="mat-h5">{{client.clientId}}</span>
    </div>
    <div class="os">
       {{client.knowledgeBase.os}}
    </div>
    <div class="last-seen">
      Last seen: <timestamp [date]="client.lastSeenAt" completeFormat="true"></timestamp>
    </div>
    <div class="goto-details">
      <button mat-stroked-button  (click)="goToClientDetailsPage()">Client details</button>
    </div>
  </div>
  <div class="client-approval">
    <approval></approval>
  </div>
  <div class="client-start-flow">
    <flow-form></flow-form>
  </div>
  <div class="client-flows">
    <flow-list></flow-list>
  </div>
</div>
