<h4>Flow arguments</h4>
<div class="flow-card">
  <div class="header" *ngIf="hunt$ | async as hunt">
    <a
      *ngIf="
        hunt.flowReference?.flowId && hunt.flowReference?.clientId;
        else noLink
      "
      [routerLink]="[
        '',
        {
          outlets: {
            'primary': [
              'clients',
              hunt.flowReference?.clientId,
              'flows',
              hunt.flowReference?.flowId
            ]
          }
        }
      ]"
    >
      {{ (flowArgsViewData$ | async)?.flowDescriptor?.friendlyName || hunt.flowName}}
    </a>
    <ng-template #noLink>{{ (flowArgsViewData$ | async)?.flowDescriptor?.friendlyName || hunt.flowName}}</ng-template>
    <app-copy-button
      *ngIf="hunt.flowReference?.flowId"
      class="mat-small monospace id"
    >
      {{ hunt.flowReference?.flowId }}
    </app-copy-button>
  </div>

  <result-accordion
    *ngIf="flowArgsViewData$ | async"
    [colorScheme]="ColorScheme.FLOW_ARGS"
    title="Flow arguments"
    [isOpen]="true"
  >
    <div class="flow-args">
      <app-flow-args-view [flowArgsViewData]="flowArgsViewData$ | async"></app-flow-args-view>
    </div>
  </result-accordion>
</div>
