@use '../../../main' as main;
@use '@angular/material' as mat;
@use '../../../material-theme' as c;

.flow-card {
  @extend .split-card;
  position: relative;
  background: mat.get-color-from-palette(c.$background, app-bar);

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 0 18px 24px;
    font-size: 105%;
  }

  .flow-args {
    padding: 18px 24px;
  }
}
