<grr-check-client-access client-id="controller.clientId"
                         ng-if="controller.clientId">

  <div class="horizontally-padded">

    <h3>Client requests for {$ controller.clientId $}</h3>

    <div ng-if="controller.actionRequests === undefined">
      Loading...
    </div>

    <div ng-if="controller.actionRequests.length === 0">
      No actions currently in progress.
    </div>

    <div grr-force-refresh refresh-trigger="controller.actionRequests">
      <grr-semantic-value value="::controller.actionRequests">
      </grr-semantic-value>
    </div>

  </div>

</grr-check-client-access>
