<grr-confirmation-dialog name="RemoveClientsLabelsDialog"
                         title="'Remove Label'"
                         proceed="controller.proceed()">

  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label" for="labelBox">Label</label>
      <div class="controls">
        <select class="form-control"
                ng-model="controller.labelName"
                ng-options="item as item for item in controller.availableLabels">
        </select>
      </div>
    </div>
  </form>

  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Affected clients:</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="client in clients">
      <td><grr-client-urn value="client.value.client_id" /></td>
    </tr>
    </tbody>
  </table>

</grr-confirmation-dialog>
