@use '@angular/material' as mat;
@use '../../material-theme' as c;

:host {
  width: 100%;
  height: 100%;

  .flows-overview {
    display: flex;
    flex-flow: column wrap;
    overflow-x: auto;

    background-color: mat.get-color-from-palette(c.$background, app-bar);
    width: 100%;
    height: 100%;

    .category {
      color: mat.get-color-from-palette(c.$foreground, text);
      margin-bottom: 18px;
      min-width: 215px;

      .title {
        font-family: c.$google-sans-family;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
      }

      .item a {
        font-family: c.$roboto-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}
