<mat-card class="flows-overview">
  <div
    class="category"
    *ngFor="let category of categories$ | async; trackBy: trackByCategoryTitle"
  >
    <div class="title">{{ category.title }}</div>
    <div
      class="item"
      *ngFor="let item of category.items; trackBy: trackByFlowName"
    >
      <a
        (click)="item.enabled && flowSelected.emit(item)"
        mat-button
        [matTooltip]="item.description + (item.enabled ? '' : ' (restricted)')"
        [disabled]="!item.enabled"
        >{{ item.friendlyName }}</a
      >
    </div>
  </div>
</mat-card>
