<!-- Show a readonly field with a slightly different design (mat-label is
    present here, but is missing from the autocomplete input) when a flow is
    selected. -->
<mat-form-field
  class="readonly-field"
  hideRequiredMarker="true"
  appearance="outline"
  color="primary"
  [hidden]="(inputToShow$ | async) !== inputToShowEnum.READONLY"
>
  <mat-label>Selected Flow</mat-label>
  <input
    name="flowSearchBox"
    matInput
    [readonly]="true"
    [ngModel]="textInput.valueChanges | async"
    autocomplete="off"
  />
  <button
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="deselectFlow()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field
  class="autocomplete-field"
  hideRequiredMarker="true"
  appearance="outline"
  color="primary"
  [hidden]="(inputToShow$ | async) !== inputToShowEnum.AUTOCOMPLETE"
  cdkOverlayOrigin
  #overlayTrigger="cdkOverlayOrigin"
>
  <mat-icon matPrefix>search</mat-icon>
  <input
    #textInputElement
    placeholder="Search for a flow"
    aria-label="Search for a flow"
    name="flowSearchBox"
    matInput
    [formControl]="textInput"
    [matAutocomplete]="auto"
  />
  <button
    mat-button
    *ngIf="textInput.value !== ''"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clearInput()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    [autoActiveFirstOption]="true"
    [displayWith]="displayWith"
    (optionSelected)="selectFlow($event.option.value)"
  >
    <div class="flow-search-results">
      <mat-optgroup
        *ngFor="let category of autoCompleteCategories$ | async; trackBy: trackCategory"
      >
        <span
          class="category-title"
          *ngFor="let part of category.title.parts"
          [ngClass]="{'highlight': part.highlight}"
          >{{part.value}}</span
        >

        <mat-option
          *ngFor="let option of category.options; trackBy: trackOption"
          [value]="option.flowListItem"
          [disabled]="!option.flowListItem.enabled"
        >
          <div class="flow-title">
            <span
              *ngFor="let part of option.title.parts"
              [ngClass]="{'highlight': part.highlight}"
              >{{part.value}}</span
            >
          </div>
          <div class="flow-description">
            {{ option.flowListItem.description }} {{ option.flowListItem.enabled
            ? '' : ' (restricted)' }}
          </div>
        </mat-option>
      </mat-optgroup>
    </div>
  </mat-autocomplete>
</mat-form-field>

<div class="common-flows" *ngIf="!(selectedFlow$ | async)">
  <h3>Common flows</h3>

  <div class="row">
    <!-- matMenuTriggerRestoreFocus is disabled to allow flow-args-form to
      focus the first input field. -->
    <button
      mat-stroked-button
      color="primary"
      [matMenuTriggerFor]="menu"
      [matMenuTriggerRestoreFocus]="false"
    >
      Collect files <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let fli of commonFileFlows$ | async"
        mat-menu-item
        (click)="selectFlow(fli)"
      >
        {{ fli.friendlyName }}
      </button>
      <button
        *ngIf="clientId$ | async as clientId"
        mat-menu-item
        [disabled]="!(hasFilesAccess$ | async)"
        [routerLink]="['/clients/', clientId, 'files']"
      >
        <mat-icon inline *ngIf="!(hasFilesAccess$ | async)"
          >lock_outline</mat-icon
        >
        Browse the filesystem
      </button>
    </mat-menu>

    <flow-chips
      [flows]="commonFlows$ | async"
      (flowSelected)="selectFlow($event)"
    ></flow-chips>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayTrigger"
  [cdkConnectedOverlayOpen]="(overviewOverlayOpened$ | async) ?? false"
  [cdkConnectedOverlayGrowAfterOpen]="true"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayOffsetY]="-20"
  [cdkConnectedOverlayWidth]="(textInputWidth$ | async) ?? 0"
  [cdkConnectedOverlayHeight]="450"
  (attach)="overviewOverlayAttached$.next(true)"
  (detach)="overviewOverlayAttached$.next(false)"
  (overlayOutsideClick)="overlayOutsideClick($event)"
>
  <flows-overview
    [flowsByCategory]="flowsByCategory$ | async"
    (flowSelected)="selectFlow($event)"
  ></flows-overview>
</ng-template>
