@use '~material-theme' as c;

.flow-chips {
  display: flex;
  flex-wrap: wrap;

  button {
    border-color: c.mat-color(c.$foreground, divider-light);
    color: c.mat-color(c.$foreground, text-light);
    margin-bottom: 8px;
    margin-right: 12px;
  }
}
