@use '~@angular/material' as mat;
@use '../../material-theme' as c;

.flow-chips {
  display: flex;
  flex-wrap: wrap;

  button {
    border-color: mat.get-color-from-palette(c.$foreground, divider-light);
    color: mat.get-color-from-palette(c.$foreground, text-light);
    margin-bottom: 8px;
    margin-right: 12px;
  }
}
