.view-details-button {
  padding: 0 12px;
  flex-shrink: 0;
}

.load-more-container {
  padding: 0 20px;
  margin-top: 20px;

  .subtitle {
    margin: 0 20px;
    font-size: 14px;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
