// Styles declared here are effectively global because of ViewEncapsulation.None
// Make sure to narrow their names enough

.main-container-osquery-helper {
  display: block;
  width: 50em;
  max-width: 100%;
}

.item-container-osquery-helper {
  height: auto;
  margin-bottom: 1em;
}

.mat-autocomplete-osquery-helper {
  max-height: 40vh;
}
