<mat-dialog-content>
  <mat-form-field appearance="outline" class="main-container-osquery-helper">
    <mat-label>Search for Osquery tables (type in at least {{minCharactersToSearch}} characters)</mat-label>

    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" class="mat-autocomplete-osquery-helper">
      <mat-optgroup
        *ngFor="let categoryWithMatchMap of filteredCategories$ | async; trackBy: trackCategoryByName"
        [label]="categoryWithMatchMap.categoryName">

        <mat-option
          *ngFor="let tableSpec of categoryWithMatchMap.tableSpecs; trackBy: trackTableSpecByName"
          [value]="tableSpec.name"
          class="item-container-osquery-helper">
          <table-info-item
            [matchMap]="categoryWithMatchMap.matchMap"
            [tableSpec]="tableSpec">
          </table-info-item>
        </mat-option>

      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button [mat-dialog-close]="null" mat-button color="primary">Cancel</button>

  <button
    [mat-dialog-close]="queryToReturn$ | async"
    [disabled]="!(queryToReturn$ | async)"
    mat-flat-button
    color="primary">
    Overwrite query with template from this table
  </button>
</mat-dialog-actions>
