<div class="item-header">
  <span class="table-name">
    <span
      *ngFor="let part of convertToHighlightedParts(tableSpec.name); trackBy: trackByIndex"
      [ngClass]="{'highlight': part.highlight}">{{part.value}}</span>
  </span>
  <span class="table-description">
    <span
      *ngFor="let part of convertToHighlightedParts(tableSpec.description); trackBy: trackByIndex"
      [ngClass]="{'highlight': part.highlight}">{{part.value}}</span>
  </span>
</div>

<div class="item-content">
  <span class="columns-content">
    <span *ngFor="let column of tableSpec.columns" class="space-before">
      <span
        *ngFor="let part of convertToHighlightedParts(column.name); trackBy: trackByIndex"
        [ngClass]="{'highlight': part.highlight}">{{part.value}}</span>
    </span>
  </span>

  <div>
    <a target="_blank" [href]="docsLinkToTable">Column descriptions in the official docs</a>
  </div>
</div>
