.highlight {
  font-weight: 900;
}

.item-header,
.item-content {
  white-space: normal;
}

.item-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */

  letter-spacing: 0.3px;

  /* Grey/900 */
  color: #202124;
}

.item-content {
  font-family: Roboto;
  font-style: normal;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  letter-spacing: 0.3px;

  /* Grey/500 */
  color: #9aa0a6;
}

.table-name::after {
  content: ' – ';
}

.columns-content::before {
  content: 'Columns:';
  font-weight: bold;
}

.space-before::before {
  content: ' ';
}
