<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

{% block styles %}
<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" media="screen" title="smoothness" />
<link rel="stylesheet" type="text/css" href="/static/javascript/jquery_splitter/splitter.css" />
<link rel="stylesheet" type="text/css" href="/static/javascript/jquery_multiselect/jquery.multiselect.css" />

<script src="/static/javascript/jquery/jquery-1.6.1.js"></script>
<script src="/static/javascript/jquery_ui/jquery-ui-1.8.1.custom.js"></script>
<script src="/static/javascript/jquery_template/jquery.tmpl.js"></script>
<script src="/static/javascript/jstree/jquery.jstree.js"></script>
<script src="/static/javascript/jquery_splitter/jquery.splitter.js"></script>
<script src="/static/javascript/flot/jquery.flot.js"></script>
<script src="/static/javascript/flot/jquery.flot.resize.js"></script>
<script src="/static/javascript/flot/jquery.flot.pie.js"></script>
<script src="/static/javascript/flot/jquery.flot.navigate.js"></script>
<script src="/static/javascript/jquery_multiselect/jquery.multiselect.min.js"></script>

<link rel="stylesheet" href="/static/css/grr.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/images/favicon.png" />



{% endblock %}

{% block html_head %}
{% endblock %}

<title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body id="body">
<div id="ACL"></div>
<form id="csrf_form" method="POST"></form>
  <div class="grr-topbar">
    <a class="grr-topbar-entry" href="http://grr.googlecode.com/git/docs/index.html" target="_blank">Help</a> |
    <a class="grr-topbar-entry" href="http://code.google.com/p/grr/issues/list" target="_blank">Report a problem</a> |
    <div id="notifications" class="grr-topbar-right"></div>
  </div>
  <div id="grr-grrbar">
    <div id="grr-appswitcher">
      <a href="/">
        <span class="logo"></span>
      </a>
    </div>
    <div id="grr-search"></div>
  </div>
  <div id="content"></div>
  <div id="footer" class="ui-widget-header toolbar">
    <button id='show_backtrace' style='display: none'>
      <img src='/static/images/stock_dialog_question.png' class='grr-icon'>
    </button>
    <div id="backtrace" style="display: none"></div>
    <div id="footer_message"></div>
  </div>
  <div id="error_action" style="display: none" />
  </div>
  <script src="/static/javascript/grr.js"></script>
  <script type="text/javascript">
    grr.layout("ContentView", "content");
    grr.layout("SearchHostView", "grr-search");
    grr.layout("NotificationBar", "notifications");
    grr.layout("ACLDialog", "ACL");

    $(window).bind("resize", function (event) {
      grr.publish("DelayedResize", "content");
      event.stopPropagation();
    }).resize();

    grr.subscribe("GeometryChange", function (id) {
      if(id != "content") return;

      grr.fixHeight($("#content"));
    }, "content");
  </script>
  </body>
</html>
