<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="grr" ng-controller="GrrAppController">
<head>

{% block styles %}
<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" media="screen" title="smoothness" />
<link rel="stylesheet" type="text/css" href="/static/javascript/jquery_splitter/splitter.css" />
<link rel="stylesheet" type="text/css" href="/static/javascript/jquery_multiselect/jquery.multiselect.css" />

<script src="/static/javascript/jquery/jquery_1_7_2_readable_do_not_compile.js"></script>
<script src="/static/javascript/jquery_ui/jquery-ui-1.8.1.custom.js"></script>
<script src="/static/javascript/jquery_timeentry/jquery.timeentry.js"></script>
<script src="/static/javascript/jquery_template/jquery.tmpl.js"></script>
<script src="/static/javascript/jstree/jquery.jstree.js"></script>
<script src="/static/javascript/jquery_splitter/jquery.splitter.js"></script>
<script src="/static/javascript/flot/jquery.flot.js"></script>
<script src="/static/javascript/flot/jquery.flot.resize.js"></script>
<script src="/static/javascript/flot/jquery.flot.pie.js"></script>
<script src="/static/javascript/flot/jquery.flot.stack.js"></script>
<script src="/static/javascript/flot/jquery.flot.navigate.js"></script>
<script src="/static/javascript/flot/jquery.flot.time.js"></script>
<script src="/static/javascript/jquery_multiselect/jquery.multiselect.min.js"></script>
<script src="/static/javascript/bootstrap.js"></script>
<script src="/static/javascript/select2.js"></script>
<script src="/static/javascript/rangyinputs_jquery.js"></script>

<script src="/static/javascript/angular/angular.js"></script>
<script src="/static/javascript/angular/angular-animate.js"></script>
<script src="/static/javascript/angular/angular-cookies.js"></script>
<script src="/static/javascript/angular/angular-resource.js"></script>

<script src="/static/angular-components/core/app-controller.js"></script>
<script src="/static/angular-components/core/aff4-service.js"></script>
<script src="/static/angular-components/core/collection-table-directive.js"></script>
<script src="/static/angular-components/core/inject-directive.js"></script>
<script src="/static/angular-components/flow/flow-log-directive.js"></script>
<script src="/static/angular-components/hunt/hunt-errors-directive.js"></script>
<script src="/static/angular-components/hunt/hunt-log-directive.js"></script>
<script src="/static/angular-components/semantic/client-urn-directive.js"></script>
<script src="/static/angular-components/semantic/semantic-proto-directive.js"></script>
<script src="/static/angular-components/semantic/semantic-value-directive.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/static/css/select2.css" media="screen"/>
<link rel="stylesheet" href="/static/css/grr.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/images/favicon.png" />


{% endblock %}

{% block html_head %}
{% endblock %}

<title>{% block title %}{{page_title|escape}}{% endblock %}</title>
</head>
<body id="body">
  <div id="ACL"></div>
  <div class="navbar navbar-fixed-top" id="header">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">{{heading|escape}}</a>

        <div id="notifications"></div>
        <div id="search_container"></div>
      </div>
    </div>
  </div>

  <div id="content">
  </div>

  <div class="navbar navbar-fixed-bottom" id="footer">
    <div class="navbar-inner">
      <a class="brand"></a>
      <ul class="nav pull-left">
        <li>
          <div id="ajax_spinner" class="ajax_spinner"></div>
          <button id="show_backtrace" class="nav-btn btn btn-danger" style="display: none">
            <img src="/static/images/stock_dialog_question.png" class="grr-icon" />
          </button>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <div class="navbar-text" id="footer_message"></div>
        </li>
      </ul>

      <ul class="nav pull-right">
        <li><a href="{{help_url|escape}}" target="_blank">Help</a></li>
        <li><a href="{{report_url|escape}}" target="_blank">Report a problem</a></li>
      </ul>

    </div>
  </div>
  <div id="error_action" style="display: none"></div>
  <div id="backtrace" class="modal wide-modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body"><pre></pre></div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <script src="/static/javascript/grr.js?timestamp={{timestamp|escape}}"></script>
  <script src="/static/javascript/renderers.js?timestamp={{timestamp|escape}}"></script>
  {% for renderer in renderers_js %}
  <script src="/static/javascript/plugins/{{renderer|escape}}?timestamp={{timestamp|escape}}">
  </script>
  {% endfor %}
  <script type="text/javascript">
    grr.layout("ContentView", "content");
    grr.layout("NotificationBar", "notifications");
    grr.layout("ACLDialog", "ACL");
    grr.layout("SearchHostView", "search_container");
    grr.enableSearchHelp($("input#client_query"));
  </script>
</body>
</html>
