<h4><mat-icon>approval</mat-icon> New access request</h4>
  <form [formGroup]="form" (submit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Reason for approval</mat-label>
      <input matInput autocomplete="off" [formControl]="controls.reason" />
      <mat-error><form-errors [validationErrors]="controls.reason.errors" /></mat-error>
    </mat-form-field>

    <approver-suggestion-subform [formGroup]="controls.approversForm" />

    @if(globalStore.approvalConfig()?.optionalCcEmail) {
      <mat-checkbox [formControl]="controls.ccEnabled">
        CC: {{globalStore.approvalConfig()?.optionalCcEmail}}
      </mat-checkbox>
    }

    <button mat-flat-button
        type="submit"
        [disabled]="form.status !== 'VALID' || submitted"
        [matTooltip]="'CTRL/⌘ + ENTER'"
    >
      @if (submitted) {
        Request sent
      } @else {
        Request access
      }
    </button>

  </form>