# This service is actually a systemd target, but we are using a service since
# targets cannot be reloaded and we may want to implement reload in the future.

[Unit]
Description=GRR Service
After=network.target
After=syslog.target
Documentation=https://github.com/google/grr

[Service]
Type=oneshot
User=nobody
Group=nogroup
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
