#!/usr/bin/make -f
# debian/rules that uses debhelper >= 8.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share/

%:
	dh $@  --with python-virtualenv,systemd

dh_python2:


override_dh_pysupport:

override_dh_auto_clean:

override_dh_auto_test:

override_dh_installinit:
	dh_installinit
	bash scripts/install_server_from_src.sh -i debian/grr-server
	# Add post installation instructions
	cat debian/grr-server.postinst.in >> debian/grr-server.postinst.debhelper

override_dh_installdocs:

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_link:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

# For pre-release testing put all the files in a directory in the src tree
# called grr_release_testing and point dh_virtualenv at it like this:
# --extra-pip-arg '-f' --extra-pip-arg 'file://usr/src/grr/grr_release_testing'
#  You'll also need to modify .dockerignore to remove the lines that exclude the
#  python package names and tarballs.
override_dh_virtualenv:
	dh_virtualenv --extra-pip-arg '-f' --extra-pip-arg 'https://storage.googleapis.com/releases.grr-response.com/index.html' --python python2.7 --preinstall 'setuptools>20' --preinstall 'pip>=8.1.1,<9' --preinstall 'wheel' --preinstall 'grr-response-templates' --preinstall 'grr-response-server'

