<div class="padded" ng-if="controller.binaries !== undefined">

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-code fa-2" aria-hidden="true"></i>
      Python Hacks
    </div>

    <grr-binaries-list binaries="controller.binaries"
                       type-filter="PYTHON_HACK">
    </grr-binaries-list>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-cogs fa-xs" aria-hidden="true"></i>
      Executables
    </div>
    <grr-binaries-list binaries="controller.binaries"
                       type-filter="EXECUTABLE">
    </grr-binaries-list>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-th-large fa-2" aria-hidden="true"></i>
      Components
    </div>
    <grr-binaries-list binaries="controller.binaries"
                       type-filter="COMPONENT">
    </grr-binaries-list>
  </div>

</div>

<div class="padded" ng-if="controller.binaries === undefined">
Loading...
</div>
