@use '../../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  row-gap: c.$container-padding;
  min-width: 30vw;
  padding: c.$container-padding;

  // Nest h3 rule to overwrite .mat-typography h3.
  h3 {
    margin: 0;
  }
}

table {
  align-self: start;

  tr td:first-child {
    padding-left: 0;
  }

  td {
    padding-left: c.$container-padding;
    max-width: 65ch;

    app-copy-button {
      overflow-wrap: anywhere;
    }
  }
}
