#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	# Nothing to do here, directory is already wiped and set up.

override_dh_build:
	# Nothing to do here, directory is already wiped and set up.

override_dh_prep:
	# Nothing to do here, directory is already wiped and set up.

override_dh_link:
	dh_link "%(ClientBuilder.target_dir)/%(Client.binary_name)" "%(ClientBuilder.daemon_link)"
	dh_link "%(ClientBuilder.target_dir)/nanny.sh" "%(ClientBuilder.daemon_link).nanny"

override_dh_strip:
	# Necessary otherwise the PyInstaller build executables will not run

override_dh_makeshlibs:
	# These add a lot of unnecessary dependencies to the deb package because
	# it just looks for .so files and adds them as dependencies. Since we
	# are shipping our .so's with Pyinstaller this is unnecessary

override_dh_shlibdeps:
	# These add a lot of unnecessary dependencies to the deb package because
	# it just looks for .so files and adds them as dependencies. Since we
	# are shipping our .so's with Pyinstaller this is unnecessary

override_dh_builddeb:
	# Older distros don't support xz so we use gzip instead.
	dh_builddeb -- -Zgzip
