[Unit]
Description=GRR Dataserver Master
After=syslog.target network.target
Environment="MPLCONFIGDIR=/var/run/grr/tmp/dataserver" "PYTHON_EGG_CACHE=/var/run/grr/tmp/dataserver"

[Service]
Type=simple
PrivateTmp=true
Restart=on-failure
ExecStartPre=mkdir -p /var/log/grr;mkdir -p /var/run/grr/tmp/dataserver
ExecStart=/usr/bin/grr_server --start_dataserver --disallow_missing_config_definitions --config=/etc/grr/grr-master.yaml --master

[Install]
WantedBy=multi-user.target
