[Unit]
Description=GRR Enroller
After=syslog.target network.target
Environment="MPLCONFIGDIR=/var/run/grr/tmp/enroller" "PYTHON_EGG_CACHE=/var/run/grr/tmp/enroller"

[Service]
Type=simple
PrivateTmp=true
Restart=on-failure
ExecStartPre=mkdir -p /var/log/grr;mkdir -p /var/run/grr/tmp/enroller
ExecStart=/usr/bin/grr_server --start_enroller --config=/etc/grr/grr-server.yaml

[Install]
WantedBy=multi-user.target
