[Unit]
Description=GRR Single Server
After=syslog.target network.target
Environment="MPLCONFIGDIR=/var/run/grr/tmp/singleserver" "PYTHON_EGG_CACHE=/var/run/grr/tmp/singleserver"

[Service]
Type=simple
PrivateTmp=true
Restart=on-failure
ExecStartPre=mkdir -p /var/log/grr;mkdir -p /var/run/grr/tmp/singleserver
ExecStart=/usr/bin/grr_server --config=/etc/grr/grr-server.yaml

[Install]
WantedBy=multi-user.target
