@use "@angular/material" as mat;
@use '../../material-theme' as c;

:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-top: 1px solid #f2f2f2;

  flex-grow: 1;

  background-color: mat.get-color-from-palette(c.$background, page-background);

  .search-container {
    padding: 70px 0;
    background: white;

    app-search-box {
      margin: auto;
      width: 60%;
      max-width: 800px;
    }
  }

  .centered-content {
    padding-bottom: 100px;
  }
}
