@use '~material-theme' as c;

:host {
  display: block;

  .mat-form-field {
    width: 100%;

    mat-icon {
      margin-right: .5em;
      color: c.mat-color(c.$foreground, divider);
    }
  }
}

.search-results {
  .online-icon {
    color: #32cd32;
  }

  .offline-icon {
    color: #f00;
  }
}
