<div class="hunt-progress-table-container">
  <ng-container *ngIf="safeCompletionProgressData.length > 0; else noChartData">
    <mat-table [dataSource]="safeCompletionProgressData" [trackBy]="trackByTimestamp">

      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-timestamp [date]="row.timestamp"></app-timestamp>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completedClients">
        <mat-header-cell *matHeaderCellDef>Completed clients</mat-header-cell>
        <mat-cell *matCellDef="let row" class="hunt-progress-cell">
          <span>{{row['completedClients']}}</span>
          <span *ngIf="totalClients && row['completedClients'] >= 0"
            [matTooltip]="'Out of all scheduled clients: ' + totalClients">
            ({{ row['completedClientsPct'] }}%)
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="scheduledClients">
        <mat-header-cell *matHeaderCellDef>Scheduled clients</mat-header-cell>
        <mat-cell *matCellDef="let row" class="hunt-progress-cell">
          <span>{{row['scheduledClients']}}</span>
          <span *ngIf="totalClients && row['scheduledClients'] >= 0"
            [matTooltip]="'Out of all scheduled clients: ' + totalClients">
            ({{ row['scheduledClientsPct'] }}%)
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnDefs"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnDefs"></mat-row>

    </mat-table>
  </ng-container>
</div>

<ng-template #noChartData>
  <h3 class="no-data">There is no hunt progress data to show.</h3>
</ng-template>
