@use '@angular/material' as mat;
@use '../../../../material-theme' as c;

$max-table-height: 400px;
$table-row-height: 30px;
$raw-value-display-min-width: 50px;

.hunt-progress-table-container {
  padding-bottom: 2rem;

  mat-table {
    max-height: $max-table-height;
    overflow-y: scroll;

    mat-header-row {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .hunt-progress-cell span:first-of-type {
      // We want the numbers to be aligned vertically:
      min-width: $raw-value-display-min-width;
    }

    mat-row {
      min-height: unset;
      height: $table-row-height;
    }
  }

  .no-data {
    margin: auto;
    padding-top: 2rem;
    text-align: center;
  }
}
