<dl class="dl-horizontal">
  <dt>
    <button
      type="button"
      class="btn btn-link"
      ng-click="controller.linuxPickerShown = !controller.linuxPickerShown"
    >
      Linux extended flags
      <i
        class="fa"
        ng-class="{ 'fa-chevron-down': controller.linuxPickerShown, 'fa-chevron-right': !controller.linuxPickerShown }"
      ></i>
    </button>
  </dt>
  <dd>
    <grr-ext-flags-linux-picker-short
      ng-if="controller.linuxPickerShown"
      bits-set="value.value.linux_bits_set"
      bits-unset="value.value.linux_bits_unset"
    />
    <grr-ext-flags-linux-picker-long
      ng-if="controller.linuxPickerShown"
      bits-set="value.value.linux_bits_set"
      bits-unset="value.value.linux_bits_unset"
    />
  </dd>
  <dt>
    <button
      type="button"
      class="btn btn-link"
      ng-click="controller.osxPickerShown = !controller.osxPickerShown"
    >
      macOS extended flags
      <i
        class="fa"
        ng-class="{ 'fa-chevron-down': controller.osxPickerShown, 'fa-chevron-right': !controller.osxPickerShown }"
      ></i>
    </button>
  </dt>
  <dd>
    <grr-ext-flags-osx-picker
      ng-if="controller.osxPickerShown"
      bits-set="value.value.osx_bits_set"
      bits-unset="value.value.osx_bits_unset"
    />
  </dd>
</dl>
