<span [ngSwitch]="(status$ | async)">
  <mat-chip *ngSwitchCase="'pending'" class="dark-chip" [disableRipple]="true" role="listitem">
    <mat-icon>schedule</mat-icon>
    Request sent, waiting
  </mat-chip>

  <mat-chip *ngSwitchCase="'valid'" class="green-chip" [disableRipple]="true" role="listitem">
    <mat-icon>vpn_key</mat-icon>
    Access granted
    <span class="subtitle">
      {{ timeUntilExpiry }}
    </span>
  </mat-chip>

  <mat-chip *ngSwitchDefault class="red-chip" [disableRipple]="true" role="listitem">
    <mat-icon>lock_outline</mat-icon>
    No access
  </mat-chip>
</span>
