<table class="key-value-table" *ngFor="let interface of interfaces">
  <tr>
    <td class="description">Name</td>
    <td class="value">
      <app-copy-button>{{interface.interfaceName}}</app-copy-button>
    </td>
  </tr>
  <tr>
    <td class="description">MAC address</td>
    <td class="value">
      <app-copy-button>{{interface.macAddress}}</app-copy-button>
    </td>
  </tr>
  <tr>
    <td class="description">IP addresses</td>
    <td class="value">
      <app-copy-button *ngFor="let address of interface.addresses">
        {{address.ipAddress}}
      </app-copy-button>
    </td>
  </tr>
</table>
<div *ngIf="interfaces.length === 0">None.</div>
