<mat-form-field appearance="outline">
  <mat-select [formControl]="flowFiltersForm" name="flow-filter">
    <mat-option
      *ngFor="let flowFilter of FlowFilter | keyvalue"
      [value]="flowFilter.value"
    >
      {{ flowFilter.value }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- trackBy is needed, since otherwise ngFor will recreate inner components
  on every change. -->
<app-infinite-list
  [isLoading]="(loadMoreState$ | async) === LoadMoreState.LOADING"
  [hasMore]="(loadMoreState$ | async) === LoadMoreState.HAS_MORE"
  (loadMore)="loadMore()"
>
  <flow-details
    *ngFor="let entry of filteredEntries$ | async; trackBy: entryTrackByFunction"
    [id]="'flow-' + entry.flow.flowId"
    [flow]="entry.flow"
    [flowDescriptor]="entry.descriptor"
    (menuActionTriggered)="triggerFlowAction(entry, $event)"
    [class.highlight]="scrollTarget === entry.flow.flowId"
  >
  </flow-details>
</app-infinite-list>

<footer
  class="footer"
  *ngIf="(loadMoreState$ | async) === LoadMoreState.ALL_LOADED"
>
  No older flows to show. Client was first seen
  <app-timestamp [date]="(client$ | async)?.firstSeenAt"></app-timestamp>.
</footer>
