<h1 *ngIf="(entries$ | async)?.length > 0" class="mat-h1">All flows</h1>
<!-- trackBy is needed, since otherwise ngFor will recreate inner components
  on every change. -->
<div *ngFor="let entry of entries$ | async; trackBy: entryTrackByFunction">
  <div class="flow-item">
    <flow-details
      [flowListEntry]="entry"
      [flowDescriptor]="entry.descriptor"
      (flowResultsQuery)="queryFlowResults(entry.flow.flowId, $event)"
      (menuActionTriggered)="triggerFlowAction(entry, $event)">
    </flow-details>
  </div>
</div>
