[DEFAULT]

location = XX_LOCATION_XX
agent_version = XX_AGENT_VERSION_XX
package_build = XX_PACKAGE_BUILD_XX

cacert = XX_CACERT_XX

exec_signing_key = XX_EXEKEY_XX

driver_signing_key = XX_DRIVERKEY_XX
