<span *ngIf="hunt$ | async" [ngSwitch]="(hunt$ | async)?.state">
  <mat-chip *ngSwitchCase="HuntState.NOT_STARTED" class="dark-chip" color="custom"
    [matTooltip]="notStartedTooltip" disabled>
    <mat-icon class="material-icons">schedule</mat-icon>
    Collection not started
  </mat-chip>

  <mat-chip *ngSwitchCase="HuntState.REACHED_CLIENT_LIMIT" class="green-chip" color="custom" disabled>
    <mat-icon class="material-icons">pause_circle</mat-icon>
    Reached client limit
    <span class="subtitle">
      {{ limit }}
    </span>
  </mat-chip>

  <mat-chip *ngSwitchCase="HuntState.CANCELLED" class="dark-chip" color="custom"
    [matTooltip]="cancelledTooltip" disabled>
    <mat-icon class="material-icons">stop_circle</mat-icon>
    Collection cancelled
  </mat-chip>

  <mat-chip *ngSwitchCase="HuntState.REACHED_TIME_LIMIT" class="green-chip" color="custom" disabled>
    <mat-icon>check</mat-icon>
    Reached time limit
    <span class="subtitle">
      {{ duration }}
    </span>
  </mat-chip>

  <mat-chip *ngSwitchCase="HuntState.RUNNING" class="green-chip" color="custom" disabled>
    <mat-spinner diameter="16"></mat-spinner>
    Collection running
    <span class="subtitle">
      {{ timeUntilExpiry }}
    </span>
  </mat-chip>
</span>
