<label class="control-label">{{
  controller.formLabel || 'Client label'
}}</label>
<div class="controls">
  <select class="form-control select-label"
          ng-model="controller.clientLabel"
          ng-options="label.name as label.name
                      for label in controller.labelsList">
    <!-- TODO(user): Implement hidden empty option handling and custom empty
                        option description handling. -->
    <option value="" ng-if="!controller.hideEmptyOption">{{
      controller.emptyOptionLabel
    }}</option>
  </select>
</div>
