grr-ext-flags-linux-picker-short {
  > div {
    width: 400px !important;
  }

  table {
    border-spacing: 1px;
    border-collapse: separate;
    font-family: monospace;
    user-select: none;
    width: 100%;

    th {
      cursor: help;
      text-align: center;
    }

    td {
      cursor: pointer;
      text-align: center;
    }
  }
}
