<form class="form-horizontal">
  <div ng-repeat="flag in controller.flags.children" class="form-group">
    <div class="col-md-7">
      <label for="{$ flag.name $}" class="control-label">
        {$ flag.description $}
      </label>
    </div>
    <div class="col-md-5">
      <select id="{$ flag.name $}" ng-model="flag.state" class="form-control">
        <option value="VOID">ignored</option>
        <option value="SET">required set</option>
        <option value="UNSET">required unset</option>
      </select>
    </div>
  </div>
</div>
