<div class="form-group">
  <label class="control-label">Match mode</label>
  <div class="controls">
    <grr-form-value value="value.value.match_mode"
                    metadata="controller.matchModeMetadata">
    </grr-form-value>
  </div>
</div>

<div class="form-group">
  <label class="control-label">Add label</label>
  <div class="controls">
    <button class="btn btn-default form-add" ng-click="controller.addLabel()">
      <i class="glyphicon glyphicon-plus"></i>
    </button>
  </div>
</div>

<div class="form-group" ng-repeat="label_name in value.value.label_names">
  <grr-form-client-label client-label="label_name.value"
                         form-label="'Label name'"
                         hide-empty-option="true">
  </grr-form-client-label>
  <button type="button" class="close remove-label"
          ng-click="controller.removeLabel($index)"
          ng-disabled="value.value.label_names.length <= 1">×</button>
</div>
