@use '@angular/material' as mat;
@use '../../../material-theme' as c;

pre {
  background: rgba(0, 0, 0, 0.04);
  counter-reset: line;
  overflow: auto;
  margin: 0;
}

pre span {
  display: inline;
  line-height: 1.5rem;
}

pre span:before {
  border-right: 1px solid
    mat.get-color-from-palette(c.$foreground, divider-light);
  color: mat.get-color-from-palette(c.$foreground, text-light);
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  margin-right: 0.5em;
  min-width: 4ch;
  padding: 0 0.5em 0 0;
  text-align: end;
  user-select: none;
}

.more-indicator {
  display: inline;
  background: rgba(0, 0, 0, 0.04);
  padding: 0 1ch;
  border-radius: 4px;
  user-select: none;
  cursor: default;
}
