@use '@angular/material' as mat;
@use '../../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  row-gap: c.$page-spacing;
  padding: c.$page-spacing 0 0;
}

.hunt-overview {
  .title-chips {
    display: flex;
    margin-left: -36px;

    .computer-icon {
      margin-right: 10px;
    }

    .chips {
      margin-left: 10px;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    column-gap: c.$container-padding;
    margin-bottom: calc(c.$card-margin / 2);

    .key-value-table {
      td:first-of-type {
        min-width: 5em;
      }
    }
  }

  .collapsed-info {
    margin-bottom: c.$card-margin;
  }

  .flow-params-button {
    color: mat.get-color-from-palette(mat.$blue-palette, 600);
    margin: 5px 0;
    padding-left: 0;
    background-color: unset;

    &:hover {
      background-color: mat.get-color-from-palette(
        mat.$grey-palette,
        400,
        0.15
      );
    }
  }

  .actions {
    display: flex;
    column-gap: c.$container-padding;
  }
}
