<app-search-box
  (querySubmitted)="onQuerySubmitted($event)"
  [value]="(query$ | async) ?? ''"
></app-search-box>

<app-infinite-list
  [isLoading]="clientSearchLocalStore.isLoading$ | async"
  [hasMore]="clientSearchLocalStore.hasMore$ | async"
  (loadMore)="clientSearchLocalStore.loadMore()"
>
  <table mat-table [dataSource]="rows$">
    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>Client ID</th>
      <td mat-cell *matCellDef="let element">{{ element.clientId }}</td>
    </ng-container>

    <ng-container matColumnDef="fqdn">
      <th mat-header-cell *matHeaderCellDef>FQDN</th>
      <td mat-cell *matCellDef="let element">{{ element.fqdn || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef>Users</th>
      <td mat-cell *matCellDef="let element">
        {{ element.users[0] }} {{ element.additionalUserCount ? ('+ ' +
        element.additionalUserCount) : '' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="labels">
      <th mat-header-cell *matHeaderCellDef>Labels</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let label of element.labels">{{label}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastSeenAt">
      <th mat-header-cell *matHeaderCellDef>Last seen</th>
      <!-- TODO(user): implement a dedicated pipe or/and a component for
         dates rendering (with changeable timezone stored in the global
         store). -->
      <td mat-cell *matCellDef="let element">
        <app-timestamp [date]="element.lastSeenAt"></app-timestamp>
      </td>
    </ng-container>

    <ng-container matColumnDef="online">
      <th mat-header-cell *matHeaderCellDef>Online</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <online-chip
            *ngIf="element.lastSeenAt"
            [lastSeen]="element.lastSeenAt"
          ></online-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      [routerLink]="['/clients/', row.clientId]"
      [queryParams]="clientLinkParams$ | async"
    ></tr>
  </table>
</app-infinite-list>
