<form
  #form
  [appSubmitOnMetaEnter]="true"
  [appSubmitOnEnter]="true"
  (ngSubmit)="search()"
>
  <mat-form-field
    hideRequiredMarker="true"
    appearance="outline"
  >
    <mat-label>Search for a client...</mat-label>
    <mat-icon matPrefix>search</mat-icon>

    <a mat-icon-button
        matSuffix
        href="https://grr-doc.readthedocs.io/en/latest/investigating-with-grr/searching-for-client.html"
        target="_blank"
        matTooltip="Matches on FQDN, users, IP , labels, serial number, OS and serial number. Only
        clients that were online within the last 6 months are returned. Click for more details">
      <mat-icon>help_outline</mat-icon>
    </a>

    <input
      #input
      placeholder="Search for a client..."
      name="clientSearchBox"
      matInput
      [formControl]="searchFormControl"
      [matAutocomplete]="auto"
      autocomplete="off"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectOption($event.option.value)"
    >
      <div class="search-results">
        @for (client of clientSearchStore.clients(); track client.clientId) {
          <mat-option [value]="client.clientId">
            <div class="client-option">
              {{ client.knowledgeBase.fqdn }} ({{ client.clientId }})
              <online-chip [lastSeen]="client.lastSeenAt"></online-chip>
            </div>
          </mat-option>
        }
        @for (label of filteredLabels(); track label) {
          <mat-option [value]="'label:' + label">
            <span>label:{{ label }}</span>
          </mat-option>
        }
      </div>
    </mat-autocomplete>
  </mat-form-field>
</form>
