<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      <div class="brand">
        <img src="/static/images/v2/favicon.ico" alt="GRR logo" />
        <div class="title">
          GRR
          @if (globalStore.uiConfig()?.heading; as heading) {
            <span >– {{ heading }}</span>
          }
        </div>
        <div class="badge">{{ globalStore.currentUser()?.canaryMode ? 'canary' : 'beta' }}</div>
      </div>
    </a>

    <nav mat-tab-nav-bar [disablePagination]="true" [tabPanel]="tabPanel">
      <a mat-tab-link
        routerLink="/clients"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive
        #clientLink="routerLinkActive"
        [active]="clientLink.isActive">Collect from client</a>
      <a mat-tab-link
        routerLink="/fleet-collections"
        routerLinkActive
        #fleetCollectionLink="routerLinkActive"
        [active]="fleetCollectionLink.isActive || isNewFleetCollectionPath()"
        matTooltip="Preview to the refactored fleet collection page, this will replace the current
        fleet collection page in the future. (Not all features are supported yet)"
        >Collect from fleet</a>
    </nav>

    <span class="spacer"></span>

    @if (globalStore.uiConfig()?.reportUrl; as reportUrl) {
      <a
        mat-icon-button
        href="{{reportUrl}}"
        matTooltip="Report a problem"
        target="_blank"
        rel="noreferrer"
      >
        <mat-icon>feedback</mat-icon>
      </a>
    }

    <user-menu />

  </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar
    mode="indeterminate"
    [style.visibility]="loadingService.isLoading() ? 'visible' : 'hidden'" />


<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
