<mat-toolbar color="blank" class="toolbar">
  <mat-toolbar-row>
    <a class="brand" routerLink="/">
      <div class="logo">
        <img src="/static/images/grr_logo_notification.png" alt="GRR logo">
      </div>
      <div class="title">GRR</div>
      <div class="badge">ALPHA</div>
    </a>
    <span class="spacer"></span>
    <a id="fallback-link" mat-button color="primary" href="{{fallbackLink$ | async}}">
      <mat-icon>launch</mat-icon>
      Use the old UI
    </a>
    <user-menu></user-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
