:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
}

.row {
  display: flex;
  align-items: center;

  &.buttons {
    column-gap: 1em;
  }

  h1 {
    margin: 0 0 0 0.5em;
  }
}
