<div class="new-hunt-container centered-content extra-scrolling-space">
  <div class="config">
    <div class="title-section">
      <a
        *ngIf="huntsOverviewRoute; else noLink"
        [routerLink]="huntsOverviewRoute"
      >
      <mat-icon>list_alt</mat-icon>
      </a>
      <ng-template #noLink><mat-icon>list_alt</mat-icon></ng-template>
      <mat-icon>chevron_right</mat-icon>
      <form>
        <mat-form-field appearance="outline" class="mt-1">
          <input
            matInput
            [formControl]="titleControl"
            name="titleInput"
            placeholder="Name your fleet collection"
            aria-label="Name your fleet collection"
            autocomplete="off"
            autofocus
          />
        </mat-form-field>
      </form>
    </div>

    <ng-container *ngIf="hasOriginInput === false">
      <mat-chip-list>
        <mat-chip
            class="yellow-chip"
            color="custom"
            matTooltip="It wasn't created from an existing fleet collection or flow."
            disabled
            ><mat-icon>warning</mat-icon>The fleet collection MUST be created from an existing fleet collection or flow</mat-chip
          >
      </mat-chip-list>
      <hunt-help></hunt-help>
    </ng-container>

    <ng-container *ngIf="hasOriginInput === true">
      <hunt-original-reference
        [huntRef]="originalHuntRef"
        [flowRef]="originalFlowRef">
      </hunt-original-reference>
      <flow-details *ngIf="flowWithDescriptor$ | async"
        [flow]="(flowWithDescriptor$ | async)?.flow"
        [flowDescriptor]="(flowWithDescriptor$ | async)?.descriptor"
        [showContextMenu]="false">
      </flow-details>
      <hunt-flow-arguments *ngIf="!(flowWithDescriptor$ | async) && (originalHunt$ | async)"
        [hunt]="originalHunt$ | async">
      </hunt-flow-arguments>
      <app-clients-form id="clientsForm" #clientsForm>
      </app-clients-form>
      <app-params-form id="paramsForm" #paramsForm>
      </app-params-form>
      <app-output-plugins-form id="outputPluginsForm" #outputPluginsForm>
      </app-output-plugins-form>
      <approval-card #approvalCard
                *ngIf="huntApprovalRequired$ | async"
                [urlTree]="(huntApprovalRoute$ | async) ?? []"
                [latestApproval]="latestApproval$ | async"
                [showSubmitButton]="false"
                [validateOnStart]="true"
                (approvalParams)="requestHuntApproval($event)">
      </approval-card>
      <span matTooltip="You must use an existing fleet collection or flow to create a new collection"
          [matTooltipDisabled]="(canCreateHunt$ | async) === true">
        <button mat-flat-button
                color="primary"
                (click)="runHunt()"
                id="runHunt"
                [disabled]="(canCreateHunt$ | async) === false"
                aria-label="Start a fleet collection">
          Run fleet collection
        </button>
        <mat-error *ngIf="!(hasOrigin$|async)">
          You must use an existing fleet collection or flow to create a new collection
        </mat-error>
      </span>
    </ng-container>
  </div>
</div>
