<div class="centered hunt-state-icon" state="{$ ::hunt.value.state.value $}">
  <img ng-if="::hunt.value.state.value == 'STOPPED'"
       class="grr-icon grr-flow-icon" src="/static/images/stop.png" />
  <img ng-if="::hunt.value.state.value == 'STARTED'"
       class="grr-icon grr-flow-icon" src="/static/images/clock.png" />
  <img ng-if="::hunt.value.state.value == 'PAUSED'"
       class="grr-icon grr-flow-icon" src="/static/images/pause.png" />
  <img ng-if="::hunt.value.state.value == 'COMPLETED'"
       class="grr-icon grr-flow-icon" src="/static/images/stock_yes.png" />
</div>
