<div class="pull-right horizontally-padded">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default" name="ShowOutstandingClients"
           ng-click="controller.clientType = 'outstanding'">
      <input type="radio">Outstanding</input>
    </label>
    <label class="btn btn-default active" name="ShowCompletedClients"
           ng-click="controller.clientType = 'completed'">
      <input type="radio">Completed</input>
    </label>
  </div>
</div>
<div class="padded clearfix"></div>

<grr-force-refresh refresh-trigger="controller.huntClientsUrl">

  <table class="table table-striped table-condensed table-bordered full-width">
    <thead>
      <tr>
        <th>Client</th>
        <th>Flow</th>
      </tr>
    </thead>
    <tbody>
      <tr grr-infinite-table grr-api-items-provider
          url="::controller.huntClientsUrl">
        <td><grr-semantic-value value="::item.value.client_id" /></td>
        <td>
          <a ui-sref="client.flows(::{clientId: item.value.client_id.value,
                      flowId: item.value.flow_id.value})">
            {$ ::item.value.flow_id.value $}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</grr-force-refresh>
