<div class="padded">

  <div ng-if="!huntUrn">
    Please select a hunt to see its details here.
  </div>

  <tabset ng-if="huntUrn && huntUrn == controller.shownHuntUrn">
    <tab heading="Overview" select="controller.activeTab = null">
      <grr-hunt-overview hunt-urn="huntUrn" ng-if="!controller.activeTab"></grr-hunt-overview>
    </tab>

    <tab heading="Log" active="controller['log']"
                       select="controller.activeTab = 'log'">
      <grr-hunt-log hunt-urn="huntUrn" ng-if="controller.activeTab == 'log'"></grr-hunt-log>
    </tab>

    <tab heading="Errors" active="controller['errors']"
                          select="controller.activeTab = 'errors'">
      <grr-hunt-errors hunt-urn="huntUrn" ng-if="controller.activeTab == 'errors'"></grr-hunt-errors>
    </tab>

    <tab heading="Graph" active="controller['hunt-graph']"
                         select="controller.activeTab = 'hunt-graph'">
      <grr-hunt-graph hunt-urn="huntUrn" ng-if="controller.activeTab == 'hunt-graph'"></grr-hunt-graph>
    </tab>

    <tab heading="Results" active="controller['results']"
                           select="controller.activeTab = 'results'">
      <grr-hunt-results hunt-urn="huntUrn" ng-if="controller.activeTab == 'results'"></grr-hunt-results>
    </tab>

    <tab heading="Stats" active="controller['stats']"
                         select="controller.activeTab = 'stats'">
      <grr-hunt-stats hunt-urn="huntUrn" ng-if="controller.activeTab == 'stats'"></grr-hunt-stats>
    </tab>

    <tab heading="Crashes" active="controller['crashes']"
                           select="controller.activeTab = 'crashes'">
      <grr-hunt-crashes hunt-urn="huntUrn" ng-if="controller.activeTab == 'crashes'"></grr-hunt-crashes>
    </tab>

    <tab heading="Outstanding" active="controller['outstanding-clients']"
                               select="controller.activeTab = 'outstanding-clients'">
      <grr-hunt-outstanding-clients hunt-urn="huntUrn" ng-if="controller.activeTab == 'outstanding-clients'"></grr-hunt-outstanding-clients>
    </tab>

    <tab heading="Context Detail" active="controller['context-details']"
                                  select="controller.activeTab = 'context-details'">
      <grr-hunt-context hunt-urn="huntUrn" ng-if="controller.activeTab == 'context-details'"></grr-hunt-context>
    </tab>
  </tabset>

</div>
