<div class="padded">

  <div ng-if="!huntId">
    Please select a hunt to see its details here.
  </div>

  <uib-tabset ng-if="huntId && huntId === controller.shownHuntId"
              active="controller.activeTab">
    <uib-tab heading="Overview" index="''">
      <grr-hunt-overview hunt-id="huntId" ng-if="controller.tabsShown['']">
      </grr-hunt-overview>
    </uib-tab>

    <uib-tab heading="Log" index="'log'">
      <grr-hunt-log hunt-id="huntId" ng-if="controller.tabsShown['log']">
      </grr-hunt-log>
    </uib-tab>

    <uib-tab heading="Errors" index="'errors'">
      <grr-hunt-errors hunt-id="huntId" ng-if="controller.tabsShown['errors']">
      </grr-hunt-errors>
    </uib-tab>

    <uib-tab heading="Graph" index="'hunt-graph'">
      <grr-hunt-graph hunt-id="huntId" ng-if="controller.tabsShown['hunt-graph']">
      </grr-hunt-graph>
    </uib-tab>

    <uib-tab heading="Results" index="'results'">
      <grr-hunt-results hunt-id="huntId" ng-if="controller.tabsShown['results']">
      </grr-hunt-results>
    </uib-tab>

    <uib-tab heading="Stats" index="'stats'">
      <grr-hunt-stats hunt-id="huntId" ng-if="controller.tabsShown['stats']">
      </grr-hunt-stats>
    </uib-tab>

    <uib-tab heading="Crashes" index="'crashes'">
      <grr-hunt-crashes hunt-id="huntId" ng-if="controller.tabsShown['crashes']">
      </grr-hunt-crashes>
    </uib-tab>

    <uib-tab heading="Clients" index="'clients'">
      <grr-hunt-clients hunt-id="huntId" ng-if="controller.tabsShown['clients']">
      </grr-hunt-clients>
    </uib-tab>

    <uib-tab heading="Context Details" index="'context-details'">
      <grr-hunt-context hunt-id="huntId" ng-if="controller.tabsShown['context-details']">
      </grr-hunt-context>
    </uib-tab>
  </uib-tabset>

</div>
