grr-download-collection-as {
  .export-well {
    display: inline-block;
  }

  span.control-label,
  select.form-control {
    width: auto;
  }

  select.form-control,
  button.btn-default {
    margin-left: 3px;
    float: left;
  }
}
