grr-troggle {
  cursor: pointer;
  user-select: none;
  text-align: center;

  div {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  div:hover {
    background-color: $color-troggle-highlight-color;
  }
}
