// NOTE: Styles used here are effectively global because of "encapsulation: ViewEncapsulation.None".
// Make sure to narrow them enough, so that they don't bleed out unintentionally.

.button-expand-expandable-hash-class {
  padding-left: 0;
  padding-right: 0;
}

.hash-name-expandable-hash-class {
  font-weight: bold;
  margin-right: 0.5em;
}

.hash-name-expandable-hash-class::after {
  content: ':';
}

.menu-icon-expandable-hash-class {
  font-size: 16px;
  margin-right: 0.3em;

  line-height: 18px;
  height: 18px;
  width: 18px;

  mat-icon {
    font-size: 16px;
  }
}

.big-width-expandable-hash-class {
  max-width: none;
}
