<div *ngIf="atLeastOneHashAvailable; else noHashes">
  <div
    cdkOverlayOrigin
    #topReference="cdkOverlayOrigin"
    (mouseenter)="mouseEnteredTextArea()"
    (mouseleave)="mouseLeftTextArea()">

    <span class="bottom-border">
      Copy value
    </span>
  </div>

  <ng-template
    *ngIf="atLeastOneHashAvailable"
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="topReference"
    [cdkConnectedOverlayOpen]="shouldShowPopup">

    <div
      (mouseenter)="mouseEnteredPopup()"
      (mouseleave)="mouseLeftPopup()">

      <hashes [hashes]="hashes"></hashes>
    </div>
  </ng-template>
</div>

<ng-template #noHashes>
  <span>–</span>
</ng-template>
