<table class="key-value-table" *ngFor="let volume of volumes">
  <tr *ngIf="volume.windowsDetails?.driveLetter">
    <td class="description">Drive letter</td>
    <td class="value">
      <app-copy-button
        >{{volume.windowsDetails?.driveLetter}}</app-copy-button
      >
    </td>
  </tr>
  <tr *ngIf="volume.windowsDetails?.attributes">
    <td class="description">Drive attributes</td>
    <td class="value">
      <div *ngFor="let attribute of volume.windowsDetails?.attributes">
        {{attribute}}
      </div>
    </td>
  </tr>
  <tr *ngIf="volume.windowsDetails?.driveType">
    <td class="description">Drive type</td>
    <td class="value">
      <app-copy-button>{{volume.windowsDetails?.driveType}}</app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.unixDetails?.mountPoint">
    <td class="description">Mount point</td>
    <td class="value">
      <app-copy-button>{{volume.unixDetails?.mountPoint}}</app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.unixDetails?.mountOptions">
    <td class="description">Mount options</td>
    <td class="value">
      <app-copy-button>{{volume.unixDetails?.mountOptions}}</app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.name">
    <td class="description">Volume name</td>
    <td class="value"><app-copy-button>{{volume.name}}</app-copy-button></td>
  </tr>
  <tr *ngIf="volume.devicePath">
    <td class="description">Device path</td>
    <td class="value">
      <app-copy-button>{{volume.devicePath}}</app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.fileSystemType">
    <td class="description">Filesystem type</td>
    <td class="value">
      <app-copy-button>{{volume.fileSystemType}}</app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.totalSize">
    <td class="description">Total size</td>
    <td class="value">
      <app-copy-button
        ><human-readable-size [size]="volume.totalSize"></human-readable-size
      ></app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.freeSpace">
    <td class="description">Free space</td>
    <td class="value">
      <app-copy-button
        ><human-readable-size [size]="volume.freeSpace"></human-readable-size
      ></app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.bytesPerSector">
    <td class="description">Sector size</td>
    <td class="value">
      <app-copy-button>{{volume.bytesPerSector}} B</app-copy-button>
    </td>
  </tr>
  <tr *ngIf="volume.creationTime">
    <td class="description">Creation time</td>
    <td class="value">
      <app-timestamp [date]="volume.creationTime"></app-timestamp>
    </td>
  </tr>
</table>

<div *ngIf="volumes.length === 0">None.</div>
