<h3 class="section-title">
  Change rollout parameters and continue collection
</h3>

<app-rollout-form #rolloutForm></app-rollout-form>

<button mat-flat-button
        color="primary"
        (click)="modifyAndContinue()"
        id="modifyAndContinue"
        aria-label="Save changes and continue">
  <ng-container *ngIf="(hunt$ | async)?.state === HuntState.NOT_STARTED">
    Start collection
  </ng-container>
  <ng-container *ngIf="(hunt$ | async)?.state === HuntState.REACHED_CLIENT_LIMIT">
    Continue collection
  </ng-container>
</button>