<div class="wrapper">
  <div class="header" (click)="showContent($event)">
      Select Client
    <button id="client-form-toggle"
            mat-icon-button
            class="corner-button"
            (click)="toggleContent($event)"
            aria-label="View/hide choose client form">
      <mat-icon>{{hideContent ? 'expand_less' : 'expand_more'}}</mat-icon>
    </button>
  </div>

  <div class="content">
    <form autocomplete="off"
          spellcheck="false"
          [formGroup]="clientForm">
      <mat-form-field appearance="outline"
                      class="match-condition"
                      *ngIf="conditions().controls.length > 1">
        <mat-label>Match Mode</mat-label>
        <mat-select id="rulesMatchMode" [formControl]="rulesMatchModeControl">
          <mat-option [value]="RuleSetMatchMode.MATCH_ALL">Match All (and)</mat-option>
          <mat-option [value]="RuleSetMatchMode.MATCH_ANY">Match Any (or)</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="rules-container">
        <div *ngFor="let condition of conditions().controls; let conditionIndex=index"
             [ngSwitch]="condition.get('type')?.value"
             [formGroup]="conditionGroup(conditionIndex)"
             [ngClass]="{'without-seperation':conditionIndex===0,'with-seperation':conditionIndex!==0}">
          <button mat-icon-button
                  id="close"
                  name="close"
                  class="close-button"
                  (click)="removeRule(conditionIndex)"
                  type="button"
                  [attr.aria-label]="removeRule">
                  <mat-icon>close</mat-icon>
          </button>
          <ng-container *ngSwitchCase="clientRuleType.OS"
                       [ngTemplateOutlet]="osForm"
                       [ngTemplateOutletContext]="{title: condition.get('name')?.value, form: condition, id: conditionIndex}">
          </ng-container>
          <ng-template *ngSwitchCase="clientRuleType.LABEL"
                        [ngTemplateOutlet]="labelForm"
                        [ngTemplateOutletContext]="{title: condition.get('name')?.value, form: condition, id: conditionIndex}">
          </ng-template>
          <ng-template *ngSwitchCase="clientRuleType.REGEX"
                        [ngTemplateOutlet]="regexForm"
                        [ngTemplateOutletContext]="{title: condition.get('name')?.value, form: condition, id: conditionIndex}">
          </ng-template>
          <ng-template *ngSwitchCase="clientRuleType.INTEGER"
                        [ngTemplateOutlet]="integerForm"
                        [ngTemplateOutletContext]="{title: condition.get('name')?.value, form: condition, id: conditionIndex}">
          </ng-template>
        </div>
      </div>
      <button mat-flat-button
              type="button"
              [matMenuTriggerFor]="addConditionMenu"
              class="dropdown-button">
        Add Condition
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #addConditionMenu="matMenu" class="dropdown-menu">
        <div class="mat-typography submenu-title">Most common</div>
        <button mat-menu-item
                type="button"
                *ngFor="let rule of commonRules"
                (click)="addNewRule(rule.name, rule.type, rule.enumValue)">
          {{ rule.name }}
        </button>
        <hr>
        <button mat-menu-item
                type="button"
                *ngFor="let rule of otherRules"
                (click)="addNewRule(rule.name, rule.type, rule.enumValue)">
          {{ rule.name }}
        </button>
      </mat-menu>
    </form>
  </div>
</div>

<ng-template #osForm let-title="title" let-form="form" let-id="id">
  <div [formGroup]="form" class="os-container">
    <div class="rule-content" [formGroup]="osOptionGroup(id)">
      <div class="os-rule-title">{{ title }}</div>
        <mat-checkbox *ngFor="let os of operatingSystems | keyvalue"
                    [id]="'condition_'+id+'_'+os.key | lowercase"
                    [checked]="os.value"
                    [formControl]="osOptionControl(id, os.key)">
          {{ os.key }}
        </mat-checkbox>
    </div>
  </div>
</ng-template>

<ng-template #labelForm let-title="title" let-form="form" let-id="id" class="label-rule">
  <div [formGroup]="form" class="label-rule-content">
    <div class="rule-content">
      <div class="rule-title">{{ title }}</div>
      <mat-form-field appearance="outline" class="match-mode">
        <mat-label>Match Mode</mat-label>
        <mat-select [id]="'condition_'+id+'_match_mode'" [formControl]="labelMatchMode(id)">
          <mat-option [value]="matchMode.MATCH_ALL">Match all</mat-option>
          <mat-option [value]="matchMode.MATCH_ANY">Match any</mat-option>
          <mat-option [value]="matchMode.DOES_NOT_MATCH_ALL">Doesn't match all</mat-option>
          <mat-option [value]="matchMode.DOES_NOT_MATCH_ANY">Doesn't match any</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [formGroup]="conditionGroup(id)" class="names">
      <div *ngFor="let name of labelNames(id).controls; let labelIndex=index; let last=last"
           class="name-input-wrapper">
        <mat-form-field appearance="outline" class="label-name">
          <mat-label>Label name</mat-label>
          <input [id]="'condition_'+id+'_label_name_'+labelIndex" [formControl]="name" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let label of allClientsLabels$ | async" [value]="label">
              {{label}}
            </mat-option>
          </mat-autocomplete>
          <button mat-icon-button
                  matSuffix
                  id="remove-label-name"
                  (click)="removeLabelName(id, labelIndex)"
                  type="button"
                  aria-label="Remove"
                  *ngIf="labelNames(id).controls.length > 1">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button
              *ngIf="last"
              id="add-label-name"
              class="add-label-name-button"
              (click)="addLabelName(id)"
              type="button"
              aria-label="Add label">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #regexForm let-title="title" let-form="form" let-id="id" class="regex-rule">
  <div [formGroup]="form" class="rule-content">
    <div class="rule-title">{{ title }}</div>
    <mat-form-field appearance="outline" class="attribute-regex">
      <mat-label>Attribute Regex</mat-label>
      <input [id]="'condition_'+id+'_regex_value'"
             [formControl]="regexAttribute(id)"
             matInput>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #integerForm let-title="title" let-form="form" let-id="id" class="integer-rule">
  <div [formGroup]="form" class="rule-content">
    <div class="rule-title">{{ title }}</div>
    <mat-form-field appearance="outline" class="operator">
      <mat-label>Operator</mat-label>
      <mat-select [id]="'condition_'+id+'_operator'" [formControl]="integerOperator(id)">
        <mat-option [value]="operator.EQUAL">Equal</mat-option>
        <mat-option [value]="operator.LESS_THAN">Less Than</mat-option>
        <mat-option [value]="operator.GREATER_THAN">Greater Than</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Value</mat-label>
      <input [id]="'condition_'+id+'_integer_value'"
             [formControl]="integerValue(id)"
             matInput
             autocomplete="off">
    </mat-form-field>
  </div>
</ng-template>
