@use '@angular/material' as mat;
@use '../../../../material-theme' as c;

:host.closed .content {
  display: none;
}

.submenu-title {
  line-height: 48px;
  padding: 0 16px;
  font-weight: 450;
}

.label-name {
  width: 35em;
}

.wrapper {
  border-radius: 8px;
  border: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  background: white;
  margin-top: c.$card-margin;
  padding: 10px 5px 10px 30px;
  color: mat.get-color-from-palette(mat.$grey-palette, 800);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
  }

  .with-seperation {
    border-top: 1px solid
      mat.get-color-from-palette(c.$foreground, divider-light);
    padding: 20px 25px 0;
    position: relative;
  }

  .without-seperation {
    padding: 20px 25px 0;
    position: relative;
  }

  .os-container {
    padding-bottom: 20px;
  }

  .names {
    display: flex;
    flex-direction: column;
  }

  .rules-container {
    border-radius: 4px;
    border: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
    margin-right: 140px;
    margin-top: 12px;
    margin-bottom: 10px;

    .label-rule-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .add-label-name-button {
      transform: translateY(-4px);
    }

    .rule-content {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      align-items: center;

      .operator {
        width: 9em;
        margin-right: 1em;
      }

      .match-mode {
        width: 16em;
        margin-right: 1em;
      }

      .attribute-regex {
        width: 70%;
      }
    }
  }

  .rule-title {
    color: mat.get-color-from-palette(mat.$grey-palette, 900);
    margin-right: 20px;
    padding-bottom: 1.25em;
  }

  .os-rule-title {
    color: mat.get-color-from-palette(mat.$grey-palette, 900);
    margin-right: 20px;
  }

  mat-checkbox {
    margin-left: 30px;
    color: mat.get-color-from-palette(mat.$grey-palette, 700);
  }

  .dropdown-button {
    color: mat.get-color-from-palette(mat.$blue-palette, 600);
  }

  .close-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
