@use '@angular/material' as mat;
@use '../../material-theme' as c;

:host {
  display: flex;
  flex-direction: column;
  row-gap: c.$page-spacing;

  h1 {
    margin: 0;
  }

  &[hidden] {
    display: none;
  }
}

.container {
  position: relative;
  padding: 0;
  background-color: mat.get-color-from-palette(c.$background, app-bar);
  border: 1px solid mat.get-color-from-palette(c.$foreground, divider-light);
  border-radius: 8px;

  .header-wrapper {
    .header {
      padding: 18px 0 18px 24px;
      display: flex;

      .flow-header {
        flex-grow: 1;

        display: flex;
        align-items: center;

        mat-icon {
          vertical-align: middle;
        }

        .flow-title {
          font-family: c.$google-sans-display-family;
          font-size: 105%;
          color: mat.get-color-from-palette(c.$foreground, text);
        }

        .flow-info {
          flex-grow: 1;
          padding-left: 3em;
          padding-top: 2px;
          font-size: 85%;
          color: mat.get-color-from-palette(c.$foreground, text-light);
        }

        .flow-status {
          padding-top: 6px;
          color: mat.get-color-from-palette(c.$foreground, danger);
        }
      }

      .menu-button {
        .menu-icon {
          opacity: 0.2;
          font-size: 250%;
          position: relative;
          left: -5.5px;
        }
      }
    }
  }
}
