<h1 *ngIf="(scheduledFlows$ | async)?.length">Scheduled flows</h1>
<div *ngFor="let scheduledFlow of scheduledFlows$ | async; trackBy: trackScheduledFlow"
  class="container flow-item">
  <div class="header-wrapper">
    <div class="header">
      <div class="flow-header">
        <div>
          <span class="flow-title">{{scheduledFlow.flowName}}</span>
        </div>
        <div class="flow-info">
          <span class="user-name">
            <user-image [username]="scheduledFlow.creator" size="16px"></user-image>
            {{scheduledFlow.creator}}
          </span>
        </div>
        <div class="flow-status" matTooltip="Flow will be automatically started once approval has been granted.">
          Pending approval
          <mat-icon>scheduled</mat-icon>
        </div>
      </div>

      <!-- Flow context menu. -->
      <ng-container *ngIf="scheduledFlow.creator === (currentUsername$ | async)">
        <button class="menu-button" [matMenuTriggerFor]="menu" mat-icon-button aria-label="Flow menu">
          <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="unscheduleFlow(scheduledFlow.scheduledFlowId)">
            <span>Unschedule flow</span>
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</div>
