<table class="monospace hex-table">
  <thead>
    <tr>
      <td class="offset">Offset</td>
      <td *ngFor="let cell of header" class="offset">{{cell}}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows$ | async; let i = index">
      <td class="offset">{{rowOffset(i)}}</td>
      <td class="content" *ngFor="let byte of row.hex">{{byte}}</td>
    </tr>
  </tbody>
</table>

<table class="monospace chars-table">
  <thead>
    <tr>
      <td *ngFor="let cell of header" class="offset">{{cell}}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows$ | async">
      <td class="content" *ngFor="let char of row.chars">{{char}}</td>
    </tr>
  </tbody>
</table>
