@use '@angular/material' as mat;
@use '../../material-theme' as c;
@use '../../main' as main;

$max-width: 1280px;
$width: 80%;

.client-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .fqdn-chips {
    display: flex;
    align-items: center;
    margin-left: -36px;

    .computer-icon {
      margin-right: 10px;
    }

    h1 {
      margin-bottom: 0;
    }

    .chips {
      margin-left: 10px;
    }
  }

  .chips {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &.labels {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    mat-chip {
      min-height: 26px;
      font-size: 13px;

      &:first-child {
        margin-left: 0;
      }
    }

    .add_label {
      margin-left: 0.5em;
      border-radius: 2em;
      padding-left: 8px;
      min-height: 26px;
      line-height: 16px;
      font-family: c.$google-sans-family;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .copy-button {
      color: mat.get-color-from-palette(c.$foreground, icon-grey);
    }

    .os {
      margin-right: 10px;
    }
  }
}

.no-padding {
  padding: 0;
}

.goto-details {
  margin-top: 1em;
}
