<div class="client-header">
  <div class="fqdn-chips">
    <mat-icon class="computer-icon">computer</mat-icon>
    <div class="fqdn">
      <a
        [routerLink]="['/clients', (client$ | async)?.clientId]"
        class="text-link-hover"
      >
        <h1>
          <ng-container *ngIf="(client$ | async) as client">
            {{ client.knowledgeBase.fqdn || client.clientId }}
          </ng-container>
        </h1>
      </a>
    </div>

    <div class="chips">
      <mat-chip-list [selectable]="false" [tabIndex]="-1">
        <mat-chip
          *ngIf="(client$ | async)?.fleetspeakEnabled === false"
          class="red-chip"
          color="custom"
          [matTooltip]="'This client uses a deprecated communication protocol. Install a new GRR version that uses Fleetspeak to be able to access this client in the future.'"
          disabled
        >
          <mat-icon>error_outline</mat-icon>
          Outdated
        </mat-chip>
        <app-approval-chip
          *ngIf="showApprovalChip$ | async"
          [approval]="approval$ | async"
        ></app-approval-chip>
        <online-chip
          *ngIf="(client$ | async) as client"
          [lastSeen]="client.lastSeenAt"
        ></online-chip>
        <ng-container *ngIf="showOnlineNotificationToggle$ | async">
          <mat-chip
            *ngIf="activeOnlineNotificationArgs$ | async as args; else onlineNotificationButton"
            matTooltip="We will send an email to {{args.email}} when the client comes online the next time."
            disabled
          >
            <mat-icon>notifications_active</mat-icon> Notifying when online
          </mat-chip>
          <ng-template #onlineNotificationButton>
            <button
              mat-button
              type="button"
              (click)="triggerOnlineNotification()"
              name="online-notification"
            >
              <mat-icon>notifications</mat-icon> Notify when online
            </button></ng-template
          >
        </ng-container>
      </mat-chip-list>
    </div>
  </div>

  <ng-container *ngIf="!collapsed">
    <div class="chips labels">
      <mat-chip-list>
        <a
          *ngFor="let label of (client$ | async)?.labels; trackBy: labelsTrackByName"
          [routerLink]="['/clients']"
          [queryParams]="{'q': 'label:' + label.name}"
        >
          <mat-chip (removed)="removeLabel(label.name)">
            {{label.name}}
            <mat-icon
              matChipRemove
              [matTooltip]="'Remove label from this client'"
              (click)="$event.preventDefault()"
              >close</mat-icon
            >
          </mat-chip>
        </a>
        <button
          *ngIf="client$ | async as client"
          mat-button
          class="add_label"
          (click)="openAddLabelDialog(client.labels)"
        >
          <mat-icon>add</mat-icon>Add label
        </button>
      </mat-chip-list>
    </div>

    <div class="info">
      <table class="column">
        <tr>
          <td>ID:</td>
          <td>
            <app-copy-button
              ><span>{{ (client$ | async)?.clientId }}</span></app-copy-button
            >
          </td>
        </tr>
        <tr>
          <td>FQDN:</td>
          <td>
            <app-copy-button>
              <span>{{ (client$ | async)?.knowledgeBase?.fqdn }}</span>
            </app-copy-button>
          </td>
        </tr>
        <tr class="os">
          <td>OS:</td>
          <td>
            <app-copy-button
              ><span>
                {{ (client$ | async)?.osInfo?.system }} {{ (client$ |
                async)?.osInfo?.version }} {{ (client$ | async)?.osInfo?.kernel
                }}
              </span>
            </app-copy-button>
          </td>
        </tr>
        <tr class="users">
          <td>Users:</td>
          <td>
            <app-copy-button *ngIf="client$ | async as client"
              ><span>{{ formatUsers(client.users) }}</span></app-copy-button
            >
          </td>
        </tr>
      </table>

      <table class="column">
        <tr class="users">
          <td>Agent:</td>
          <td>
            <app-copy-button
              ><span>
                {{ (client$ | async)?.agentInfo?.clientDescription }} {{
                (client$ | async)?.agentInfo?.clientVersion }}</span
              >
            </app-copy-button>
          </td>
        </tr>
        <tr class="last-seen">
          <td>Agent built:</td>
          <td>
            <app-timestamp
              [date]="(client$ | async)?.agentInfo?.buildTime"
              relativeTimestamp="visible"
            ></app-timestamp>
          </td>
        </tr>
        <tr class="last-seen">
          <td>First seen:</td>
          <td>
            <app-timestamp
              [date]="(client$ | async)?.firstSeenAt"
              relativeTimestamp="visible"
            ></app-timestamp>
          </td>
        </tr>
        <tr class="last-seen">
          <td>Last seen:</td>
          <td>
            <app-timestamp
              [date]="(client$ | async)?.lastSeenAt"
              relativeTimestamp="visible"
            ></app-timestamp>
          </td>
        </tr>
      </table>
    </div>

    <div class="buttons">
      <a
        *ngIf="client$ | async as client"
        mat-stroked-button
        class="goto-details"
        [drawerLink]="['details', client.clientId]"
        color="primary"
      >
        <mat-icon>menu_open</mat-icon>
        View details
      </a>
      <ng-content></ng-content>
    </div>
  </ng-container>
</div>
