@use "@angular/material" as mat;
@use "../../material-theme" as c;
@use "../../main" as main;

$max-width: 1280px;
$width: 80%;

.client-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: c.$container-padding;

  .fqdn-chips {
    display: flex;
    align-items: center;
    margin-left: -36px;

    .computer-icon {
      margin-right: 10px;
    }

    h1 {
      margin-bottom: 0;
    }

    .chips {
      margin-left: 10px;
    }
  }

  .chips {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 26px;

    mat-chip {
      min-height: 26px;
      font-size: 13px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    column-gap: c.$container-padding;

    table td {
      white-space: nowrap;

      &:first-of-type {
        color: mat.get-color-from-palette(c.$foreground, text-light);
      }

      &:last-of-type {
        min-width: 150px;
        max-width: 250px;

        app-copy-button {
          max-width: 100%;

          span {
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: c.$container-padding;
  }
}

.no-padding {
  padding: 0;
}
