@import 'material-theme';

// Initialize Angular material theme.
// Include non-theme styles for core.
@include mat-core($custom-typography);
// Include all theme-styles for the components based on the current theme.
@include angular-material-theme($theme);

app,
body,
html {
  display: block;
  height: 100%;
  margin: 0;
  width: 100%;
}

.flow-details-summary-actions {
  position: absolute;
  right: 86px;
  top: 1.6em;
}

.monospace,
.mat-input-element.monospace {
  font-family: 'Roboto Mono', monospace;
}
