@import '~@angular/material/theming';

// Angular Material theme definition.

// Include non-theme styles for core.
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

// Include all theme-styles for the components based on the current theme.
@include angular-material-theme($theme);
